.virtual-estimate__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .progress-step {
        position: relative;
        //width: calc(100% / 3 - 2px);
        text-align: center;
        background-color: #efefef;
        padding: 18px;
        font-size: 16px;
        font-weight: bold;
        color: #9b9b9b;

        cursor: pointer;

        .gt {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);

            width: 10px;
            height: 16px;

            > img {
                width: 100%;
                height: 100%;
            }
        }

        &.active {
            color: #000;
        }
    }
}
