.main__consult__bar {
	a,
	a:link,
	a:active,
	a:visited,
	a:hover {
		color: #666;
	}

	> .title {
		font-size: 1.875em;
		font-weight: bold;
		line-height: 1.5;
		text-align: center;
	}

	> .description {
		margin-top: 15px;
		font-size: 1.25em;
		text-align: center;
	}

	> .content {
		display: flex;
		flex-direction: row;
		margin-top: 35px;

		.label {
			color: #666;
			margin-bottom: 10px;
		}

		.phone {
			flex: 1 1 100%;

			.phone__form {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 54px;

				> .dropdown__container {
					flex: 1 1 30%;
					height: 100%;
					text-align: center;

					.dropdown__item {
						height: 54px;
					}
				}

				> ._input {
					flex: 1 1 30%;
					text-align: center;
				}

				> span {
					flex: 0 0 auto;
					margin: 0 5px;
				}
			}
		}

		.name {
			margin-right: 60px;
		}

		.email,
		.name {
			flex: 1 1 100%;
			//margin-left: 60px;

			.email__form,
			.name__form {
				height: 54px;
			}
		}

		._input {
			height: 100%;
			font-size: 1em;
		}
	}

	.required {
		display: inline-flex;
		margin-left: 5px;
	}

	> .agree {
		margin-top: 40px;
		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	> .buttons {
		margin-top: 20px;
		text-align: center;

		._button {
			width: 360px;
			height: 60px;
			font-size: 1.125em;
			border-color: #f5a623;
			background-color: #f5a623;
		}
	}
}