.about-artist-rightside_product {
	position: relative;
	padding-bottom: 50px;
	.product-check-box {
		position: absolute;
		right: 0;
		top: 0;
		> button {
			&:first-child {
				margin-right: 10px;
			}
		}
	}
	> .title {
		font-size: 1.019em;
		font-weight: bold;
		letter-spacing: -0.9px;
		padding-bottom: 15px;
		position: relative;

		//> button {
		//	position: absolute;
		//	right: 0;
		//}
	}

	.about-artist-product-list_none {
		text-align: center;
		padding: 30px;
		.text {
			font-size: 20px;
			margin-bottom: 20px;
			font-weight: bold;
			color: #969696;
		}
		.image-wrap {
			width: 300px;
			height: 100%;
			display: inline-block;
		}
	}

	.product-list {
		display: flex;
		flex-wrap: wrap;
		.product-item {
			position: relative;
			color: #000;
			//flex: 3 0 205px;
			width: 205px;
			//width: 216px;
			//height: 235px;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			border: 1px solid #e1e1e1;
			margin-left: 11px;
			margin-bottom: 12px;
			cursor: pointer;

			&:nth-child(3n - 2) {
				margin-left: 0;
			}

			.category-name {
				position: absolute;
				top: 10px;
				left: 10px;
				z-index: 100;
				font-size: .75em;
				padding: 1px 3px;
				background-color: #ececec;
				border: 1px solid #e1e1e1;
				font-weight: 400;
				color: #8b8b8e;
			}
		}
	}

	.product-list .product-item {
		.image-part {
			height: 168px;
		}

		.content-part {
			padding: 10px;
			display: flex;
			align-items: center;
			width: 100%;
			&_profile {
				padding-right: 5px;
			}

			.product-id {
				width: 70%;
			}
		}

		.content-part .product-id {
			.title {
				font-size: 13.7px;
				letter-spacing: -0.7px;
				padding-bottom: 10px;
				height: 40px;
				line-height: normal;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
				word-wrap: break-word;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				word-break: keep-all;
			}

			.price {
				font-size: 12px;
				color: #969696;
			}
		}
	}
}
