@import "desktop/resources/scss/mixins/button";

// button shape
.btn {
    @include button();

    &.hide {
        display: none;
    }
}

.btn-circle {
    border-radius: 1.5em;
}

.btn-round {
    border-radius: 0.4em;
}

.btn-rect {
    border-radius: 0;
}

// button size
.btn-tiny {
    font-size: 12px;
    height: 19px;
    border-width: 1px;
}

.btn-small {
    font-size: 15px;
    height: 34px;
    border-width: 1px;
}

.btn-large {
    font-size: 22px;
    height: 62px;
    border-width: 2px;
}

.btn-xlarge {
    font-size: 24px;
    height: 82px;
    border-width: 2px;
}

// button width
.btn-block {
    width: 100%;
}

.btn-w52 {
    width: 52px;
}

.btn-w68 {
    width: 68px;
}

.btn-w83 {
    width: 83px;
}

.btn-w113 {
    width: 113px;
}

.btn-w135 {
    width: 135px;
}

.btn-w179 {
    width: 179px;
}

.btn-w276 {
    width: 276px;
}

.btn-w310 {
    width: 310px;
}
.btn-w412 {
    width: 412px;
}
.btn-w491 {
    width: 491px;
}

// button theme
.btn-default {
    color: #000;
    background-color: transparent;
    border-color: #000;

    &:hover,
    &:focus,
    &.active {
        color: #fff;
        background-color: #000;
    }
}

.btn-reverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;

    &:hover,
    &:focus,
    &.active {
        color: #000;
        background-color: #fff;
    }
}

.btn-muted {
    color: #969696;
    background-color: transparent;
    border-color: #e1e1e1;

    &:hover,
    &:focus,
    &.active {
        color: #969696;
        background-color: #e1e1e1;
    }
}

.btn-blue {
    color: #fff;
    background-color: #4b8bff;
    //border-color: #4b8bff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus,
    &.active {
        color: white;
        background-color: #3079fd;
    }
}

.btn-gray {
    color: #969696;
    background-color: transparent;
    border-color: #969696;

    &:hover,
    &:focus,
    &.active {
        color: #fff;
        background-color: #969696;
    }
}

.btn-bg-lightgray {
    color: #969696;
    background-color: #f6f6f6;
    border-color: #e1e1e1;

    &:hover,
    &:focus,
    &.active {
        background-color: #969696;
        border-color: #969696;
        color: #fff
    }
}

.btn-bg-white {
    color: #969696;
    background-color: #fff;
    border-color: #e1e1e1;

    &:hover,
    &:focus,
    &.active {
        background-color: #fff;
        border-color: #969696;
        color: #000
    }
}

.btn-pink {
    color: #ff326c;
    background-color: transparent;
    border-color: #ff326c;

    &:hover,
    &:focus,
    &.active {
        color: #fff;
        background-color: #ff326c;
    }
}

.btn-yellow {
    color: #ffba00;
    background-color: transparent;
    border-color: #ffba00;

    &:hover,
    &:focus,
    &.active {
        color: #fff;
        background-color: #ffb000;
    }
}

.btn-opacity {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);

    &:hover,
    &:focus,
    &.active {
        color: #000;
        background-color: rgba(255, 255, 255, 1);
    }
}

.btn-opacity-low {
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);

    &:hover,
    &:focus,
    &.active {
        background-color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }
}

.btn-fill-emphasis {
    color: #fff;
    background-color: #ffba00;
    border-color: #ffba00;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);

    &:hover,
    &:focus,
    &.active {
        color: #fff;
        background-color: #ffae00;
        border-color: #ffae00;
    }
}

.btn-fill-pink {
    $btn-pink-color: #ff326c;
    background-color: $btn-pink-color;
    border-color: $btn-pink-color;
    color: #fff;

    &:hover,
    &:focus,
    &.active {
        background-color: darken($btn-pink-color, 15%);
        border-color: darken($btn-pink-color, 20%);
        color: #fff;
    }

    &:disabled,
    &.disabled {
        background-color: #fff;
        border-color: #e1e1e1;
        color: #969696;
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.btn-fill-dark {
    color: #fefefe;
    background-color: #494f59;
    border-color: #494f59;

    &:hover,
    &:focus,
    &.active {
        color: #fefefe;
        background-color: #000;
        border-color: #000;
    }
}

.btn-fill-facebook {
    color: #fefefe;
    background-color: #39579a;
    border-color: #39579a;

    &:hover,
    &:focus,
    &.active {
        background-color: #2d457b;
        border-color: #2d457b;
    }
}

.btn-fill-naver {
    color: #fefefe;
    background-color: #00ca00;
    border-color: #00ca00;

    &:hover,
    &:focus,
    &.active {
        background-color: #00be00;
        border-color: #00be00;
    }
}

.btn-fill-enter {
    color: #fefefe;
    background-color: #52c1a3;
    border-color: #52c1a3;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus,
    &.active {
        color: #fefefe;
        background-color: #1bbdc1;
        border-color: #1bbdc1;
    }
}

.btn-more {
    display: block;
}
