.ex_card__head {
	font-family: "Noto Sans KR", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
	&-box {
		position: relative;
		display: inline-block;
	}
	&-box__bg {
		position: relative;
		height: 400px;
	}

	&-box__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 40px 60px;
	}

	&__content-head {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		justify-content: space-between;

		> p {
			color: #fff;
			font-size: 18px;
			font-weight: 500;
		}
	}

	&__content-body {
		padding-top: 70px;
	}

	&__category {
		> p {
			display: inline-block;
			font-size: 18px;
			color: #fff;
			padding: 5px 10px;
			text-align: center;
			border: 1px solid #fff;
			margin-bottom: 25px;
		}
	}

	&__title {
		//font-family: "Nanum Myeongjo", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
		font-size: 50px;
		line-height: 1.26;
		letter-spacing: -0.9px;
		text-align: center;
		color: #fff;
	}
}