.virtual-estimate__steps {
    margin-top: 20px;
    position: relative;

    &__title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }

    &__caption {
        font-size: 13px;
        color: #666;
        margin-bottom: 10px;
        min-height: 20px;
        text-align: center;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

    .info-item {
        width: 100%;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #dedede;

        &.full-prop {
            display: flex;
            flex-direction: column-reverse;
            .info-item__head {
                border-bottom: none;

                .test {
                    margin-top: 0;
                    width: 100%;
                    justify-content: space-between;
                    .head-title-wrap {
                        justify-content: flex-start;
                        .head-caption {
                            font-size: 15px;
                        }
                        .radio-btn {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .info-item__body {
                padding: 20px 20px 0;
            }
            .body-caption {
                font-size: 15px;
                font-weight: bold;
            }
        }

        &:nth-child(n + 2) {
            margin-top: 5px;
        }

        &__head {
            padding: 10px 20px;
            min-height: 55px;
            border-bottom: 1px solid #dedede;
            width: inherit;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .head-title-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                //margin-bottom: 6px;

                &.fashion:nth-child(n + 2) {
                    margin-left: 15px;
                }
            }

            .head-title {
                font-size: 15px;
                    font-weight: bold;
                    line-height: 18px;
                }

                //.head-caption {
                //    line-height: 1.54;
                //    word-break: keep-all;
                //}

                &.all-height {
                    height: inherit;
                }
        }

        &__body {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .another-button {
                display: flex;
                height: 60px;
                align-items: flex-start;
            }

            &__text-box {
                flex: 0 1 auto;
                margin-left: 10px;
                width: calc(100% - 80px - 30px);

                .body-title {
                    font-size: 15px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }

            .info-item__image {
                width: 80px;
                height: 80px;
                margin-left: 10px;
                flex-basis: 90px;
            }

            .body-caption {
                font-size: 13px;
                line-height: 1.54;
                word-break: keep-all;
            }
        }

        &.bar-sec {
            width: 100%;
            height: 54px !important;
            background-color: #efefef;
            padding: 15px 0 15px 30px;
            margin-left: 0 !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .box-title {
                margin-left: 10px;
                font-size: 18px;
                font-weight: bold;
            }

            .box-caption {
                margin-left: 7px;
                font-size: 16px;
                font-weight: normal;
                color: #666666;
            }

            &:nth-child(n + 2) {
                margin-top: 5px;
            }
        }

        &.directing {
            //width: 600px;
            margin-left: 0 !important;
            width: 100%;
            border: solid 1px #dedede;
            padding: 15px;
            text-align: center;
            height: 66px;
            margin-top: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            > .footer-input__box {
                margin-top: 0;
                > input {
                    height: 36px;
                    width: 230px;
                }
            }

            > p {
                font-size: 18px;
                font-weight: normal;
                margin-right: 14px;
            }
        }

        &.third-nukki {
            width: 100%;
            display: flex;
            //align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #dedede;

            padding: 20px;

            > p {
                font-size: 15px;
                font-weight: bold;
                letter-spacing: normal;
                color: #000000;
                margin-bottom: 5px;
            }
        }

        .check-box {
            cursor: pointer;
            position: relative;
            margin-right: 5px;
            background-color: #fff;

            &.select {
                .select-box {
                    border-color: #fcae2f;
                }

                .select-box .check-mark {
                    &:after {
                        border-color: #fcae2f;
                    }
                }
            }
        }

        .select-box {
            width: 24px;
            height: 24px;
            //margin-right: 5px;
            border: 2px solid #cdcdcd;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: border 0.2s, background-color 0.2s;
        }

        .select-box .check-mark {
            &:after {
                content: "";
                position: relative;
                display: flex;
                justify-content: center;
                width: 7px;
                height: 11px;
                border: solid #cdcdcd;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                top: -2px;
            }
        }
    }

    &__arrow {
        position: relative;
        margin-top: 10px;

        .step-left-arrow i {
            left: 16px;
        }

        .step-right-arrow i {
            right: 16px;
        }

        .step-arrow {
            position: relative;
            font-size: 12px;
            font-weight: bold;

            display: flex;
            justify-content: space-between;

            &.full {
                .step-button {
                    width: 100%;
                }
            }

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .step-button {
                position: relative;
                font-weight: bold;
                color: #aaa;
                font-size: 14px;

                padding: 14px 16px 16px;
                background-color: #ddd;

                display: flex;
                align-items: center;
                justify-content: center;

                letter-spacing: normal;

                width: calc(100% / 2 - 3px);
            }

            //.last-step-button {
            //    &.active {
            //        background-color: #f7b500;
            //    }
            //}

            .step-right-arrow {
                &.active {
                    background-color: #f7b500;
                }
            }

            .active {
                color: #000;
                cursor: pointer;
            }
        }
    }

    .last-step {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        .full-side {
            background-color: #fff;
            border: 1px solid #dedede;
            padding: 20px;

            .info-item {
                border: none;
                padding: 0;

                .info-item__body {
                    padding: 0;
                }
            }
        }

        .caption {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 10px;
        }

        .info-item-box {
            &.column-dir {
                flex-direction: column;
            }
        }

        &.food {
            .info-item-box:nth-child(n + 2) {
                margin-left: 15px;
            }
        }
    }

    .third-directing {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .caption {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }

    .info-item-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .radio-btn {
        margin-right: 5px;
        cursor: pointer;
        position: relative;
        .circle-outer {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            border: 1px solid #cdcdcd;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #fff;
        }

        &.select {
            .circle-outer {
                border-color: #fcae2f;
            }
            .circle-inner {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #fcae2f;
            }
        }
    }

    .info-item-outer {
        display: flex;
        width: 100%;

        &:nth-child(n + 2) {
            margin-top: 15px;
        }

        &.bar {
            flex-direction: column;
            width: 100%;
            min-height: 210px;
            border: 1px solid #dedede;
            padding: 25px 60px 30px;

            .bar-title {
                font-size: 18px;
                font-weight: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                margin-bottom: 15px;
            }
        }
    }

    .footer-input__box {
        //margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            outline: none;
            border: none;
            background-color: #efefef;
            padding: 6px;
            font-size: 15px;
            font-weight: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000;

            border-radius: 5px;
        }

        .input-title {
            margin-right: 10px;
        }

        .input-unit {
            margin-left: 10px;
        }

        .virtual-input {
            width: 93px;

            &.bg-white {
                background-color: #fff;
            }

            &.free {
                width: 300px;
            }
        }
    }

    .flexArea {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .test {
        margin-top: 12px;
        .footer-title-wrap:nth-child(n + 2) {
            margin-left: 38px;
        }
    }
}
