.charge-artist__info {
	margin-top: 30px;
	background-color: #fff;
	padding: 30px 20px;

	.info-title {
		font-size: 16px;
		font-weight: bold;
		letter-spacing: normal;
		margin-bottom: 10px;
	}
	.info-check {
		font-size: 16px;
		font-weight: 500;
		letter-spacing: normal;
		color: #e02020;
		margin-bottom: 10px;
	}
	.info-content {
		&__list {

		}

		&__list-unit {
			font-size: 12px;
			letter-spacing: normal;
			color: #666666;
			&:nth-child(n + 2) {
				margin-top: 5px;
			}

			> p:before {
				content: "-";
				margin-right: 3px;
			}
		}
	}
}