// 기업상세 레이아웃 style
.product-detail-business {
	background-color: #f9f9f9;
	// 상품상세 컨텐츠 최소 높이
	min-height: calc(100vh - 110px - 190px);
	//padding: 0 0 60px 0;
}

.business__detail {
	&__content-box {
	}

	&__content {
		width: 100%;
	}

	.content-box {
		&.flex-area {
			display: flex;
		}

		&.space-between {
			//align-items: center;
			justify-content: space-between;
		}
	}

	&__leftSide {
		width: 640px;
	}

	&__rightSide {
		width: 330px;
	}

	// 컨텐츠 박스 로우
	&__content-row {
		&:nth-child(n + 2) {
			margin-top: 30px;
		}
	}
}