@import "desktop/resources/scss/variables";
$border-color: #dedede;
//@import "shared/components/estimate/style/style_pc.scss";

.product_list {
	background-color: #fff;
	.product__dist {
		padding-top: 50px;
	}

	.product__hr {
		border-bottom: 1px solid $border-color;
	}

	.section-title {
		font-size: 30px;
		font-weight: bold;
	}

	.consult__bar {
		padding-bottom: 60px;
	}

	.product__example__review {
		padding: 60px 0;
        background-color: #f9f9f9;

		.example__review {
			margin-top: 30px;
		}
	}

    .concept__banner {
        .banner__content {
            width: $container-width;
            margin: 0 auto;
            padding: $grid-gutter;
        }
    }
}
