.users-account {
    padding-bottom: 1rem;
    //background-color: #fafafa;

    .fors-dropdown {            // 드롭다운 재정의
        .fors-select-view {
            border-radius: 7px;
            height: 2.8rem;
            border: 1px solid #e1e1e1;
            padding: 0 1.104em;
            letter-spacing: -.6px;
        }
    }

    ._button {
        width: 150px;
        height: 2.8rem;
        border-radius: 7px;
        letter-spacing: -.6px;
        padding: 0;
    }
}

.dropdown-wrap {
    display: flex;
    .fors-dropdown {
        display: flex;
        flex: 1 1 auto;

        &:nth-child(1) {
            width: 25vw;
        }
        &:nth-child(2) {
            width: 18vw;
        }
        &:nth-child(3) {
            width: 18vw;
        }

        .fors-select-view {
            width: 95%;

            .icon {
                position: absolute;
                right: 7px;
            }
        }
    }
}

.user-profile {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    padding: 1rem 0;
    > div {
        display: flex;
        flex-direction: column;
        width: 100vw;
        //height: 20vh;
        align-items: center;
        justify-content: center;
        .text_changeProfile {
            padding-top: 2.5vh;
            font-weight: 500;
            letter-spacing: -1px;
        }
    }
}

.user-profile_img {
    position: relative;
    .profile_img-outer {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        vertical-align: middle;
        overflow: hidden;
        z-index: 0;
    }

    .cameraIcon {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #ffba00;
        border-radius: 100%;
        bottom: 0;
        right: 0;
        &-inner {
            position: relative;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .users-profile-image {
        display: none;
    }
}

.user-info {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    padding: 0.725rem;

    &.social {
        margin-top: 0.7125rem;
        border-top: 1px solid #e1e1e1;
    }

    &-save {
        padding: 0.725rem;
    }

    &.logout {
        border-top: 1px solid #e1e1e1;
        margin-top: 0.7125rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > button {
            width: 25vw;
        }
    }
}

.info-content {
    padding-left: 4.25rem;
    position: relative;
    margin-bottom: 0.675rem;

    .info__row {
        display: flex;
        flex-direction: row;

        > :nth-child(n) {
            flex: 1 1 auto;
        }

        > :nth-child(n+2) {
            margin-left: 10px;
        }
    }

    .content-name {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        .isRequired {
            color: #ff326c;
        }
    }

    > input {
        width: 100%;
        height: 2.8rem;
        border-radius: 7px;
        border: 1px solid #e1e1e1;
        padding: 0 1.104em;
        letter-spacing: -.6px;
        color: #474747;
        &:disabled {
            background-color: #f6f6f6;
        }
    }

    .email__agree {
        display: flex;
        flex-direction: row;
        margin: 15px 0;
    }

    .info__check {
        display: flex;
        flex: 0 0 auto;
        border: 1px solid #e1e1e1;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        &.active {
            background-color: #ffba00;
            border-color: #ffba00;
        }
    }
}

#email_signCode {
    margin-bottom: 0.5rem;
}
