@import "desktop/resources/scss/variables";

#site-main {
    .outside__consult__page {
        .outside__consult__content {
            padding: 60px 60px 80px;
            border-left: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
        }
    }
}

.outside__consult__page {
    width: $container-width;
    margin: 0 auto;
    padding: 0 $grid-gutter;
    background-color: #fff;

    .outside__consult__password {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: map_get($z-index, "header");

        .outside__bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #6c6c6c;
            z-index: -1;
        }

        .outside__wrap {
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .outside__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: $container-width;
            height: 100%;
            margin: 0 auto;
            padding: 60px $grid-gutter;
        }

        .consult__logo {
            text-align: center;
        }

        .outside__about {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: center;
            margin-top: 65px;

            > :nth-child(n+2) {
                margin-left: 117px;
            }
        }

        .outside__row {
            flex: 0 0 auto;
            text-align: center;
            color: #fff;

            .outside__icon {
                margin-bottom: 30px;
            }

            .outside__title {
                font-size: 1.375em;
            }

            .outside__content {
                margin-top: 15px;
                line-height: 1.6em;
            }
        }

        .outside__password {
            width: 630px;
            margin: 80px auto 0;
            visibility: hidden;

            &.show {
                visibility: visible;
                transition: visibility 0.4s;
            }

            .password__title {
                color: #fff;
                font-size: 1.125em;
                font-weight: 300;
                text-align: center;
            }

            .password__form {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 66px;
                margin-top: 16px;

                > :nth-child(n+2) {
                    margin-left: 10px;
                }

                ._input {
                    flex: 1 1 auto;
                    height: 100%;
                    border-radius: 6px;
                    font-size: 1em;
                    letter-spacing: 10px;
                    text-align: center;

                    &.none__spacing {
                        letter-spacing: 0;
                    }
                }

                ._button {
                    flex: 0 0 120px;
                    height: 100%;
                    border-radius: 6px;
                    font-size: 1.25em;
                }
            }
        }
    }

    .outside__consult__content {
        position: relative;
        background-color: #fff;
        padding: 40px;
        overflow: hidden;

        .consult__logo {
            text-align: center;

            .consult__logo__title {
                margin-top: 10px;
                font-size: 1.5em;
                font-weight: bold;
                line-height: 1;
            }
        }

        .consult__content {
            margin-top: 40px;
        }
    }

    .outside__consult__detail {
        .consult__row__content {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;

            > :nth-child(n+2) {
                margin-left: 60px;
            }

            .consult__row {
                flex: 0 1 50%;
                margin-top: 0;
            }
        }

        > :nth-child(n+2) {
            margin-top: 35px;
        }

        .consult__row {
            border-bottom: 1px solid #ccc;

            &.trans {
                border: 0;
            }

            > .title {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-end;
                border-bottom: 2px solid #000;
                padding: 0.643em 0;
                font-weight: bold;
                line-height: 1;

                &.trans {
                    border: 0;
                }
            }

            > table {
                width: 100%;

                &.fixed {
                    table-layout: fixed;
                }

                $th_padding: 0.857em;

                tr {
                    th {
                        padding: $th_padding 0;
                        color: #666;
                        font-weight: 500;
                    }

                    td {
                        padding: 0 10px;
                        height: 50px;
                        vertical-align: middle;
                        text-align: right;
                        word-wrap: break-word;
                        word-break: break-all;
                    }
                }

                tbody {
                    tr:nth-child(n+2) {
                        border-top: 1px solid #ccc;
                    }

                    th {
                        padding: 0 10px;
                        height: 50px;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }

            .text__box {
                padding: 20px;
                background-color: #fafafa;
                border: 1px solid #ccc;
                line-height: 1.88;
            }
        }
    }

    .consult__file__upload {
        input {
            display: none;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }

        .consult__file__list {
            min-height: 222px;
            border: 2px dashed #e0e0e0;
            border-radius: 5px;

            .list__container {
                display: flex;
                flex-flow: row wrap;
                padding: 5px;
            }

            .file__item {
                flex: 0 0 50%;
                height: 74px;
                overflow: hidden;

                &:hover {
                    .file__item__content {
                        background-color: #f5a623;
                        border-color: #f5a623;
                    }

                    .item__info {
                        .title,
                        .description {
                            color: #fff;
                        }
                    }

                    .item__button {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }

                .file__item__container {
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                }

                .file__item__content {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    height: 100%;
                    padding: 0 30px;
                    border: 1px solid #e0e0e0;
                    border-radius: 5px;

                    &.file__add {
                        justify-content: center;
                        background-color: #e1e1e1;
                        border: 0;
                        color: #fff;
                        font-size: 1.438em;
                        cursor: pointer;
                    }
                }

                .item__icon {
                    flex: 0 0 auto;
                    margin-right: 30px;
                }

                .item__info {
                    flex: 1 1 auto;
                    overflow: hidden;

                    .title {
                        color: #333;
                        font-size: 0.938em;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .description {
                        color: #9b9b9b;
                        font-size: 0.813em;
                        margin-top: 2px;
                    }
                }

                .item__button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 auto;
                    margin-left: 30px;
                    padding: 3px;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 4px;
                    cursor: pointer;

                    ._button {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                    }
                }

                .item__progress {
                    $trans: 1;
                    width: 100%;
                    height:12px;
                    margin-top: 2px;
                    background-image: linear-gradient(45deg, rgba(255, 255, 255, $trans) 25%, rgba(241, 241, 241, $trans) 25%, rgba(241, 241, 241, $trans) 50%, rgba(255, 255, 255, $trans) 50%,rgba(255, 255, 255, $trans) 75%, rgba(241, 241, 241, $trans) 75%, rgba(241, 241, 241, $trans));
                    background-size: 16px 16px;
                    border-radius: 3px;
                    border: 1px solid #f1f1f1;
                    overflow: hidden;

                    > div {
                        width: 0;
                        height: 100%;
                        animation: progress-action 1s linear infinite;
                        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%,rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
                        background-size: 16px 16px;
                        background-color: #ffba00;
                        transition: width 0.4s ease;
                    }
                }
            }
        }
    }
}
