@import "desktop/resources/scss/mixins";
@import "../../business/scss/variable";

.charge-products {
	background-color: #fff;
	padding: 50px 0 60px;

	&__head {

	}

	&__title {
		font-size: 30px;
		font-weight: bold;
		letter-spacing: normal;
		text-align: center;
	}

	&__content {
		margin-top: 22px;
		margin-bottom: 30px;

		@include base-flex;
		justify-content: start;
	}

	&__item {
		width: 242px;
		height: 280px;
		border: $base-border;
		cursor: pointer;

		.item__info {
			height: 100px;
			padding: 14px 12px;
			cursor: pointer;

			display: flex;
			align-items: start;
			justify-content: space-between;
			flex-direction: column;
			text-align: left;

			.product-title {
				color: #000;
				line-height: 1.38;
				word-break: break-word;
			}

			.from-artist {
				font-size: 12px;
				font-weight: normal;
				letter-spacing: normal;
				color: #666666;
				width: 100%;

				@include ellipsis;
			}
		}

		.item__thumb {
			height: 180px;
		}

		&:nth-child(n + 2) {
			margin-left: 20px;
		}
	}
}