.charge-artist__paymethod {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 60px;
	width: 435px;
	border: 1px solid #cdcdcd;
	border-radius: 6px;
	margin: 0 auto;
	padding: 0 20px;

	.paymethod-box {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.paymethod-title {
		flex: 0 1 auto;
	}

	.paymethod-content {
		flex: 1 1 auto;
		margin-left: 35px;
	}

	.paymethod {
		position: relative;
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		
		.select-circle {
			position: relative;
			float: left;
			content: "";
			width: 16px;
			height: 16px;
			border: 1px solid #000;
			border-radius: 16px;
			display: inline-block;
		}

		&.select {
			.select-circle:before {
				position: absolute;
				content: "";
				display: inline-block;
				width: 8px;
				height: 8px;
				background-color: #000;
				border-radius: 8px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.method-title {
			margin-left: 6px;
			font-size: 15px;
			font-weight: 300;
		}

		&:nth-child(n + 2) {
			margin-left: 27px;
		}
	}
}
