.portfolio-regist-container {
    .wrap {
        text-align: center;
        margin-bottom: 20px;
    }
    .page-title {
        font-weight: bold;
    }
    .page-description {
        margin: 10px 0;
        color: #969696;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;

        > p {
            font-size: 14px;
            line-height: 1.5;
        }
    }
}