.intro-estimate {
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    .artist-nickName {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}

.intro-estimate__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
    .contents-top {
        padding-bottom: 40px;
        width: 100%;
        .title {
            font-weight: bold;
            font-size: 44px;
            line-height: 1.04;
            letter-spacing: -2.2px;
            padding-bottom: 15px;
        }
        .caption {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.12;
            letter-spacing: -0.7px;
        }
    }
    .contents-middle {
        display: flex;
        flex-direction: row;
        padding-bottom: 70px;
        width: 100%;
        .button-title {
            font-size: 22px;
            padding-top: 25px;
            padding-bottom: 13px;
        }
        .button-caption {
            font-size: 0.8rem;
        }
        .button-left {
            width: 50%;
        }
        .button-right {
            width: 50%;
        }
    }
    .contents-bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        button {
            width: 50%;
            //font-size: 0.9rem;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
        }
        & > :first-child {
            margin-right: 30px;
        }
    }
}
