.popup__artist__nickname {
    width: 560px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;

    .popup__header {
        font-size: 1.875em;
        letter-spacing: -1.5px;
        text-align: center;
        background-color: #fafafa;
        padding: 30px 20px;
        border-bottom: 1px solid #e1e1e1;
    }

    .popup__body {
        > .title {
            font-size: 1.250em;
            background-color: #f1f1f1;
            padding: 20px;
            border-bottom: 1px solid #e1e1e1;
        }

        > .content {
            background-color: #fff;
            padding: 20px;

            .change__nickname {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;

                > :nth-child(n+2) {
                    margin-left: 20px;
                }

                > .title {
                    flex: 0 0 80px;
                }

                > .content {
                    flex: 1 1 auto;

                    .f__input {
                        height: 34px;
                    }

                    .content__error {
                        color: #ff326c;
                        font-size: 0.781em;
                        margin-top: 10px;
                    }
                }

                .check__duplication {
                    flex: 0 0 135px;

                    .f__button {
                        width: 100%;
                    }
                }
            }

            .description {
                color: #969696;
                font-size: 0.750em;
                line-height: 1.6;
                letter-spacing: -0.6px;
                background-color: #f1f1f1;
                border: solid 1px #e1e1e1;
                margin-top: 20px;
                padding: 10px;
            }
        }
    }

    .popup__footer {
        border-top: 1px solid #e1e1e1;
        background-color: #fafafa;
        padding: 30px 20px;

        .f__button {
            width: 100%;
        }
    }
}
