.ex_card__panel {
	margin-bottom: 100px;
	position: relative;
	display: inline-block;
	width: 100%;

	.panel_image {
		position: relative;
		&.mix {
			z-index: 1;
			float: right;
		}

		&.full {
			width: 100%;
			height: auto;
		}

		&.right {
			float: right;
		}

		&.left {
			float: left;
		}

		.mark {
			border-radius: 3px;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 5px 10px;
			color: #fff;
			position: absolute;
			z-index: 1;
		}

		.mark.top-right {
			top: 15px;
			right: 15px;
		}

		.mark.top-left {
			top: 15px;
			left: 15px;
		}

		.mark.bottom-right {
			bottom: 15px;
			right: 15px;
		}

		.mark.bottom-left {
			bottom: 15px;
			left: 15px;
		}
	}

	&__type {
		.mix {
			font-size: 32px;
			font-weight: bold;
			letter-spacing: -2px;
			margin-bottom: 55px;

			&:after {
				display: inline-block;
				content: "";
				margin-left: 20px;
				height: 3px;
				width: 80px;
				background-color: #000;
				top: -12px;
				position: relative;
			}
		}

		.sub_photo {
			&__image {

			}

			&__content {
				position: absolute;
				padding-left: 20px;
				bottom: 0;
				right: 0;
			}
		}
	}
}