.biz-review {
	background: url('#{$IMG_SERVER}/biz/review/bg-review.jpg') center center / cover no-repeat;
	height: 1100px;
	&__content {
		//height: 933px;
		background-color: #fff;
		padding: 70px;
		margin-top: 25px;
		box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
	}

	&__content-box {
		.arrows {
			display: flex;
			float: right;
			text-align: center;
		}

		.arrows-left {
			border-right: none !important;
		}

		.arrows-left,
		.arrows-right {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 30px;
			cursor: pointer;
			border: 1px solid #cdcdcd;

			&:hover {
				background-color: #000;
				border-color: #000;
			}
		}
	}

	&__content-box__head {
		display: flex;
		flex-direction: column;

		.artist {
			width: 80px;
			height: 80px;
			background-color: #000;
			color: #fff;
			word-break: keep-all;
			display: table;
			text-align: center;
			float: left;
			cursor: pointer;
		}

		.artist_info {
			margin-top: 25px;
			.title {
				font-size: 24px;
				margin-bottom: 10px;
			}

			.desc {
				font-size: 14px;
				color: #666;
			}
		}

		.artist > span {
			display: table-cell;
			vertical-align: middle;
			//font-family: "Nanum Myeongjo", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
		}
	}

	&__content-box__image {
		display: flex;
		flex: 1 1 auto;
		width: 100%;
		padding: 25px 0;
		justify-content: space-between;
		border-bottom: 2px solid #000;

		&-item {
			position: relative;
			width: 162px;
			height: 162px;
		}

		&-item .image-wrap {
			display: none;
		}

		&-item .image-wrap.on {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 1;
			align-items: center;
			justify-content: center;
			flex: 1 1 auto;
		}

	}

	&__content-box__review {
		&-item {
			padding: 25px 0;
			border-bottom: 1px solid #dedede;
			display: flex;
			flex: 1 1 auto;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			font-size: 14px;

			.text {
				line-height: 1.57;
			}

			.score {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex: 0 0 230px;
				margin-left: 10px;
			}

			.score .customer {
				color: #666666;
				margin-right: 10px;
			}
		}

	}

	&__content__dots {
		width: 100%;
		text-align: center;
		padding: 30px;

		> div {
			display: inline-flex;
		}
	}

	&__dot {
		&:after {
			content: "";
			width: 10px;
			height: 10px;
			display: inline-block;
			background-color: #fff;
			border-radius: 10px;
		}

		&:nth-child(n + 2) {
			margin-left: 5px;
		}
	}

	&__dot.active {
		&:after {
			width: 33px;
			background-color: #000;
		}
	}
}