.artist__calculate {
    &__search {
        padding: 20px;
        background-color: #f3f3f3;

        .search__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            > :nth-child(n+2) {
                margin-left: 20px;
            }

            .search__type {
                flex: 0 0 150px;
            }

            .search__period {
                display: flex;
                flex-direction: row;
                flex: 0 0 275px;

                .f__button {
                    max-width: 55px;
                    flex: 0 0 55px;
                }
            }

            .search__date {
                display: flex;
                flex-direction: row;
                flex: 0 0 270px;
                align-items: center;

                .f__input {
                    max-width: 90px;
                    height: 34px;
                    flex: 0 0 90px;
                    color: #969696;
                }

                .popdown-container {
                    flex: 0 0 auto;
                }
            }

            .search__submit {
                flex: 1 1 auto;
            }
        }

        .search__caption {
            font-size: 0.750em;
            line-height: 1.375;
            letter-spacing: -0.6px;
            text-align: center;
            color: #969696;
            margin-top: 16px;
        }

        .label {
            font-size: 0.906em;
            flex: 0 0 auto;
        }

        .fors-dropdown-desktop {
            font-size: 0.813em;

            .fors-select-view {
                input {
                    border-radius: 0;
                }
            }

            .fors-select-box {
                margin: 0;
                border-width: 1px;
                border-radius: 0;
            }
        }
    }

    &__list {
        padding-top: 50px;

        .table {
            th {
                border-right: none;
                position: relative;
            }

            td {
                vertical-align: middle;
                text-align: center;

                .calculate__receipt {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                }

                .crew__calculate {
                    ._button {
                        margin-top: 6px;
                        height: 28px;
                        font-size: 0.75em;
                    }
                }
            }

            .alert {
                position: relative;
                display: inline-block;
                margin-left: 5px;

                &:after {
                    background-color: #666;
                    color: #fff;
                    border: 1px solid #e1e1e1;
                    content: "!";
                    display: inline-block;
                    border-radius: 50%;
                    width: 18px;
                    font-size: 13px;
                    font-weight: bold;
                }
            }

            .info_calc {
                display: none;
                position: absolute;
                font-size: 12px;
                width: 165px;
                top: 0;
                padding: 10px;
                right: 0;
                text-align: center;
                transform: translate(90%, 15%);
                background-color: #999;
                color: #fff;
                &:before {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-color: #999;
                    border: red;
                    left: -5px;
                    top: 25%;
                    content: "";
                    position: absolute;
                    transform: rotate(45deg);
                }
            }
            
            .info_calc.on {
                display: block;
            }
        }

        .calculate__header {
            > .title {
                text-align: center;
                font-size: 1.875em;
            }

            > .content {
                margin-top: 10px;
                text-align: center;
                font-size: 0.750em;
                line-height: 1.6;
                color: #969696;
            }
        }

        .calculate__body {
            margin-top: 50px;

            .calculate__more {
                display: flex;
                flex-direction: row;
                margin-top: 10px;

                .f__button {
                    flex: 1 1 auto;
                }
            }
        }

        .product__info {
            text-align: left;
            cursor: pointer;

            .product__info__header {
                font-weight: bold;
            }

            .product__info__body {
                color: #969696;
                margin-top: 5px;
            }
        }

        .calculate__total__price {
            margin-top: 10px;
            border: 1px solid #e1e1e1;
            background-color: #fff;
            font-size: 0.912em;

            .total__price {
                display: flex;
                flex-direction: row;
                text-align: right;

                &:nth-child(n+2) {
                    border-top: 1px solid #e1e1e1;
                }

                &.artist__price {
                    > .price {
                        color: #ff326c;
                    }
                }

                > .title {
                    position: relative;
                    flex: 1 1 auto;
                    padding: 20px;
                }

                > .price {
                    flex: 0 0 120px;
                    border-left: 1px solid #e1e1e1;
                    padding: 20px;
                }

                .info_alert {
                    margin-top: 5px;
                    text-decoration: underline;
                    cursor: pointer;
                }

                .info {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    text-align: left;
                    border: 1px solid #595959;
                    padding: 10px;
                    font-size: 14px;
                    line-height: 1.6;
                    background-color: #eee;
                    transform: translate(-5%, 90%);
                }

                .info.on {
                    display: inline-block;
                }
            }
        }

        .calculate__status {
            .popdown-container {
                margin-top: 10px;
                justify-content: center;
            }

            .memo {
                text-decoration: underline;
            }

            .memo__content {
                width: 200px;
                padding: 15px;
                word-wrap: break-word;
                text-align: left;
                font-size: 0.9em;
            }
        }
    }

    &__modal {
        width: 900px;
        background-color: #fff;
        padding: 32px 50px 40px;

        .calculate__modal__header {
            position: relative;
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;

            ._button__close {
                position: absolute;
                width: 22px;
                height: 22px;
                right: 0;
                top: 0;
            }
        }

        .calculate__total {
            display: flex;
            flex-flow: row nowrap;
            margin-top: 20px;

            > table {
                flex: 0 0 517px;

                th {
                    color: #000;
                    background-color: #efefef;

                    &.th2 {
                        background-color: #dedede;
                    }

                    &.th3 {
                        background-color: #fcd1d1;
                    }
                }
            }

            .logo {
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-end;
            }
        }

        table {
            width: 100%;
            table-layout: fixed;

            &.fixed {
                table-layout: fixed;
            }

            $th_padding: 0.857em;

            tr {
                &:last-child {
                    border-bottom: 1px solid #ccc;
                }

                th {
                    padding: $th_padding 0;
                    color: #666;
                    font-weight: 500;
                }

                td {
                    padding: 0 10px;
                    height: 50px;
                    vertical-align: middle;
                    text-align: center;
                    word-wrap: break-word;
                    word-break: break-all;

                    &.total__price {
                        color: #d0021b;
                    }
                }
            }

            thead {
                border-top: 2px solid #000;
            }

            tbody {
                border-top: 1px solid #ccc;

                tr:nth-child(n+2) {
                    border-top: 1px solid #ccc;
                }

                th {
                    padding: 0 10px;
                    height: 50px;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            tfoot {
                tr {
                    background-color: #efefef;
                    border-top: 1px solid #ccc;

                    td {
                        padding: $th_padding 0;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .information {
        margin-top: 50px;
        padding: 16px;
        border: 1px solid #e1e1e1;
        background-color: #fff;

        > .title {
            font-size: 0.85rem;
            margin-bottom: 15px;
        }

        > p {
            color: #969696;
            font-size: 0.75rem;
            line-height: 1.6;
        }
    }

    .empty__list {
        display: inline-block;
        width: 100%;
        height: 490px;
        padding-top: 124px;
        margin-bottom: 50px;
        background: url('#{$IMG_SERVER}/common/none_visual.png') center bottom no-repeat;
        text-align: center;

        .h5-caption {
            margin-top: 15px;
        }
    }
}