@import "mobile/resources/scss/variables";
@import "mobile/resources/scss/mixins";

.site-left-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;

    > div:nth-child(n+3) {
        margin-top: 10px;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #000;
    }
}

.side__left__top {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-bottom: 100px;

    > :nth-child(n+2) {
        margin-top: 10px;
    }

    .side__left__close {
        flex: 0 0 auto;
        margin-left: 1em;
    }

    .top__login {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffba00;
        min-height: 75px;
        padding: 0.8em;
        transition: right 0.5s;
        z-index: map-get($site-z-index, "sidebar");

        .login__profile {
            flex: 0 0 48px;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            overflow: hidden;
        }

        .login__name {
            flex: 1 1 auto;
            margin: 0 0.8em;
            font-size: 1.1em;
            letter-spacing: -1px;
            color: #fff;
            overflow: hidden;
        }

        .login__notice {
            position: relative;
            display: flex;
            flex-direction: row;
            flex: 0 0 32px;

            > i {
                transform: scale(0.75);
            }

            &.badge {
                &:after {
                    content: attr(title);
                    position: absolute;
                    right: 4px;
                    top: -6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateX(50%);
                    width: 22px;
                    height: 22px;
                    background-color: #fff;
                    border: 2px solid #ffba00;
                    border-radius: 100%;
                    font-size: 0.6em;
                    font-weight: bold;
                    letter-spacing: normal;
                    line-height: 0;
                    color: #ffba00;
                }
            }
        }
    }

    .top__menu {
        display: flex;
        flex-flow: row wrap;
        border-top: 1px solid #e1e1e1;

        > .top__menu__item {
            display: flex;
            flex-direction: column;
            flex: 0 1 33.33%;
            align-items: center;
            justify-content: center;
            max-height: 95px;
            padding: 12px 5px;
            border-right: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            background-color: #fff;

            &:nth-child(3n) {
                border-right: none;
            }

            > .text {
                margin-top: 10px;
                font-size: 0.875em;
                color: #969696;
            }
        }
    }
}

.side__left__middle {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border-top: 1px solid #e1e1e1;

    .middle__ladder__menu {
        background-color: #fff;
        display: flex;
        flex-direction: column;

        .mobile__menu {
            padding: 0.8em 0.6em;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: -1.5px;
            order: 1;
            text-align: left;
            color: #000;

            &:nth-child(n) {
                border-bottom: 1px solid #e1e1e1;
            }

            &.logout {
                order: 2;
            }

            .count {
                color: #fff;
                margin-left: 7px;
                padding: 1px 6px;
                background-color: #ff326c;
                border-radius: 5px;
            }
        }
    }
}
