.user__estimate-detail-footer {
    position: relative;
    //position: relative;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background: #ffba00;
    cursor: pointer;

    //&.isMobile {
    //    position: fixed;
    //    z-index: 1050;
    //    bottom: 0;
    //}

    &.disable {
        cursor: default;
        background-color: #e1e1e1;
        .modify-estimate {
            color: #fafafa;
            //text-shadow: 0 0 0.1px #e1e1e1;
        }
    }

    .modify-estimate {
        height: inherit;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 1.2rem;
    }
}
