$site-header-height: 50px;
$site-header-bg: #fff;

$site-left-sidebar-width: 400px;
$site-left-sidebar-height: 100vh;
$site-left-sidebar-bg: #fafafa;

$site-footer-height: 250px;
$site-footer-bg: #fafafa;
$site-footer-color: #969696;

$layer-padding: 15px;
$layer-padding2: 25px;
$layer-margin: 15px;
$layer-margin-half: $layer-margin / 2;