.popup__send__chat {
    width: 100%;
    min-width: 280px;
    max-width: 540px;
    background-color: #fff;
    border-radius: 7px;
    padding-top: 20px;
    overflow: hidden;

    &__head {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        width: 100%;
        padding: 0 20px 20px;

        .profile_img {
            width: 50px;
            height: 50px;
            flex: 0 0 50px;
            border-radius: 100%;
            overflow: hidden;
        }
    }

    .send__chat__title {
        margin-left: 10px;
        width: calc(100% - 60px);
        font-weight: normal;
        font-size: 1.3em;
        text-align: left;
        word-wrap: break-word;
        word-break: keep-all;
    }

    .send__chat__text {
        border-radius: 7px;
        border: 1px solid #ffba00;
        background-color: #fff;
        padding: 0.625em;
        margin: 0 20px;
        height: 100px;

        &.disabled {
            background-color: #e1e1e1;

            .textarea {
                background-color: #e1e1e1;
                color: #969696;
            }
        }

        .textarea {
            border: 0;
        }
    }

    .send__chat__button {
        margin-top: 1.563em;

        .button {
            font-size: 17px;
            height: 50px;
        }
    }

    .send__chat__info {
        max-width: 320px;
        border-radius: 7px;
        background-color: #f1f1f1;
        font-size: 13px;
        letter-spacing: -0.6px;
        padding: 20px;
        margin: 20px;
        text-align: left;

        .title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .content {
            font-size: 95%;
            line-height: 1.58;
            color: #969696;
        }
    }
}

.popup__phone__body {
    margin-top: 15px;

    .body__phone {
        border-bottom: 4px solid #000;
        background-color: #fff;
        padding: 0.325em;
        margin: 0 20px;

        .input {
            width: 100%;
            height: 100%;
            font-size: inherit;
            font-weight: bold;
            letter-spacing: 14px;
            text-align: center;
            border: 0;
        }
    }

    .body__caption {
        display: flex;
        justify-content: center;
        color: #969696;
        font-size: 13px;
        margin-top: 3px;

        .icon {
            display: flex;
            align-items: center;
            border-radius: 100%;
            color: #ffba00;
            border: 1px solid #ffba00;
            padding: 7px;
            margin-right: 3px;
            height: 0;
            width: 0;
            line-height: 0;
            font-size: 7px;
            text-indent: -1px;
        }
    }
}
