// 기본 플렉스 에어리어
@mixin base-flex {
    display: flex;
    align-items: center;
}

@mixin text-ellipsis() {
    overflow: hidden;
    word-break: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 섹션 기본 보더
$base-border: 1px solid #dedede;

// 노랑색
$yellow-color: #f7b500;
