// font size
$consult_title: 1.6rem;
$consult_description: 0.9rem;
$consult_article_title: 1.3rem;
$consult_row_text: 1.1rem;

// font color
$consult_text_gray_color: #969696;
$consult_text_yellow_color: #ffba00;

// background color
$consult_main_color: #fafafa;
$consult_article_heading_color: #f1f1f1;
$consult_article_content_color: #fff;

// border
$consult_article_border: 1px solid #e1e1e1;

// padding
$consult_default_padding: 1rem;

// shodow
$consult_box_shadow: 2px 2px 7px -5px #666;