@import "../../business/scss/variable";

.charge-products {
	background-color: #fff;
	padding: 25px 15px 60px;

	&__head {

	}

	&__title {
		font-size: 18px;
		font-weight: bold;
		letter-spacing: normal;
		text-align: center;
	}

	&__content {
		margin-top: 10px;
		//margin-bottom: 30px;

		@include base-flex;
		//justify-content: start;
        flex-wrap: wrap;
	}

	&__item {
		width: calc(100vw / 2 - 20px);
		height: auto;
		border: $base-border;
		cursor: pointer;

		.item__info {
			height: calc(205px - 118px);
			padding: 14px 12px;
			cursor: pointer;

			display: flex;
			align-items: start;
			justify-content: space-between;
			flex-direction: column;
			text-align: left;

			.product-title {
				color: #000;
                font-size: 12px;
				line-height: 1.38;
				word-break: break-word;
			}

			.from-artist {
				font-size: 10px;
				font-weight: normal;
				letter-spacing: normal;
				color: #666666;
				width: 100%;

				@include text-ellipsis;
			}
		}

		.item__thumb {
			height: calc(100vw / 3)
		}

		&:nth-child(2n) {
			margin-left: 10px;
		}

        &:nth-child(n + 3) {
            margin-top: 10px;
        }
	}
}
