.ex_card__panel__type {
	// =========== budget type ==============
	&.budget {
		padding: 50px 0 40px;
		border: 3px solid #000;
		text-align: center !important;
	}

	.budget__title {
		//font-family: "Nanum Myeongjo", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: -2px;
		margin-bottom: 25px;
	}

	.budget__content {
		&-key {
			font-size: 18px;
			letter-spacing: -0.5px;
			margin-bottom: 5px;
		}

		&-key.end {
			font-size: 25px;
			font-weight: bold;
			letter-spacing: -0.7px;
			margin-top: 15px;
		}
	}
	// =========== budget type ./end ==============
}