.product-charge {
	.section-title {
		text-align: center;
	}

	.h5-caption {
		margin-top: 10px;
		line-height: normal;
		font-weight: normal;
        color: #666;

        strong {
            color: #000;
            font-weight: bold;
        }
	}

	&__select-section {
		margin-top: 30px;
	}

	&__info-section {

	}

	.color-dodger-blue {
		color: #0091ff;
		//color: dodgerblue;
	}

    .color-dodger-blue2 {
        color: #0056ff;
    }

	.color-strong-cyan {
		color: #02C196;
	}

	.color-mandarin {
		color: #F7B500;
	}

	.color-vivid-red {
		color: #e02020;
	}
}
