.pre-recommend-artist__content__box__info {
	background-color: #fff;
	padding: 42px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;

	&-portfolio {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 34px;
		position: relative;

		.selected-box {
			background-color: rgba(0, 0, 0, .7);
			color: #fff;
			position: absolute;
			padding: 10px 80px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;
			display: flex;
			align-items: center;

			.check-box {
				position: relative;
				display: flex;
				justify-content: center;
				width: 7px;
				height: 9px;
				border: solid #f7b500;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				margin-right: 5px;
				top: -1px;
			}
		}

		.yellow-text {
			color: #f7b500;
		}

		.portfolio__thumb-image,
		.portfolio__thumb-video {
			&:hover {
				.overlay {
					opacity: 1;
					visibility: visible;
				}
			}

			.overlay {
				position: absolute;
				z-index: 1;
				left: 0;
				top: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.4s, visibility 0.4s;

				.title {
					margin-top: 15px;
					font-size: 16px;
				}
			}
		}

		.portfolio__thumb-image {
			position: relative;
			//width: calc(100% / 5);
			width: 188px;
			height: 188px;
			overflow: hidden;

			.portfolio__video__thumb {
				width: 100%;
				height: 100%;
				background: transparent center center no-repeat;
				background-size: cover;
				position: relative;
			}

			.swiper-lazy {
				visibility: hidden;

				&.swiper-lazy-loaded {
					visibility: visible;
				}
			}

			> img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
			}
		}
	}

	&-artist {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.inquire-btn {
			//margin-top: 30px;

			.inquire {
				min-width: 340px;
				padding: 17px 30px;
				background-color: #f7b500;
				border-color: #f7b500;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
			}
		}

		.review-wrap {
			min-height: 35px;
		}

		.review-button {
			margin-top: 5px;
			font-size: 14px;
			color: #666;
			//color: #f7b500;
			font-weight: normal;
			//font-weight: bold;
			margin-bottom: 14px;
			cursor: pointer;
			display: flex;
			align-items: center;

			.icon {
				margin-left: 5px;
			}
		}

		.wrap-box {
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;
			position: relative;

			.choice-artist {
				color: #f7b500;
				font-size: 18px;
				font-weight: bold;
			}

			&.select {
				.select-box {
					border-color: #f7b500;
					//background-color: #f7b500;
				}

				.select-box .check-mark {
					&:after {
						border-color: #f7b500;
					}
				}

				p {
					color: #f7b500;
				}
			}
		}

		.select-box {
			width: 20px;
			height: 20px;
			margin-right: 5px;
			border: 3px solid #f7b500;
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;

			transition: border 0.2s, background-color 0.2s;
		}

		.select-box .check-mark {
			&:after {
				content: "";
				position: relative;
				display: flex;
				justify-content: center;
				width: 5px;
				height: 7px;
				border: solid #fff;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg);
				top: -1px;
				left: 0;
			}
		}

		.nick-name {
			font-size: 27px;
			font-weight: normal;
			margin-bottom: 5px;
		}

		//.inquire-btn {
		//	background-color: #ffba00;
		//	color: #fff;
		//	padding: 10px 18px;
		//	font-size: 13px;
		//}

		.review-btn {
			font-size: 12px;
			color: #666;
		}
	}
}