{
    "root": true,
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": ["react"],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "jasmine": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    "globals": {
        "APP": true,
        "__STATUS__": true,
        "__SERVER__": true,
        "__DOMAIN__": true,
        "__WEB__": true,
        "__DESKTOP__": true,
        "__MOBILE__": true,
        "__SNS__": true,
        "__IMP__": true,
        "IMP": true,
        "FB": true,
        "naver_id_login": true,
        // ga 이전버전
        "ga": true,
        // ga 글로벌 태그(최신버전)
        "gtag": true,
//        "gtag_event": true,
        "wcs": true,
        "wcs_do": true,
        "fbq": true,
        // 텐핑 전환스크립트
        "TenpingScript": true
    },
    "rules": {
        "max-len": [2, 250],
        "linebreak-style": "off",
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4, { "SwitchCase": 1 }],

        "new-cap": ["error", { "newIsCapExceptions": ["naver_id_login"] }],
        "quotes": ["error", "double"],
        "quote-props": 0,
        "dot-notation": 0,
        "spaced-comment": 0,
        "no-param-reassign": 0,
        "no-unused-vars": 0,

        "no-console": [0, {"allow": ["warn", "error"]}],
        "no-alert": [0, {"allow": ["warn", "error"]}],
        "no-var": 2,
        "no-bitwise": 0,
        "prefer-const": 2,
        "camelcase": 0,
        "no-underscore-dangle": 0,
        "func-names": 0,

        "arrow-body-style": 0,
        "arrow-parens": ["error", "as-needed"],
        "class-methods-use-this": 0,
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 6 }],

        "import/first": ["off"],
        "import/no-unresolved": 0,
        "import/extensions": [2, { "js": "never", "jsx": "never" }],
        "import/no-extraneous-dependencies": 0,
        "import/prefer-default-export": 0,

        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": ["error", 4],
        "react/no-danger": 0,
        "react/sort-comp": 0,
        "react/prefer-stateless-function": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prop-types": 0,
        "react/jsx-no-target-blank": 0,
        "jsx-a11y/no-static-element-interactions": 0
    }
}
