.site-main {
    width: 80%;
    min-height: 300px;
}

.site-main .notification-options {
    width: inherit;
    padding: 10px;
    border: 1px solid #969696;
    min-height: inherit;
}
.site-main .notification-options .alarm-title {
    margin-bottom: 20px;
}

.site-main .notification-options .option-block {
    padding: 10px;
    border: 1px solid #969696;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6 { margin: 0 }