.concept__banner {
    position: relative;
    height: 230px;
    font-family: "Noto Sans KR", "Spoqa Han Sans", Helvetica, AppleSDGothicNeo, Arial, sans-serif;

    .banner__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .banner__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .title {
        font-size: 1.563em;
        font-weight: 300;
        letter-spacing: -0.83px;
    }

    .description {
        margin-top: 8px;
        font-size: 1.75em;
        font-weight: bold;
        letter-spacing: -0.93px;
    }

    .banner__button {
        margin-top: 30px;

        ._button {
            width: 120px;
            height: 40px;
            font-weight: bold;
        }
    }
}
