@import "desktop/resources/scss/variables";

$row_padding: 60px;

.business__page {
    overflow: hidden;

    .main-section__title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
    }

    .main__row {
        padding: $row_padding 0;

        .main__trust {
            padding: 85px 0 40px;
        }

        .main__recommend__portfolio,
        .main__interview,
        .main__alliance,
        .main__consult__bar {
            padding: $row_padding 0;
        }

        .concept__banner {
            .banner__content {
                width: $container-width;
                margin: 0 auto;
                padding: $grid-gutter;
            }
        }
    }

    .main__second__consult {
        text-align: center;

        .title__one {
            font-family: "Noto Sans KR", "Spoqa Han Sans", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
            font-size: 1.375em;
            line-height: 1;
        }

        .title__two {
            font-family: "Noto Sans KR", "Spoqa Han Sans", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
            margin-top: 15px;
            font-size: 2.625em;
            font-weight: 500;
            line-height: 1;
            &.test {
                font-size: 30px;
                font-weight: bold;
            }
        }

        .list {
            margin-top: 30px;

            > .item {
                display: inline-block;
                width: 235px;
                vertical-align: middle;

                &:nth-child(n+2) {
                    margin-left: 30px;
                }

                &:nth-child(n+5) {
                    margin-top: 40px;
                }

                &:nth-child(4n+1) {
                    margin-left: 0;
                }

                .thumb {
                    position: relative;
                    display: block;
                    height: 280px;
                    cursor: pointer;

                    &:hover {
                        .overlay {
                            z-index: 1;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    //img {
                    //    max-width: 100%;
                    //    max-height: 100%;
                    //}

                    .artist_name {
                        position: absolute;
                        left: 50%;
                        bottom: 20px;
                        opacity: 0.8;
                        color: #fff;
                        font-size: 0.688em;
                        transform: translateX(-50%);
                    }

                    .overlay {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                        color: #fff;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.4s, visibility 0.4s;

                        .title {
                            margin-top: 15px;
                        }
                    }
                }

                .text {
                    margin-top: 20px;
                    padding: 0 10px;
                    line-height: 1;

                    .title {
                        font-size: 1.125em;
                        font-weight: bold;
                    }

                    .tag {
                        font-family: "Noto Sans KR", "Spoqa Han Sans", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
                        height: 42px;
                        margin-top: 12px;
                        color: #666;
                        font-size: 0.875em;
                        letter-spacing: normal;
                        line-height: 1.4;

                        > span {
                            display: inline-block;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }

    .main__recommend__portfolio {

        .category__list {
            text-align: center;

            > :nth-child(n+2) {
                margin-left: 20px;
            }

            .item {
                display: inline-block;
                height: 1.5em;
                padding: 6px 0.333em;
                color: #777;
                font-size: 1.5em;
                line-height: 1;
                transition: border-width 0.4s, color 0.4s, font-weight 0.4s;
                cursor: pointer;

                &:before {
                    content: attr(data-title);
                    display: block;
                    font-weight: bold;
                    height: 0;
                    color: transparent;
                    overflow: hidden;
                    visibility: hidden;
                }

                &.active {
                    color: #000;
                    font-weight: bold;
                    border-bottom: 12px solid #f5a623;
                }

                &:hover {
                    color: #000;
                    font-weight: bold;
                }
            }
        }

        .portfolio__list {
            margin-top: 26px;
            text-align: center;

            .item {
                position: relative;
                display: inline-block;
                width: 235px;
                //height: 189px;
                height: 235px;
                overflow: hidden;

                &:nth-child(n+2) {
                    margin-left: 30px;
                }

                &:nth-child(n+5) {
                    margin-top: 30px;
                }

                &:nth-child(4n+1) {
                    margin-left: 0;
                }

                .thumb {
                    width: 100%;
                    height: 100%;

                    > img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .artist_name {
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    transform: translateX(-50%);
                    opacity: 0.8;
                    font-size: 0.688em;
                    color: #fff;
                }
            }
        }
    }

    .main__interview {
        background-color: #f9f9f9;
    }

    .main__real__review {
        margin-top: 60px;

        .real__review__title {
            font-size: 1.875em;
            font-weight: bold;
            letter-spacing: normal;
            text-align: center;
        }

        .review__swiper {
            position: relative;
            height: 415px;
            margin-top: 35px;

            .swiper-container {
                position: relative;
                overflow: hidden;
            }

            .swiper-container,
            .swiper-wrapper,
            .swiper-slide {
                height: 100%;
            }

            .swiper-slide-active,
            .swiper-slide-active + .swiper-slide,
            .swiper-slide-active + .swiper-slide + .swiper-slide {
                .comment {
                    overflow: auto;
                }
            }


            .review__item {
                padding: 20px;
                background-color: #fff;
                z-index: 1;

                > div {
                    display: flex;
                    flex-direction: column;
                    height: 375px;
                }

                .review_image {
                    flex: 0 0 180px;
                    height: 180px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .user_name {
                    flex: 0 0 auto;
                    padding: 20px 0 15px;
                    font-family: "Nanum Myeongjo", "Spoqa Han Sans", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
                    font-weight: bold;
                    text-align: center;
                }

                .comment {
                    flex: 1 1 auto;
                    color: #666;
                    font-size: 0.875em;
                    line-height: 1.71;
                    z-index: 1;
                }

                .rating {
                    flex: 0 0 auto;
                    text-align: center;
                    line-height: 1;
                    margin-top: 10px;
                }
            }

            .swiper__arrow {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;

                &.next {
                    left: 100%;

                    > img {
                        margin-left: 43px;
                    }
                }

                &.prev {
                    right: 100%;

                    > img {
                        margin-right: 43px;
                    }
                }

                > img {
                    cursor: pointer;
                }
            }
        }
    }

    .main__consult__bar {

        a,
        a:link,
        a:active,
        a:visited,
        a:hover {
            color: #666;
        }

        > .title {
            font-size: 1.875em;
            font-weight: bold;
            line-height: 1.5;
            text-align: center;
        }

        > .description {
            margin-top: 15px;
            font-size: 1.25em;
            text-align: center;
        }

        > .content {
            display: flex;
            flex-direction: row;
            margin-top: 35px;

            .label {
                color: #666;
                margin-bottom: 10px;
            }

            .phone {
                flex: 1 1 100%;

                .phone__form {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 54px;

                    > .dropdown__container {
                        flex: 1 1 30%;
                        height: 100%;
                        text-align: center;

                        .dropdown__item {
                            height: 54px;
                        }
                    }

                    > ._input {
                        flex: 1 1 30%;
                        text-align: center;
                    }

                    > span {
                        flex: 0 0 auto;
                        margin: 0 5px;
                    }
                }
            }

            .email {
                flex: 1 1 100%;
                margin-left: 60px;

                .email__form {
                    height: 54px;
                }
            }

            ._input {
                height: 100%;
                font-size: 1em;
            }
        }

        > .agree {
            margin-top: 40px;
            text-align: center;
        }

        > .buttons {
            margin-top: 20px;
            text-align: center;

            ._button {
                width: 360px;
                height: 60px;
                font-size: 1.125em;
                border-color: #f5a623;
                background-color: #f5a623;
            }
        }
    }

    .biz-panel__title {
        font-size: 1.875em;
        text-align: center;
    }

    .biz-panel__descr {
        font-size: 18px;
        color: #666;
        margin-top: 10px;
        text-align: center;
    }

    &__btn {
        width: 220px;
        height: 60px;
        color: #fff;
        background-color: #f5a623;
        border-color: transparent;
        font-size: 18px;
        font-weight: 500;
    }

    &__hover_btn {
        display: none;
        position: absolute;
        cursor: pointer;
        width: 100%;
        //height: 100%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .button-div {
        display: inline-block;
        margin-top: 50px;
        position: relative;
        cursor: pointer;

        &:hover {
            .biz-page__hover_btn {
                display: block;
            }
        }
    }

    .main__example__review {
    }
}
