.biz-alliance {
	&__list {
		padding-top: 30px;
		width: 100%;
		overflow: hidden;

		&-wrapper_dev {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		&-item_dev {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 146px;
			height: 133px;
			border-left: 1px solid #fff;
			overflow: hidden;

			.alliance-icon {
				position: relative;
				width: inherit;
				height: inherit;
			}

			.alliance-name {
				position: absolute;
				bottom: 17px;
				text-align: center;
				left: 0;
				width: 100%;
				font-size: 14px;
				color: #666;
			}

			&:nth-child(1),
			&:nth-child(8) {
				border-left: none;
			}

			&:nth-child(n + 8) {
				border-top: 1px solid #fff;
			}
		}
	}
}