$gray-border-color: #cdcdcd;
$border-style: 1px solid;
$black-border-color: #000;

.business__tab {
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .tab-box {
        position: relative;
        width: 640px;
    }

    .tab-pad {
        position: absolute;
        z-index: 3;
        display: none;
    }

    > div {
        display: flex;
        position: relative;
        flex-direction: row;
        flex: 1 1 auto;
        width: 100%;
        height: inherit;

        z-index: 3;
    }

    .tab {
        width: calc(100% / 3);
        height: inherit;
        background-color: #fff;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        border-top: $border-style $gray-border-color;
        border-left: $border-style $gray-border-color;
        border-bottom: $border-style $black-border-color;

        &:last-child {
            border-right: $border-style $gray-border-color;
        }

        &.active {
            .title {
                font-weight: bold;
                color: #000;
            }
            border-top: $border-style $black-border-color;
            border-left: $border-style $black-border-color;
            border-right: $border-style $black-border-color;
            border-bottom: none;

            transition: border-left-color 0.4s, border-right-color 0.4s, border-top-color 0.4s, color 1s;
        }

        &:last-child {
            //border-right: $border-style $gray-border-color;
        }

        .title {
            font-size: 14px;
            color: #666;
        }
    }
}