$search-margin: 20px;

.search__container {
    width: 100%;
    font-size: 16px;
    text-align: left;
    color: #000;

    .search__input {
        width: 100%;
        height: 34px;
        background-color: transparent;
        border: 1px solid #e1e1e1;
        padding: 0.4em 0.8em;
        font-size: 0.875em;

        &:focus {
            border-color: #969696;
        }

        &::placeholder {
            opacity: 0.65;
        }
    }

    .search__keyword {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: #fff;
        border: 5px solid #ffba00;

        > :nth-child(n+2) {
            margin-left: $search-margin;
        }

        .search__input {
            flex: 1 1 auto;
            height: 65px;
            border: 0;
            font-size: 1.125em;
            font-weight: bold;
        }

        .search__button {
            flex: 0 0 auto;
            margin: 0 20px;
            color: #ffba00;
            font-size: 1.5em;
            cursor: pointer;
        }
    }

    .search__options {
        display: flex;
        flex-flow: column wrap;
        margin-top: 20px;
        padding: 15px;
        border: 1px solid #e1e1e1;
        font-size: 0.75em;

        > :nth-child(n) {
            flex: 0 0 auto;
        }

        .option__label {
            font-size: 0.85em;
            color: #969696;
            margin-bottom: 5px;
        }

        .option__content {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            height: 34px;

            > :nth-child(n+2) {
                margin-left: 5px;
            }

            &.search__count {
                flex-wrap: nowrap;
                overflow: auto;
            }

            .category__item {
                flex: 0 0 auto;
                height: 100%;
                padding: 0 10px;
                border: 1px solid #e5e5e5;
                border-radius: 34px;

                .check__box {
                    &.checked {
                        .check__icon {
                            background-color: #ffba00;
                            border-color: #ffba00;
                        }

                        .check__content {
                            font-weight: bold;

                            > span {
                                color: #ffba00;
                            }
                        }
                    }

                    .check__icon {
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        background-color: #dedede;

                        .icon {
                            display: none;
                        }
                    }

                    .check__content {
                        color: #666;
                    }
                }
            }
        }

        .search__price {
            display: flex;
            flex-flow: row nowrap;
            flex: 0 0 auto;
            align-items: center;

            > :nth-child(n+2) {
                margin-left: 5px;
            }

            .search__input {
                width: 120px;
                text-align: center;
            }
        }

        .dropdown__container {
            width: 120px;
        }

        .check__box {
            .check__box__icon {
                border-radius: 3px;
            }
        }
    }
}