@import "../../../business/scss/variable";

.product__review {
	padding: 20px;
	background-color: #fff;
	border-bottom: $base-border;

	&__content {
		.review-box {

		}
		.review-count {
			@include base-flex;
			justify-content: space-between;
			margin-bottom: 15px;

			.write-review__btn {
				width: 90px;
				height: 40px;
				background-color: #f7b500;

				color: #fff;
				font-size: 12px;
				font-weight: bold;
				cursor: pointer;
			}
		}
		.review-box__title {
			font-size: 14px;
			font-weight: bold;
			letter-spacing: normal;

			.color-yellow {
				color: $yellow-color;
			}
		}

		.review-row {
			@include base-flex;
			justify-content: space-between;
			flex-direction: column;

			&:nth-child(n + 2) {
				margin-top: 20px;
			}

			.row-head {
				@include base-flex;
				width: 100%;
				margin-bottom: 8px;
			}

			.product-info {
				.user-name {
					font-size: 12px;
				}
			}
			.profile {
				flex: 0 0 36px;
				width: 36px;
				height: 36px;
				border-radius: 100%;
				margin-right: 10px;
				overflow: hidden;
			}

			.review-content {
				width: 100%;
				flex: 1 0 auto;
				text-align: left;
				//padding-left: 45px;
				//padding-right: 45px;
				//width: 100%;
			}

			.content-text {
				font-size: 12px;
				font-weight: normal;
				line-height: normal;
				letter-spacing: normal;
				word-break: break-word;
				color: #888;
			}

			.content-date {
				margin-top: 8px;
				font-size: 11px;
				font-weight: normal;
				letter-spacing: normal;
				color: #999999;
			}
		}

		.arrows {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			top: -45px;
			width: 110%;
			left: -23px;

			> div {
				cursor: pointer;
			}
		}

		.review-image-box {
			margin-top: 8px;
			//width: 505px;
			.review-image {
				width: 97px;
				height: 68px;

				//&:nth-child(n + 2) {
				//	margin-left: 5px;
				//}
			}
		}
	}
}
