.rest_account_page {
	padding: 20px;
}

.rest_account__box {
	padding: 30px 0;

	&__header {
		text-align: center;

		&:after {
			content: "";
			display: inline-block;
			width: 50px;
			height: 2px;
			background-color: #000;
			margin-top: 30px;
		}
	}

	&__header-title {
		font-size: 20px;
		line-height: 1.43;
		letter-spacing: -1.2px;
		padding-bottom: 15px;
	}

	&__header-desc {
		font-size: 18px;
		line-height: 1.43;
		letter-spacing: -1.2px;
		word-break: keep-all;
		font-weight: bold;
	}

	&__body {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding-bottom: 45px;
	}

	&__body-image {
		margin: 25px 0 40px;
		.test {
			width: 188px;
			height: 146px;
		}
	}

	&__body-agree-test {
		color: #666;

		&.check {
			color: #000;
		}
	}

	&__body-check {
		display: inline-flex;
		cursor: pointer;
		.yellow_check {
			position: relative;
			background-color: #dcdcdc;
			border-radius: 100%;
			width: 24px;
			height: 24px;

			display: flex;
			align-items: center;
			justify-content: center;

			margin-right: 12px;

			&:after {
				content: "";
				display: flex;
				position: relative;
				top: -1px;
				justify-content: center;
				width: 7px;
				height: 10px;
				border: solid #fff;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}

		.yellow_check.check {
			background-color: #ffba02;
		}
	}

	&__footer {
		text-align: center;
	}

	&__footer-buttons {
		> button {
			width: calc(100vw / 2 - 25px);
			//font-size: 20px;
			height: 45px;
			border-radius: 0;

			&:first-child {
				margin-right: 10px;
			}
		}

		.rest_cancel {
			color: #000;
			border-color: #000;
		}

		.rest_ok {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}
	}
}