.information-price-component {
	&.mobile {
		min-height: calc(100vh - 290px);
	}
	.mobile-information-banner {
		text-align: center;
		background-color: #fafafa;
		padding: 40px 20px;
		.mobile-information-description {
			color: #969696;
		}
	}
	.mobile-information-heading {
		font-size: 1.2rem;
		margin-bottom: 10px;
	}
	.mobile-information-description {
		font-size: 0.9rem;
		font-weight: 300;
		line-height: 1.13;
		letter-spacing: -1px;
	}

	.mobile-information-panel {
		padding: 25px 20px;
		text-align: center;
		border-top: 1px solid #e1e1e1;
		.mobile-information-content {
			padding: 15px;

			.content-footer {
				font-size: 0.8rem;
				font-weight: normal;
				line-height: 1.21;
				letter-spacing: -0.6px;
				color: #969696;
				margin-top: 15px;
				margin-bottom: 15px;
			}

			.price-table {
				.table-title {
					font-size: 0.9rem;
					letter-spacing: -0.7px;
					font-weight: normal;
					color: #969696;
					margin-bottom: 14px;
					margin-top: 20px;
				}
				.price-table-outer {
					border: 1px solid #e1e1e1;
					.table-row {
						display: flex;
						background-color: #fff;
						color: #000;
						font-size: 0.8rem;
						&:nth-child(n + 2) {
							border-top: 1px solid #e1e1e1;
						}
						.row-title,
						.row-price {
							width: 50%;
							padding: 16px 17px;
						}

						.row-title {
							border-right: 1px solid #e1e1e1;
							text-align: left;
						}
						.row-price {
							text-align: right;
						}
					}
				}
			}
			&-heading {
				margin-bottom: 20px;
			}

			&-description {
				font-size: 0.9rem;
				font-weight: 300;
				line-height: 1.13;
				letter-spacing: -1px;
				word-break: keep-all;
			}
		}
		.mobile-information-heading {
			font-size: 1.4rem;
		}
		.img-wrap {
			margin-top: 30px;
			padding: 30px;
			.img-package {
				padding: 10px;
				margin-bottom: 15px;
			}
			.img-arrow {
				margin-bottom: 15px;
				> img {
					transform: rotate(90deg);
				}
			}
		}
	}
	.mobile-information-footer {
		&-panel {
			border-top: 1px solid #e1e1e1;
			padding: 40px 30px;
			text-align: center;

			.mobile-information-footer-button {
				border-bottom: 1px solid #000;
				color: #000;
			}

			&__heading {
				margin-bottom: 15px;
			}
			.button {
				width: 140px;
			}
		}
	}
}

#information-price {
	.site-footer {
		margin-bottom: 50px;
	}
	#goToTop {
		bottom: 60px;
	}
	.floating_banner {
		height: 50px;
		position: fixed;
		bottom: 0;
		display: flex;
		width: 100%;
		> a, button {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}