.artists-estimate__offer-detail {
    background-color: #fafafa;
    position: relative;

    &-inner {
        padding: 30px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
    }
}
