.user__progress__page {
    background-color: #fafafa;
    padding-bottom: 20px;

    .progress__top__container {
        background-color: #fff;
        border-bottom: 1px solid #e0e0e0;

        > .title {
            font-size: 0.929em;
            font-weight: bold;
            padding: 13px;
            border-bottom: 1px solid #e0e0e0;
        }

        .progress__breadcrumb {
            padding: 20px 0;
        }
    }

    .progress__list__container {
        margin-top: 20px;
    }

    .progress__body {

    }

    .progress__list {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;

        a,
        a:active,
        a:hover,
        a:link,
        a:visited,
        a[role="button"]{
            color: #000;
            cursor: pointer;
        }

        > .item {
            background-color: #fff;
            border-bottom: 1px solid #e0e0e0;

            &:nth-child(n+2) {
                margin-top: 20px;
                border-top: 1px solid #e0e0e0;
            }

            &:last-child {
                border-bottom: 0;
            }

            > :nth-child(n+2) {
                border-top: 1px solid #e0e0e0;
            }

            > .item__row {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 10px 15px;

                &.item__title {
                    background-color: #f1f1f1;
                    font-size: 0.813em;
                }

                &.item__content {
                    padding: 20px 15px;
                }

                ._button {
                    font-size: 0.75em;
                }

                > .artist_name {
                    flex: 1 1 auto;
                }

                > .buy_no {
                    flex: 0 0 auto;
                }

                .status {
                    flex: 1 1 auto;

                    ._button {
                        height: 24px;
                        font-size: 0.75em;
                        border-radius: 3px;
                    }

                    .description {
                        margin-left: 5px;
                    }
                }

                .description {
                    flex: 0 0 auto;
                    font-size: 0.75em;

                    .highlight {
                        color: #fe306a;
                    }
                }

                .profile {
                    flex: 0 0 auto;
                    width: 66px;
                    height: 66px;
                    margin-right: 8px;
                    border-radius: 100%;
                    overflow: hidden;
                }

                .info {
                    flex: 1 1 auto;
                    margin-right: 8px;

                    .title {
                        font-weight: bold;
                    }

                    .date {
                        margin-top: 13px;
                        color: #999;
                        font-size: 0.75em;
                        letter-spacing: -0.6px;
                        line-height: 1.5;

                        ._button {
                            height: 22px;
                            margin-top: 6px;
                        }
                    }
                }

                .total_price {
                    flex: 1 1 auto;
                    font-size: 0.813em;

                    > span {
                        margin-left: 15px;
                        font-size: 1.154em;
                    }
                }

                .payment {
                    flex: 0 0 auto;
                    text-align: right;
                    font-size: 0.813em;

                    .date {
                        color: #fe306a;
                        font-size: 0.846em;
                    }
                }

                .options {
                    > :nth-child(n+2) {
                        margin-top: 6px;
                    }

                    ._button {
                        width: 90px;
                        height: 30px;
                    }

                    .reserve__cancel {
                        width: auto;
                        height: 22px;
                    }
                }
            }
        }
    }

    .progress__none {
        padding: 0 30px;
        text-align: center;

        .title {
            font-size: 1.375em;
            font-weight: bold;
        }

        .description {
            margin-top: 15px;
            font-size: 0.875em;
            font-weight: normal;
            word-break: keep-all;
        }
    }
}

.refund__modal {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;

    .label {
        margin-bottom: 5px;
        font-size: 0.857em;
        font-weight: bold;
    }

    > .message {
        font-size: 0.929em;
        text-align: center;
    }

    > .title {
        font-size: 1.143em;
    }

    > .price {
        margin-top: 30px;
        padding: 10px 0;
        background-color: #f1f1f1f1;
        color: #999;
        text-align: center;
    }

    > .reason {
        margin-top: 15px;
    }

    > .bank {
        margin-top: 15px;

        > :nth-child(n+2) {
            margin-top: 15px;
        }
    }

    > .buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-top: 30px;

        ._button {
            flex: 1 1 50%;

            &:nth-child(n+2) {
                margin-left: 10px;
            }
        }
    }

    > .attention {
        margin-top: 15px;
        font-size: 0.786em;

        &:before {
            content: "!";
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            border-radius: 100%;
            border: 1px solid #ff326c;
            color: #ff326c;
            font-size: 10px;
            text-align: center;
        }
    }

    > .info {
        margin-top: 15px;
        padding: 10px;
        background-color: #f1f1f1;
        font-size: 0.786em;

        .title {
            font-weight: bold;
        }

        .content {
            margin-top: 10px;
            color: #969696;
        }
    }
    
    .button__close {
        margin-top: 30px;
        text-align: center;

        ._button {
            width: 100px;
        }
    }
}

.modal__users__modify__date {
    background-color: #fff;
    padding: 20px;
    font-size: 0.929em;
    border-radius: 5px;
    text-align: center;

    .modify__date__agree {
        margin-top: 30px;

        .check__icon {
            border-radius: 100%;
            margin-right: 5px;
        }
    }

    .modify__date__buttons {
        margin-top: 30px;

        ._button {
            border-radius: 34px;
        }

        > :nth-child(n+2) {
            margin-left: 25px;
        }
    }
}

.progress__review__modal {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;

    .review__container {
        padding: 20px 20px 30px;
    }

    .review__header {
        text-align: center;

        > .title {
            font-size: 1.125em;
            font-weight: bold;
        }

        > .description {
            margin-top: 6px;
            font-size: 0.813em;
        }
    }

    .review__image__list {
        margin-top: 26px;

        .image__list {
            display: flex;
            flex-flow: row wrap;

            .list__item {
                flex: 0 0 33.33%;
                padding: 3px;

                &.checked {
                    > div {
                        &:before {
                            content: attr(data-index);
                            position: absolute;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(255, 186, 0, 0.5);
                            color: #fff;
                            font-size: 1.5em;
                            font-weight: bold;
                            z-index: 1;
                        }
                    }
                }

                > div {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    overflow: hidden;
                }
            }
        }

        .image__more {
            margin-top: 13px;

            ._button {
                width: 100%;
                height: 52px;
                border-radius: 8px;
                border-color: #9b9b9b;
                font-size: 1em;
                font-weight: bold;
            }
        }
    }

    .review__content {
        margin-top: 20px;

        ._textarea {
            border-color: #cfcfcf;
            border-radius: 8px;
        }
    }

    .review__score {
        display: flex;
        flex-flow: row wrap;
        margin-top: 20px;

        .score__item {
            flex: 0 0 50%;
            &:nth-child(n+3) {
                margin-top: 20px;
            }

            .title {
                font-size: 0.875em;
                font-weight: bold;
            }

            .heart {
                margin-top: 10px;
            }
        }
    }

    .review__agree {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        font-size: 0.813em;

        .title {
            flex: 1 1 auto;
        }

        .agree {
            flex: 0 0 auto;

            .check__icon {
                border-radius: 100%;
            }
        }
    }

    .review__buttons {
        display: flex;
        flex-direction: row;
        height: 44px;
        background-color: #f1f1f1;
        font-size: 1.143em;

        .review__cancel {
            flex: 1 1 auto;
            text-align: center;
        }

        .review__confirm {
            flex: 1 1 auto;
            text-align: center;
        }
    }
}
