.searchHistory-component {
    width: 800px;
    height: 100%;
    display: inline-block;
    .photograph-search {
        padding: 20px;
        background-color: #f3f3f3;

        .search-caption {
            font-size: 12.9px;
            font-weight: 300;
            letter-spacing: -0.6px;
            text-align: center;
            color: #969696;
            margin-top: 15px;
        }

        .search-tool {
            display: inline-block;
            width: 100%;

            .search-month {
                display: inline-block;
                float: left;

                .title {
                    font-size: 14.6px;
                    font-weight: 500;
                    letter-spacing: -0.7px;
                    margin-right: 24px;
                    vertical-align: middle;
                }

                .btn {
                    font-size: 12.9px;
                    padding: 0;
                }
            }

            .search-calendar {
                display: inline-block;
                float: right;

                .swung-dash {
                    font-size: 12.9px;
                    vertical-align: middle;
                    margin: 0 10px;
                }

                .start-calendar,
                .end-calendar {
                    display: inline-block;

                    .btn {
                        padding: 0 9px;
                    }

                    .input {
                        font-size: 12.9px;
                        font-weight: normal;
                        letter-spacing: -0.6px;
                        color: #969696;
                        vertical-align: bottom;
                    }
                }

                .end-calendar {
                    margin-right: 30px;
                }
            }
        }
    }
}
