.breadCrumb-component {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    margin-top: 1.35rem;
    background-color: white;
}

.title-outer {
    border-bottom: 1px solid #e1e1e1;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
    font-weight: bold;
    .title {

    }
    .title-inner {
        display: none;
        //display: inline-block;
        float: right;
        padding-right: 5vw;

        > a {
            &:active,
            &:visited,
            &:link,
            &:hover {
                color: #000;
            }
        }

    }
}

.state {
    &-inner {
        display: flex;
        padding: 0.52rem 0.5rem;
        &-unit {
            height: 5rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
    }
    &-info {
        width: 7vw;
        text-align: center;
        color: #cbcbcb;

        &.active {
            color: #000;
        }
        .count {
            font-size: 2rem;
            font-weight: bold;

            &.active {
                color: #ff326c;
            }
        }
        .progress {
            font-size: 0.7rem;
            word-break: keep-all;
        }
    }
    .arrow {
        position: absolute;
        color: #cbcbcb;
        left: -1vw;
        top: 50%;
        transform: translateY(-50%);
    }
}
