@import "../variables";

.site-search-sidebar {
    position: fixed;
    width: 100%;
    max-width: $site-left-sidebar-width;
    height: $site-left-sidebar-height;
    right: -$site-left-sidebar-width;
    top: 0;
    background-color: $site-left-sidebar-bg;
    overflow-y: auto;
    z-index: map-get($site-z-index, "sidebar");
    transition: right 0.5s;

    &--show {
        right: 0;
    }
}

@media screen and (min-width: map_get($site-breakpoints, "sm")) {
    .site-search-sidebar {
        width: $site-left-sidebar-width;
    }
}
