.ex_card__panel__type {
	// =========== text type ==============
	&.text {
	}

	.text__title {
	}

	.text__content {
		display: flex;
		flex: 1 1 auto;
		flex-direction: row;

		&-key {
			flex: 0 1 50%;
			font-size: 18px;
			letter-spacing: -0.5px;
			line-height: 1.67;
			margin-bottom: 5px;
		}

		&-key li {
			list-style: decimal;
			margin-left: 20px;
			padding-right: 20px;

			&:nth-child(n + 2) {
				margin-bottom: 20px;
			}
		}

		&-key .title {
			//font-family: "Nanum Myeongjo", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
			font-size: 32px;
			font-weight: bold;
			line-height: 1.44;
			letter-spacing: -2px;
			position: relative;
			padding-bottom: 60px;
			&:after {
				content: "";
				position: absolute;
				bottom: 30px;
				left: 0;
				background-color: #000;
				width: 100px;
				height: 3px;
			}
		}
	}
	// =========== text type ./end ==============
}