.biz-interview {
	&__box {
		padding-top: 30px;
	}

	&__box-player {
		min-height: 580px;
	}

	&__box-customer {
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
		color: #666;

		.customer-prev {
			font-size: 18px;
		}
	}

	&__box-customer__who {
		display: flex;
		flex: 0 1 auto;
		align-items: center;
		justify-content: center;

		&:after {
			content: "";
			display: inline-block;
			height: 40px;
			width: 1px;
			background-color: #dedede;
			margin: 0 20px;
		}

		.who {
			&_name {
				font-size: 22px;
				color: #000;
			}

			&_co {
			}
		}
	}
}