.information__video__page {
    position: relative;
    .container {
        padding-left: 23px;
        padding-right: 23px;

        width: 1081px;
    }
    .information__video {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        &__process {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 905px;
            padding: 30px 0;
            font-size: 16px;
            color: #fff;

            &__title {
                flex: 0 0 auto;
                width: 100%;
                font-size: 1.556em;
                font-weight: 300;
            }

            &__flow {
                flex: 0 0 auto;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &:nth-child(n+2) {
                    margin-top: 30px;
                }

                &:nth-child(n+3) {
                    margin-top: 17px;
                }

                &.direction__column {
                    flex-direction: column;
                }

                .flow__row {
                    display: flex;
                    flex-direction: row;

                    > div {
                        flex: 1 1 50%;

                        &:nth-child(n+2) {
                            margin-left: 72px;
                        }
                    }
                }

                .flow__circle {
                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 173px;
                        height: 173px;
                        border: 2px solid #fff;
                        border-radius: 100%;
                        color: #fff;
                        font-size: 1.063em;
                    }
                }

                .flow__round,
                .flow__rect {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    margin: 16px 0;
                    border: 2px solid #fff;
                }

                .flow__round {
                    border-radius: 50px;
                }

                .flow__rect {
                    border-radius: 0;
                }

                .flow__arrow {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin: 0 20px;
                }
            }
        }

        &__portfolio {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1080px;
            padding: 50px 24px;
            font-size: 16px;

            &__title {
                flex: 0 0 auto;
                width: 100%;
                font-size: 1.775em;
                font-weight: 300;
            }

            &__description {
                color: #969696;
                font-size: 0.912em;
                margin-top: 14px;
            }

            &__list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 24px;

                :nth-child(3n+1) {
                    margin-left: 0 !important;
                }

                :nth-child(n+4) {
                    //margin-top: 22px;
                }

                //.portfolio__list__item {
                //    display: flex;
                //    flex-direction: column;
                //    flex: 0 0 328px;
                //    margin-left: 24px;
				//
                //    > :nth-child(n) {
                //        flex: 0 0 auto;
                //        width: 100%;
                //    }
				//
                //    > .title {
                //        display: flex;
                //        flex-direction: row;
                //        align-items: center;
                //        justify-content: center;
                //        padding: 9px;
				//
                //        span {
                //            flex: 0 0 auto;
                //        }
				//
                //        .title__category {
                //            min-width: 64px;
                //            padding: 1px 10px;
                //            margin-right: 10px;
                //            font-size: 75%;
                //            border: 1px solid #000;
                //            border-radius: 20px;
                //        }
                //    }
                //}
            }
        }

        &__button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 179px;
            height: 50px;
            color: #fff;
            font-size: 17.3px;
            font-weight: 500;
            letter-spacing: -0.9px;
            border-radius: 5px;
            background-color: #4b8bff;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            margin: 44px auto 50px;
            cursor: pointer;
        }
    }

    .information-banner {
        //border-bottom: 1px solid #e1e1e1;

        .information-description {
            color: #969696;
        }
    }

    .information__video__portfolio__list .video-list {
        text-align: left;
        width: 100%;
        margin-bottom: 20px;

        &-head {
            display: inline-block;
            margin-bottom: 5px;
        }
        &-title {
            font-size: 1.1rem;
            font-weight: 500;
        }
        &-description {
            font-size: 0.9rem;
            font-weight: 300;
            letter-spacing: -1px;
            color: #969696;
        }
    }
}
