.main-reserve-complete {
    overflow: hidden;

    .recently_text {
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 1.17;
        font-weight: normal;
        text-align: center;
    }

    .main-reserve-list {
        position: relative;
    }

    .complete_list {
        width: 100%;
        position: relative;
    }

    .list-unit {
        width: 184px;
        height: 200px;
        border: 1px solid #e1e1e1;
        background-color: #fff;
        float: left;
        cursor: pointer;
        //margin-right: 25px;

        //&:nth-child(n + 1) {
        //    margin-right: 25px;
        //}
        .top-content {
            position: relative;
            overflow: hidden;
            height: 120px;

            .order_content {
                font-size: 12px;
                font-weight: 300;
                letter-spacing: -0.6px;
                color: #fff;

                padding: 10px;
                line-height: 1.3;
                height: 6rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                cursor: pointer;
            }

            > img {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                transform: translate(-50%, -50%);
            }
        }

        .bottom-content {
            position: relative;
            padding: 10px;
            max-height: 35px;
            height: 35px;
            overflow: hidden;
            //height: 80px;

            .title {
                font-size: 13px;
                color: #000;
                font-weight: 300;
                letter-spacing: -0.6px;
                word-wrap: normal;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .text {
                font-size: 12px;
                font-weight: 300;
                letter-spacing: -0.6px;
                color: #969696;

                line-height: 1.3;
                height: 3rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                cursor: pointer;
            }
        }
    }
    .content-foot {
        position: relative;
        left: 10px;
        font-size: 12px;
        text-align: right;
        color: #c6c6c6;
        width: 165px;
        display: inline-block;

        .nick {
            position: absolute;
            width: 130px;
            word-wrap: normal;
            right: 35px;
            bottom: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: table-cell;
        }

        .test {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35px;
        }
    }

    .main-reserve-arrow {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        cursor: pointer;

        &.left {
            right: 100%;
            margin-right: 24px;
        }

        &.right {
            left: 100%;
            margin-left: 24px;
        }
    }
}
