._modal__table {
	padding: 0 !important;
}

._modal__view {
	.recommend-close-btn {
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;

		> img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.another__recommend__artist {
	position: relative;
	width: 100vw;
	padding: 50px 0;

	&__head {
		position: relative;
	}

	&__info {
		color: #fff;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: normal;
	}

	&__info .info-title {
		font-size: 28px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__info .info-desc {
		font-size: 18px;
	}

	._modal__view__close {
		position: absolute;
		right: 0;
		z-index: 1;
	}

	.another__artist__pages {
		text-align: center;
		height: 24px;
		margin-top: 20px;

		.swiper-pagination-bullet {
			background: transparent;
			opacity: 1;
			width: auto;
			height: auto;
			border-radius: 0;
		}

		.swiper-pagination-bullet-active {
			&.slide_page {
				color: #fff;
				line-height: 1.2;
				border-bottom: 2px solid #fff;
			}
		}

		.slide_page {
			position: relative;
			color: #ccc;
			font-weight: bold;
			font-size: 12px;
			transition: color 0.1s;
			cursor: pointer;

			&:nth-child(n + 2) {
				margin-left: 20px;
			}

			&:hover,
			&:active {
				color: #fff;
				line-height: 1.2;
				border-bottom: 2px solid #fff;
				//display: inline-block;
			}
		}
	}

	//.another__artist__arrow {
	//	display: flex;
	//	align-items: center;
	//	justify-content: center;
	//	margin-top: 19px;
	//
	//	div {
	//		width: 30px;
	//		height: 30px;
	//		border: 1px solid #cdcdcd;
	//		display: flex;
	//		align-items: center;
	//		justify-content: center;
	//		cursor: pointer;
	//	}
	//
	//	.another__artist__arrow-left {
	//		border-right: none;
	//	}
	//}

	.another__artist__btn {
		text-align: center;

		.artist__btn {
			margin-top: 30px;
			background-color: transparent;
			border: 2px solid #fff;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: normal;
			padding: 17px 30px;
			cursor: pointer;
			width: 360px;

			//transition: all 0.2s;
			transition: border 0.2s, background-color 0.1s;

			&.has-select {
				background-color: #fcae2f;
				border-color: #fcae2f;
			}
		}
	}

	//.another__artist__arrow {
	//	position: absolute;
	//	top: 50%;
	//	left: 50%;
	//	transform: translate(-50%, -50%);
	//	//z-index: 10;
	//	display: flex;
	//	align-items: center;
	//	justify-content: space-between;
	//	width: 105%;
	//	z-index: 0;
	//
	//	> div {
	//		cursor: pointer;
	//	}
	//}

	.another__artist__arrow-left,
	.another__artist__arrow-right {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;

		//padding: 0 50px;
	}

	.another__artist__arrow-left {
		left: -60px;
		//padding-left: 70px;
	}

	.another__artist__arrow-right {
		right: -60px;
		//padding-right: 70px;
	}

	.another__artist {
		//overflow: visible;
		//.another__artist__content {
		//	overflow: hidden;
		//}
		.another__test {
			width: 336px !important;
		}
		.content__box .artist__portfolio {
			height: 100%;
			width: 100%;


			.swiper-wrapper {
				height: calc(148px * 2);
			}

			.portfolio-item {
				display: flex;
				flex-wrap: wrap;
				width: calc(148px * 2);

				.portfolio__image {
					//display: flex;
					width: 148px;
					height: 148px;
				}
			}
		}

		&__content {
			//display: flex;
			//align-items: center;
			//justify-content: center;
		}
	}
}