.example__review {
    width: 100%;
    overflow: hidden;

    .example__list {
        padding: 0 15px;
        overflow: hidden;

        .swiper-container {
            overflow: visible;
        }

        .swiper-slide {
            width: 82%;
            max-width: 335px;
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 2px 2px 8px -4px #000;
            color: #555;
        }
    }

    .example__item__single {
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 2px 2px 8px -4px #000;
        color: #555;
    }

    .example__item,
    .example__item__single {
        width: 100%;

        &:hover {
            .thumb_img {
                .image-content {
                    transform: scale(1.1);
                }
            }
        }

        &.coming_soon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 452px;
        }

        .example__row {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            &.justify__center {
                justify-content: center;
            }

            &:nth-child(n+2) {
                margin-top: 15px;
            }
        }

        .profile {
            flex: 0 0 40px;
            height: 40px;
            border-radius: 100%;
            overflow: hidden;
        }

        .artist_name {
            flex: 0 1 auto;
            font-size: 0.813em;
            margin-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .interpunct {
            margin: 0 5px;
            font-weight: bold;
        }

        .txt_click {
            flex: 0 0 auto;
            color: #ffba00;
        }

        .category {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 5px 7px;
            background-color: #fff;
            border-radius: 5px;
            font-size: 0.688em;
            line-height: 1;
        }

        .thumb_count {

        }

        .thumb_img {
            flex: 1 1 100%;
            border-radius: 5px;
            line-height: 0;
            overflow: hidden;

            .image-content {
                transition: transform 0.3s;
            }
        }

        .button_count {
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
                margin-left: 10px;
                color: #aaa;
                font-size: 0.813em;
            }
        }

        .button_chat {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 50px;
        }

        .content {
            height: 105px;
            font-size: 0.875em;
            line-height: 1.5;
            overflow: hidden;
        }

        .txt_coming_soon {
            margin-top: 5px;
        }
    }
}
