.portfolio-pc {
    .forsnap-portfolio__list {
        width: 100vw;
        height: calc(100vh - 162px);
        position: relative;
        overflow: hidden;

        &.ext_page {
            height: calc(100vh - 162px - 110px);
        }

        .test-wrap {
            overflow-y: scroll;
            width: inherit;
            height: inherit;
        }

        &-wrap {
            width: inherit;
            min-width: 600px;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

}
