.mobile-information-header {
	position: relative;
	height: 280px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.mobile-information-inner {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.mobile-information-contents {
		position: absolute;
		//width: 100%;
		width: calc(100% - 48px);
		left: 0;
		top: 50%;
		transform: translateY(-50%);

		color: white;
		text-align: center;

		margin: 0 24px;
	}

	.mobile-information-heading {
		padding-bottom: 10px;

		font-size: 2rem;
		font-weight: 300;
		line-height: 1.05;
		letter-spacing: -2.5px;
		margin-bottom: 20px;
	}

	.mobile-information-description {
		font-size: 0.9rem;
		font-weight: 300;
		letter-spacing: -1px;
		line-height: 1.5;
		margin-bottom: 20px;
	}

	.btn {
		margin-top: 20px;
	}
}