input, textarea {
    display: inline-block;
    outline: none;
    border: 2px solid #e1e1e1;
    background-color: #fff;
    padding: 0 1.104em;
    font-size: 1.081em;
    font-weight: 300;
    letter-spacing: -0.6px;
    line-height: 20px;
    color: #474747;
}

textarea {
    padding: 1em;

    &:focus {
        border-color: #969696;
        box-shadow: 0 0 5px -2px #333;
    }
}

.w98 {
    width: 98px;
}

.w119 {
    width: 119px;
}

.w154 {
    width: 154px;
}

.w175 {
    width: 175px;
}

.w206 {
    width: 206px;
}

.w267 {
    width: 267px;
}

.w276 {
    width: 276px;
}

.w296 {
    width: 296px;
}

.w412 {
    width: 412px;
}

.w520 {
    width: 520px;
}

.w660 {
    width: 660px;
}

.block {
    width: 100%;
}

// 1. Inpout css
// 2. Checkbox css
// 3. Radio css
// 4. Dropdown css
// 5. Heart css
// 6. Qty css
// 7. Badge css
// 8. Forspop css

////////////////////////
// 1. Input css
////////////////////////

input {
    //&:disabled {
    //    background: #e1e1e1;
    //    color: #969696;
    //}

    &:disabled {
        background-color: #f6f6f6;
    }
}

.input {
    border-radius: 50px;
    height: 50px;

    &:focus {
        border-color: #969696;
        box-shadow: 0 0 5px -2px #333;
    }

    // input 크기
    &.size-small {
        height: 34px;
        border-radius: 34px;
        border-width: 1px;
        font-size: 1.019em;
    }

    &.size-mobile {
        width: 100%;
        height: 2.8rem;
        border-radius: 10px;
        border: 1px solid #e1e1e1;
        padding: 0 1.104em;
        letter-spacing: -.6px;
        color: #474747;

        //height: 34px;
        //border-radius: 34px;
        //border-width: 1px;
        //font-size: 1.019em;
    }

    &.size-large {
        height: 62px;
        border-radius: 62px;
        font-size: 1.394em;
    }

    &.theme {
        &-reverse {
            color: #fff;
            background-color: transparent;
            border-color: #fff;

            &:focus {
                color: #000;
                background-color: #fff;
                border-color: #e1e1e1;
            }
        }
        &-muted {
            color: #969696;
            background-color: #e1e1e1;
            border-color: #e1e1e1;
        }
        &-opacity {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.5);
            border-color: #fff;

            &:focus,
            &:active {
                color: #000;
                background-color: #fff;
                border-color: #e1e1e1;
            }
        }
    }
}
