// simple consult val
$require-color: #d0021b;
$warning-color: #ffba02;
$border-color: #979797;
$week-text-color: #666;

.simple-consult-container {
	// pc, mobile css 분리
	&.pc .simple-consult__body__content {
		padding: 30px;

		.fors-select-view {
			border-radius: 0 !important;
			box-shadow: none !important;
			font-size: 1rem;
			height: 65px !important;
			padding: 0 1.105em !important;
		}

		.row-input {
			height: 65px !important;
			padding: 0 1.105em !important;
		}

		.step-content__info-phone {
			.fors-dropdown {
				width: calc(100% / 3 - 5px);
			}

			.row-input {
				width: calc(100% / 3 - 5px);
			}
		}

		.row-title {
			flex: 0 0 95px;
		}
	}
}

.simple-consult {
	&__body__content {
		padding: 21px;
		text-align: left;

		.required {
			color: #ec0909;
			margin-left: 3px;
			vertical-align: middle;
		}

		&-title {
			font-weight: bold;
		}

		.require {
			color: $require-color;
		}

		&-box {
			margin-top: 10px;
		}

		&-box__row {
			display: flex;
			align-items: center;

			&:nth-child(n + 2) {
				margin-top: 10px;
			}

			.row-title {
				flex: 0 0 80px;
			}

			.row-input {
				border: 1px solid $border-color;
			}
		}

		.step-content__info-phone {
			width: 100%;

			&__box {
				width: 100%;
				display: flex;
				justify-content: space-between;

				.fors-dropdown {
					width: calc(100% / 3 - 2px);
					display: inline-block;
					float: left;
				}
			}

			.row-input {
				width: calc(100% / 3 - 2px);
				display: inline-block;

				&.error_input {
					border: 1px solid red !important;
				}
			}
		}

		.fors-select-view {
			border-radius: 0 !important;
			box-shadow: none !important;
			font-size: 1rem;
			height: 40px !important;
			padding: 0 8px !important;
		}

		.fors-select-box {
			border-radius: 0 !important;
			box-shadow: none !important;
			border: 1px solid #969696 !important;

			.btn-name {
				font-size: 1rem;
				font-weight: normal;
			}
		}

		.row-input {
			position: relative;
			line-height: normal;
			width: 100%;
			padding: 0 8px;
			letter-spacing: -.6px;
			color: #474747;
			background-color: #fff;

			height: 40px;
			border: 1px solid #e1e1e1;
			box-shadow: none !important;
			border-radius: 0;
			font-size: 16px;

			&.error_input {
				border: 1px solid red;
			}

			&.disabled {
				background-color: #f1f1f1;
				color: #969696;
			}
		}

		input {
			box-shadow: none !important;
			border: none;
			height: 100%;
			width: 100%;
			padding: 0;
			font-size: 1rem;

			&:disabled {
				background-color: transparent;
				color: #969696;
			}
		}
	}
}