// min-height:  200

.image__gallery {
    width: 100%;
    overflow:  hidden;

    .image__gallery__container {
        overflow:  hidden;
    }

    .image__gallery__list {
        overflow:  hidden;

        .image__gallery__thumb {
            display:  inline-block;
            overflow:  hidden;
            float:  left;
            cursor:  pointer;
            border: 1px solid #e1e1e1;
            position: relative;

            .lazy-load, .lazy-loaded {
                transition: opacity 0.3s;
                opacity: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
            }

            .lazy-loaded { opacity: 1; }
        }
    }

    .imaeg__gallery__preview {
        display:  none;
        width:  100%;
        height:  600px;
        background-color:  #5e5e5e;
    }
}