.policy {
	//background-color: #fafafa;

	ul,
	ol {
		padding: 0 0.75rem;
		width: 100%;
	}

	ol {
		list-style: decimal;
		ul {
			list-style: disc;
		}
		ol {
			list-style: lower-alpha;
			ol {
				list-style: lower-roman;
			}
		}
	}
}

.policy-term {
	.accordion-describe {
		font-size: 0.9rem;
		letter-spacing: -0.9px;
		line-height: 1.5;
		color: #969696;
		width: 100%;
	}
}

.policy-private {
	&__container {
		min-height: calc(100vh - 290px);
		padding-top: 15px;
	}

	.accordion-describe {
		font-size: 0.9rem;
		letter-spacing: -0.9px;
		line-height: 1.5;
		color: #969696;
	}

	.policy-table {
		display: flex;
		flex: 1 1 auto;
		flex-direction: row;
		align-items: center;
		border-top: 2px solid #000;
		width: 100%;

		&__row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1 1 auto;
			height: 100%;
			text-align: center;
			flex-wrap: nowrap;

			&:nth-child(n + 2) {
				border-left: 1px solid #e1e1e1;
			}

			.title {
				padding: 0.5rem;
				background-color: #f1f1f1;
			}

			.content {
				padding: 0.5rem;
				background-color: #fff;
				font-size: 0.8rem;
				width: 100%;
			}
		}
	}
}