html {
    box-sizing: border-box;
    font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    font-family: $base-font-family;
    font-size: $base-font-size;
}

body {
    height: 100%;
    color: $base-color;
    line-height: $base-line-height;
    letter-spacing: $base-letter-spacing;
}

a {
    text-decoration: none;
}

input,
textarea,
button,
a {
    font-family: inherit;
    outline: 0;
}

input,
textarea {
    &:-ms-input-placeholder { color: #969696; } // Internet Explorer 10 이상에 적용
    &::-webkit-input-placeholder { color: #969696; } //  Webkit, Blink, Edge에 적용
    &::-moz-placeholder { color: #969696; } // Mozilla Firefox 4 부터 18에 적용
    &::-moz-placeholder { color: #969696; } // Mozilla Firefox 19 이상에 적용
}

#_modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
}
