._table {
    width: 100%;
    table-layout: fixed;
    background-color: #fff;

    &.fixed {
        table-layout: fixed;
    }

    $th_padding: 1em;

    tr {
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;

        &:last-child {
            border-bottom: 1px solid #e2e2e2;
        }

        > :nth-child(n+2) {
            border-left: 1px solid #e2e2e2;
        }

        th {
            padding: $th_padding 0;
            font-weight: 500;
            background-color: #efefef;
        }

        td {
            padding: 1.923em 1.308em;
            height: 50px;
            vertical-align: middle;
            text-align: center;
            word-wrap: break-word;
            word-break: break-all;

            &.total__price {
                color: #d0021b;
            }
        }
    }

    thead {
        border-top: 2px solid #000;
    }

    // 1.667em 1.333em

    tbody {
        border-top: 1px solid #ccc;

        tr:nth-child(n+2) {
            border-top: 1px solid #e2e2e2;
        }
    }

    tfoot {
        tr {
            background-color: #efefef;
            border-top: 1px solid #e2e2e2;

            td {
                padding: $th_padding 0;
                font-weight: 500;
            }
        }
    }
}