.event__direction__proxy__page {
    .event__section__01 {
        position: relative;
        background-color: #303030;

        .bg01 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .content__01 {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 35px 0 38px;
            z-index: 1;

            .logo {

            }

            .txt01 {
                margin-top: 20px;
            }

            .txt02 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 37px;
                margin-top: 23px;
                padding: 0 20px;
                background-color: #ffc52b;
                border-radius: 70px;
                font-weight: bold;
                letter-spacing: -0.7px;
            }
        }
    }

    .event__section__02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 39px 0 40px;
        background-color: #4f18a0;
        color: #fff;
        text-align: center;

        .title {
            font-size: 1.857em;
            font-weight: bold;
            line-height: 1.38;
            letter-spacing: -0.65px;

            &:after {
                content: " ";
                display: inline-block;
                width: 70px;
                height: 4px;
                margin-top: 20px;
                background-color: #ffc52b;
            }
        }

        > .txt01 {
            margin-top: 20px;
            font-size: 1.071em;
            font-weight: 300;
            line-height: 1.6;
        }

        .content__01 {
            position: relative;
            margin-top: 22px;

            .content__text {
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;

                .txt01 {
                    font-weight: 300;
                    line-height: 0.86;
                    letter-spacing: -0.35px;

                    > span {
                        position: relative;

                        &:before {
                            position: absolute;
                            left: 50%;
                            bottom: 100%;
                            content: " ";
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            margin-bottom: 5px;
                            margin-left: -2px;
                            background-color: #ffc52b;
                            border-radius: 100%;
                        }
                    }
                }

                .img__txt02 {
                    margin-top: 10px;
                }
            }
        }

        > .txt02 {
            margin-top: 20px;
            font-size: 1.429em;
            font-weight: bold;
            line-height: 0.9;
            letter-spacing: -0.5px;
        }
    }

    .event__section__03 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        background-color: #f0f0f0;
        text-align: center;

        .txt01 {
            font-size: 1.429em;
            line-height: 1.2;
            letter-spacing: -1px;

            &:before {
                content: " ";
                display: inline-block;
                width: 70px;
                height: 4px;
                margin-bottom: 17px;
                background-color: #000;
            }

            &:after {
                content: " ";
                display: inline-block;
                width: 2px;
                height: 18px;
                margin-top: 15px;
                background-color: #000;
            }
        }

        .txt02 {
            margin-top: 12px;
        }

        .txt03 {
            margin-top: 27px;
            font-size: 1.071em;
            line-height: 1.4;
            letter-spacing: -0.75px;
        }

        .txt04 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 38px;
            margin-top: 23px;
            padding: 0 20px;
            background-color: #000;
            color: #fff;
            font-size: 1.071em;
            font-weight: 500;
            line-height: 1.53;
            letter-spacing: -0.38px;
            cursor: pointer;
        }
    }

    .event__section__04 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        background-color: #ffca3c;
        text-align: center;

        .txt01 {
            font-size: 1.429em;
            line-height: 1.2;
            letter-spacing: -1px;

            &:before {
                content: " ";
                display: inline-block;
                width: 70px;
                height: 4px;
                margin-bottom: 17px;
                background-color: #000;
            }

            &:after {
                content: " ";
                display: inline-block;
                width: 2px;
                height: 18px;
                margin-top: 15px;
                background-color: #000;
            }
        }

        .content__01 {
            display: flex;
            flex-flow: row nowrap;

            .hr {
                padding: 0 10px;

                &:before {
                    content: "····";
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 82px;
                    color: #fff;
                }
            }

            .step {
                width: 82px;

                .step__icon {
                    position: relative;
                    width: 82px;
                    height: 82px;

                    > span {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 18px;
                        height: 18px;
                        background-color: #000;
                        border-radius: 100%;
                        color: #fff;
                        font-size: 0.429em;
                        font-weight: 500;
                        line-height: 1;
                    }

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        border-radius: 100%;
                    }
                }

                .step__txt {
                    margin: 13px 0 0 6px;
                    font-size: 0.857em;
                    text-align: start;
                    line-height: 1.5;
                    letter-spacing: -0.6px;
                }
            }
        }
    }

    .event__section__05 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        text-align: center;

        .title {
            font-size: 1.357em;
            font-weight: bold;
            line-height: 1.58;
            letter-spacing: -0.48px;
        }

        .consult {
            max-width: 375px;
            margin-top: 26px;
            padding: 0 14px;


            .consult__name {
                ._input {
                    font-weight: bold;
                }
            }

            .consult__contact {
                display: flex;
                flex-direction: row;
                margin-top: 20px;

                > :nth-child(n+2) {
                    margin-left: 8px;
                }

                ._input {
                    font-size: 0.929em;
                }
            }
        }

        .agree {
            margin-top: 24px;
            font-size: 0.857em;
            line-height: 1.79;
            letter-spacing: -0.3px;

            .check__box {
                > div {
                    .check__icon {
                        border: 2px solid #f7b500;
                    }
                }
            }

            a,
            a:active,
            a:visited,
            a:link {
                color: #000;
                cursor: pointer;
            }
        }

        .btn01 {
            width: 210px;
            height: 45px;
            margin-top: 20px;
            background-color: #f7b500;
            color: #fff
        }

        .btn02 {
            width: 210px;
            height: 45px;
            margin-top: 12px;
            border: 4px solid #f7b500;
            color: #f7b500;
        }
    }

    .event__section__06 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        background-color: #343434;
        color: #a4a4a4;
        text-align: start;

        .content__01 {
            max-width: 347px;
            text-align: start;

            .title {
                &:after {
                    content: " ";
                    display: inline-block;
                    width: 86px;
                    height: 3px;
                    margin-top: 8px;
                    background-color: #979797;
                }
            }

            .txt01 {
                margin-top: 23px;

                > p {
                    position: relative;
                    padding-left: 8px;

                    &:before {
                        content: "·";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-left: -2px;
                    }
                }
            }
        }
    }
}
