.social-sync-buttons {
    display: inline-block;
    width: 100%;

    > div {
        margin-bottom: 20px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        > span {
            padding-left: 0.625rem;
            font-size: 0.9rem;
            letter-spacing: -1px;
            color: #969696;
            &.active {
                color: #000;
            }
        }
    }

    .button {
        //float: right;
        //margin-right: 1rem;
        width: 25vw;
        top: 50%;
        right: 0;
        position: absolute;
        transform: translateY(-50%);
    }

    .social__icon__email {
        position: relative;
        display: inline-block;
        width: 52px;
        height: 52px;
        background-image: url("#{$IMG_SERVER}/common/icon_email.png");
        background-size: cover;
        vertical-align: middle;
    }
}
