.popup__receipt__confirm,
.popup__receipt {
    width: 320px;
    color: #666;
    font-size: 14px;
    text-align: left;

    .print_receipt_button {
        text-align: center;
        padding: 15px 0;
        > button {
            font-size: 16px;
            padding: 13px 30px;
            height: auto;
            font-weight: bold;
            border-color: #000;
            color: #000;
        }
    }

    .receipt__body {
        display: flex;
        flex-direction: column;

        .receipt_title {
            flex: 0 0 auto;
            color: #000;
            font-size: 1.45em;
            font-weight: bold;
            text-align: center;
        }

        .receipt_no {
            flex: 0 0 auto;
            margin: 15px 0 5px;

            .title {
                color: #000;
                margin-right: 5px;
                font-size: 1.1em;
                font-weight: bold;
            }

            .fors-dropdown-desktop {
                .fors-select,
                .fors-select-box {
                    border-radius: 5px;
                }
            }
        }

        .receipt_content {
            flex: 0 0 auto;
            border-top: 3px solid #000;

            &:last-child {
                border-bottom: 3px solid #000;
            }

            > div {
                display: flex;
                flex-direction: row;
                padding: 7px 5px;

                &:nth-child(n+2) {
                    border-top: 1px solid #e1e1e1;
                }

                > .title {
                    flex: 0 0 55px;
                    font-size: 1.1em;
                    font-weight: bold;
                    color: #000;
                    margin-right: 15px;
                }

                > .content {
                    display: flex;
                    flex-flow: row wrap;
                    flex: 1 1 auto;
                    align-items: center;
                    justify-content: flex-end;

                    .option__count {
                        display: flex;
                        flex-direction: row;
                        flex: 1 1 100%;
                        text-align: right;

                        > .title {
                            flex: 1 1 auto;
                            text-align: left;

                            > .icon {
                                margin-right: 3px;
                            }
                        }

                        > .content {
                            flex: 0 0 75px;
                        }

                        .f__icon__calendar_s {
                            vertical-align: middle;
                            margin-right: 3px;
                        }

                        &:nth-child(n+2) {
                            margin-top: 3px;
                        }
                    }
                    
                    .pay__info {
                        text-align: right;
                    }

                    .calendar-popup {
                        width: 300px;
                    }
                }

                .date__choose {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px;
                    border: 1px solid #e1e1e1;
                    border-radius: 5px;

                    .icon {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .receipt__footer {
        .modal-button-group {
            margin-top: 30px;
            text-align: center;

            > :nth-child(n+2) {
                margin-left: 25px;
            }

            ._button {
                border-radius: 34px;
            }
        }
    }
}