$options-border: 1px solid #e1e1e1;
$options-padding: 15px;
$options-margin: 15px;

.popup__product__payment {
    min-width: 680px;
    max-width: 1020px;

    .layout {
        background-color: #fafafa;

        &__header {
            background-color: #494f59;

            .products__payment__breadcrumb {
                display: flex;
                flex-direction: row;
                flex: 0 0 auto;
                width: 100%;
                height: 100%;
                align-items: center;
                padding: 15px;
                background-color: #494f59;
                color: #969696;
                font-size: 91%;
                text-align: center;

                .payment__breadcrumb {
                    &__bar {
                        flex: 0 0 auto;
                        color: inherit;
                    }

                    &__process {
                        flex: 1 1 auto;
                        color: inherit;

                        &.active {
                            color: #b7d2e3;
                        }
                    }

                    &__complete {
                        flex: 1 1 auto;
                        color: inherit;

                        &.active {
                            color: #b7d2e3;
                        }
                    }
                }

                .title {
                    margin-top: 5px;
                }
            }
        }

        &__body {
            height: 68vh;
            padding: 0 30px;
            justify-content: center;
            background-color: #fafafa;
            overflow: auto;

            &__side{
                &__left {
                }

                &__right {
                    position: relative;
                    flex-basis: 328px;
                    margin-left: 24px;

                    > .layer {
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 30px 0;
                        transition: top 0.3s;
                    }

                    .agree__clause {
                        text-align: center;
                        
                        > .title {
                            color: #969696;
                            font-size: 0.85em;
                        }

                        > .content {
                            margin-top: 10px;
                        }
                    }

                    .f__button {
                        font-size: 1em;
                        font-weight: bold;
                    }
                }
            }

            &__main {
                flex: 0 1 680px;
                overflow: initial;

                > .layer {
                    flex: 0 0 auto;
                    padding: 30px 0;
                }
            }
        }

        &__footer {
        }
    }

    .layer {
        &__header {
        }

        &__body {

        }

        &__footer {
        }

        .layer__container {
            > :nth-child(n+2) {
                margin-top: 15px;
            }

            textarea {
                width: 100%;
                padding: 0.7em;
                margin: 0;
                border: 1px solid #e1e1e1;
                border-radius: 5px;
                font-size: 1em;
                font-weight: normal;
                line-height: normal;
                resize: none;
            }

            ._input {
                border-radius: 5px;
            }
        }
    }

    .info__policy {
        display: flex;
        flex-direction: row;
        padding: 15px;
        align-items: center;
        letter-spacing: -1px;
        font-weight: 500;

        &.hr {
            padding: 0;
            margin: 0;
            border-top: 1px solid #e1e1e1;
        }

        &.policy__accordion {
            color: #969696;
            font-size: 90%;
            max-height: 0;
            padding: 0 22px;
            overflow: auto;
            transition: all 0.6s;

            &.accordion__down {
                max-height: 1500px;
                padding: 0 22px;
            }

            .policy__text {
                margin-bottom: 20px;
            }
        }

        .policy__accordion__button {
            display: flex;
            transition: transform 0.6s;

            &.accordion__down {
                transform: rotateX(180deg);
            }
        }

        .policy__title {
            flex: 0 0 90px;
            //font-size: 12px;
            color: #969696;
            text-align: left;
        }

        .policy__text {
            flex: 1 1 auto;
            text-align: left;
            padding-left: 0.625em;

            &.requierd:after {
                content: "(필수)";
                color: #ff326c;
                margin-left: 3px;
            }
        }

        .policy__agree {
            flex: 0 0 auto;
        }

        dl {
            dt {
                font-weight: bold;
                margin-bottom: 2px;

                &:nth-child(n+2) {
                    margin-top: 10px;
                }
            }

            dd {
                font-size: 95%;
                text-align: justify;
            }
        }

        ul {
            list-style: disc;

            li {
                margin-left: 20px;
                text-align: justify;
                font-size: 95%;

                &:first-child {
                    margin-top: 10px;
                }

                &:nth-child(n+2) {
                    margin-top:7px;
                }
            }
        }
    }

    .agree__button {
        &:before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: middle;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid #e1e1e1;
            margin-right: 5px;
        }

        &.checked:before {
            background-color: #ffba00;
            border-color: #ffba00;
        }
    }

    .products__options__item {
        display: flex;
        flex-direction: column;
        border: $options-border;
        background-color: #fff;
        max-height: 50px;
        overflow: hidden;
        transition: all 0.4s;

        &.show {
            max-height: 1000px;
            transition: all 0.8s;
            border-color: rgba(255, 186, 0, 0.5);
        }

        .option__title {
            display: flex;
            flex-direction: row;
            flex: 0 0 50px;
            align-items: center;
            padding: 0 $options-padding;
            font-size: 0.975em;

            > .title {
                flex: 1 1 auto;
                font-weight: bold;
            }

            > .price {
                flex: 0 0 auto;
                color: #666;
            }

            .won {
                margin-right: 3px;
            }

            > .arrow {
                flex: 0 0 auto;
                margin-left: 15px;
            }
        }

        .option__detail {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            font-size: 0.825em;

            &:nth-child(n+2) {
                border-top: $options-border;
            }
        }

        .option__info {
            display: flex;
            flex-direction: row;
            padding: $options-padding;

            >:nth-child(n+2) {
                margin-left: 15px;
            }

            .info__item {
                display: flex;
                flex-direction: column;
                flex: 0 1 33.33%;
                align-items: center;

                > .title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: bold;
                    color: #969696;

                    icon {
                        margin-right: 5px;
                    }
                }

                > .content {
                    margin-top: 10px;
                    font-weight: bold;
                    font-size: 1.1em;
                    color: #666;
                }
            }

            .info__basic {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;

                > .title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: bold;
                    color: #969696;

                    icon {
                        margin-right: 5px;
                    }
                }

                > .content {
                    margin-left: 10px;
                    font-weight: bold;
                    font-size: 1.1em;
                    color: #666;
                }
            }
        }

        .option__list {
            display: flex;
            flex-direction: column;
            padding: $options-padding;
        }

        .option__select {
            display: flex;
            flex-direction: column;
            min-height: 77px;
            max-height: 282px;
            border: $options-border;
            margin: 15px 0 20px;
            overflow: auto;

            &__item {
                display: flex;
                flex-direction: column;
                flex: 0 0 77px;
                padding: $options-padding;

                &:nth-child(n+2) {
                    border-top: $options-border;
                }

                > div {
                    display: flex;
                    flex-direction: row;

                    &:nth-child(n+2) {
                        margin-top: 10px;
                    }

                    > .title {
                        flex: 1 1 auto;
                    }

                    > .remove {
                        flex: 0 0 auto;

                        > .f__button__close {
                            width: 14px;
                            height: 14px;

                            &:after,
                            &:before {
                                background-color: #000;
                            }
                        }
                    }

                    > .qty {
                        flex: 0 0 auto;
                    }

                    > .price {
                        display: flex;
                        flex-direction: row;
                        flex: 1 1 auto;
                        align-items: center;
                        justify-content: flex-end;

                        .won {
                            font-family: sans-serif;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }

        .option__content {
            max-height: 450px;
            padding: $options-padding;
            color: #666;
            line-height: 1.7;
            overflow: auto;
            word-wrap: break-word;
            word-break: break-all;
        }

        .option__payment {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            padding: $options-padding;

            .won {
                margin-right: 3px;
            }
        }

        .option__qty {
            .option__qty__title {
                display: flex;
                flex-direction: row;
                align-items: center;

                > .title {
                    font-weight: bold;
                    margin-right: 15px;
                }

                > .icon {
                    margin-right: 5px;
                }
            }

            .option__qty__content {
                margin: 15px 0;

                .qty-box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;

                    > span {
                        flex: 1 1 auto;
                    }

                    > button {
                        flex: 0 0 auto;
                    }
                }
            }
        }

        .fors-dropdown-desktop {
            width: 100%;

            .fors-select {
                border-radius: 5px;
            }

            .fors-select-box {
                border: 1px solid #969696;
                border-radius: 5px;
            }
        }
    }

    .products__options__checkbox {
        display: flex;
        flex-direction: column;
        border: $options-border;
        background-color: #fff;
        transition: all 0.4s;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 0 0 auto;
            min-height: 60px;
            padding: $options-padding;

            &:nth-child(n+2) {
                border-top: $options-border;
            }

            > div {
                display: flex;
                flex-direction: row;

                &:nth-child(n+2) {
                    margin-top: 10px;
                }

                > .title {
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 auto;
                    align-items: center;
                }

                > .qty {
                    flex: 0 0 auto;
                }

                > .price {
                    display: flex;
                    flex-direction: row;
                    flex: 0 0 130px;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 0 25px;

                    .won {
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}