@import "desktop/resources/scss/variables";

// Icon - social Part
$icon-social-width: 36px;
$icon-social-height: 36px;
$icon-social-base-posy: -100px;
$icon-social-hover-posy: -144px;
$icon-social-besize-def-x: -43px;
$icon-social-beside-posx: -44px;
$icon-social-beside-posx2: -218px;

// Icon - forsnap Part
$icon-forsnap-width: 91px;
$icon-forsnap-height: 91px;
$icon-forsnap-beside-posx: -101px;

$dev-host: "#{$IMG_SERVER}/common/f_icon_v1.png";
$icon-url: url($dev-host);

//////////
// popdown
// upload photos css
// reply css
// schedule css
// payment addition css
// etc.
//////////

// popdown
.popdown-container {
    position: relative;
    display: inline-block;

    .popdown-target {
        cursor: pointer;
    }

    .popdown-contents {
        position: absolute;
        display: none;
        top: 100%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #e1e1e1;
        box-shadow: 2px 2px 10px -6px #000;
        z-index: map_get($z-index, "fixed");

        &.show {
            display: inline-block;
            width: auto;
            height: auto;
            opacity: 1;
        }

        .popdown-arrow {
            content: " ";
            position: absolute;
            top: -10px;
            width: 10px;
            height: 10px;
            border-color: transparent transparent #e5e5e5 transparent;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            z-index:-1;

            .popdown-arrow {
                left: -8px;
                top: 2px;
                width: 8px;
                height: 8px;
                border-width: 0 8px 8px 8px;
                border-bottom-color: #fff;
            }
        }

        // popdown-content 컨텐츠영역 css 정의
        .popdown-content {
            overflow: hidden;
            border-radius: 10px;

            .calendar-popup {
                width: 328px;
                padding: 20px;
            }
        }

        .buttons-content {
            padding: 8.5px 0;

            .btn {
                width: 100%;
                height: 31px;
                font-size: 16.3px;

                .btn-name:before {
                    display: block;
                    content: attr(title);
                    font-weight: bold;
                    height: 0;
                    color: transparent;
                    overflow: hidden;
                    visibility: hidden;
                }

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

// upload photos css
.pop-upload-photos {
    width: 978px;

    .photos-uploadfile {
        display: none;
    }

    .photos-title {
        margin-bottom: 25px;

        &:nth-child(n+2) {
            margin-top: 25px;
        }

        > p {
            position: relative;
            font-size: 22.3px;
            font-weight: 300;
            letter-spacing: -1.1px;
            text-align: center;

            > span {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 14.6px;
                letter-spacing: -0.7px;
            }
        }
    }

    .photos-caption {
        margin: 15px 0 25px;
        color: #969696;
        font-size: 0.82em;
    }

    &.custom-list {
        max-width: 918px;
        .photos-list {
            min-height: 414px;

            ul {
                width: 100%;
                height: 100%;

                li {
                    height: auto;
                    float: left;
                    margin-bottom: 2px;

                    &:nth-child(n+11) {
                        margin-top: 15px;
                    }

                    .photo-origin,
                    .photo-custom {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: 90px;
                        margin-top: 2px;
                        border-radius: 10px;
                        overflow: hidden;
                        z-index: 0;

                        .photo-file {
                            display: none;
                            vertical-align: middle;
                            padding: 10px;

                            .photo-file-name {
                                display: block;
                                color: #969696;
                                word-break: break-all;
                                font-size: 13px;
                            }

                            .photo-file-ext {
                                display: inline-block;
                                color: #fff;
                                background-color: #969696;
                                border-radius: 5px;
                                padding: 3px 7px;
                                font-size: 9px;
                                font-weight: bold;
                            }
                        }
                    }

                    .photo-custom.none {
                        border: 2px dashed #e1e1e1;

                        .photo-file {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            overflow: auto;
                        }

                        .image-box {
                            display: none;
                        }
                    }
                }
            }
        }

        .photos-buttons {
            .btn {
                &.btn-add-photo {
                    width: 447px;
                    float: left;
                }

                &.btn-complete {
                    width: 447px;
                    float: right;
                }
            }
        }
    }

    .photos-list {
        min-height: 366px;
        text-align: left;
        overflow: auto;

        &.empty-list {
            width: 100%;
            border-radius: 10px;
            border: 2px dashed #e1e1e1;
            text-align: center;
            padding-top: 275px;
            background: url('#{$IMG_SERVER}/common/none_visual.png') center 48px no-repeat;

            .h6-caption-sub {
                margin-top: 6px;
            }

            .empty-cpation {
                width: 100%;
            }
        }

        ul {
            width: 100%;
            height: 100%;

            li {
                position: relative;
                display: inline-block;
                width: 90px;
                height: 90px;
                margin-right: 2px;
                border-radius: 12px;
                overflow: hidden;
                float: left;
                margin-bottom: 2px;

                &:nth-child(10n) {
                    margin-right: 0;
                }
            }
        }
    }

    .photos-buttons {
        display: flex;
        flex-direction: row;
        margin-top: 30px;

        :nth-child(n+2) {
            margin-left: 25px;
        }

        .btn {
            flex: 1 1 0;
        }
    }
}

// reply css
.pop-reply {
    text-align: left;
    width: 800px;
    overflow: hidden;

    .reply-head {
        text-align: center;
        padding-bottom: 25px;

        .reply-title {
            font-size: 22.3px;
            font-weight: 300;
            letter-spacing: -1.1px;
        }
    }

    .reply-review-image {
        display: inline-block;
        width: 100%;
        height: 344px;

        .image-slider-box {
            border-radius: 10px;
            overflow: hidden;
        }
    }

    .reply-content {
        position: relative;
        display: inline-block;
        width: 100%;
        min-height: 98px;
        padding: 30px 0;

        &.artist-reply {
            background-color: #f1f1f1;
        }

        .reply-profile {
            display: inline-block;
            width: 150px;
            padding-right: 20px;
            text-align: center;
            float: left;

            .reply-name {
                font-size: 14.6px;
                letter-spacing: -0.7px;
                text-align: center;
                line-height: 1.1;
                margin-top: 10px;
                padding: 0 10px;
                word-break: break-all;
            }
        }

        .reply-comment {
            display: inline-block;
            font-size: 15px;
            letter-spacing: -0.8px;
            line-height: 1.87;
            width: 546px;
            padding-right: 150px;
            float: left;

            .reply-text {
                min-height: 77px;
                word-break: break-all;
            }

            .reply-date {
                font-size: 12.9px;
                color: #969696;
            }
        }

        .reply-rating {
            position: absolute;
            right: 0;
            top: 70px;
        }

        .reply-textarea {
            border-radius: 10px;
            display: inline-block;
            width: 100%;
            height: 128px;
            border: 1px solid #e5e5e5;
            resize: none;
            font-size: 14.6px;
            font-weight: 300;
            letter-spacing: -0.7px;
            line-height: normal;
        }

        .text-count {
            display: inline-block;
            font-size: 12.9px;
            font-weight: normal;
            line-height: 1.27;
            letter-spacing: -0.6px;
            color: #969696;
        }
    }

    .reply-buttons {
        margin-top: 30px;
        text-align: center;
    }

    > .loading-progress {
        margin-top: 30px;
        height: 90px;
    }
}

// schedule css
.pop-schedule {
    textarea {
        width: 100%;
        height: 276px;
        padding: 0.563em 1.104em;
        border-width: 1px;
        border-radius: 10px;
        resize: none;
    }

    .pop-schedule-container {
        display: inline-block;
        width: 100%;
        height: 100%;

        .schedule-left-contents,
        .schedule-right-contents {
            display: inline-block;
            min-width: 417px;
            float: left;

            &:nth-child(n+2) {
                margin-left: 24px;
            }

            > h4 {
                position: relative;
                font-size: 22.3px;
                font-weight: normal;
                letter-spacing: -1.1px;
                margin-bottom: 25px;

                &:nth-child(n+2) {
                    margin-top: 25px;
                }

                .checkbox {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 14.6px;
                }
            }
        }

        .schedule-left-contents {
            .search-calendar {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .swung-dash {
                    font-size: 12.9px;
                    vertical-align: middle;
                    margin: 0 10px;
                }

                .start-calendar,
                .end-calendar {
                    flex: 0 0 auto;
                    display: flex;
                    flex-direction: row;

                    .btn {
                        padding: 0 9px;
                    }

                    .fors-dropdown-desktop .fors-select,
                    .input {
                        font-size: 12.9px;
                        font-weight: normal;
                        letter-spacing: -0.6px;
                        color: #969696;
                    }

                    .input {
                        padding: 0 0.6em;
                    }

                    .fors-dropdown-desktop {
                        margin-left: 5px;

                        .fors-select-view {
                            .icon {
                                right: 10px;
                            }

                            .fors-select {
                                border-radius: 0;
                                padding: 0 2em 0 0.6em;
                            }
                        }

                        .fors-select-box .btn {
                            font-size: 12.9px;
                        }
                    }
                }
            }
        }

        // 스케쥴 팝업 변경시 삭제
        .pop-schedule-type {
            .checkbox-text {
                width: 50%;
            }
        }

        .pop-schedule-description {

        }
    }

    .pop-schedule-buttons {
        margin-top: 30px;
        .btn {
            width: 460px;
        }
    }

    &.schedule-modify {
        .pop-schedule-buttons {
            .btn {
                width: 230px;

                &:nth-child(n+2) {
                    margin-left: 12px;
                }
            }
        }
    }
}
