.progress__breadcrumb {
    .breadcrumb__list {
        display: flex;
        flex-direction: row;

        > .item {
            flex: 1 1 54px;
            text-align: center;
            color: #cbcbcb;

            > .count {
                font-size: 2.357em; //1.786em;
                font-weight: bold;
            }

            > .title {
                font-size: 0.857em;
                font-weight: bold;
            }

            &.active {
                color: #000;

                > .count {
                    color: #fe306a;
                }
            }
        }

        > .item__gt {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}