$button-border              : 1px solid #e1e1e1;
$button-color--actived      : #000;
$button-border--actived     : 1px solid #000;

.serviceHistory-page {
    .my-service-search {
        position: relative;
        padding: 20px;
        background-color: #f3f3f3;
    }

    .button-group {
        //.btn {
        //    border: $button-border;
        //
        //    &.active {
        //        border: $button-border--actived;
        //        z-index: 2;
        //    }
        //
        //    &:hover,
        //    &:focus {
        //        border: $button-border;
        //        color: $button-color--actived;
        //    }
        //}
    }
}
