.about-artist_product {
	position: relative;
	padding: 1rem;

	.ignore-show-checkbox {
		margin-top: 15px;
		text-align: right;
		.checkbox {
			display: inline-block;
			padding: 1px 3px;
			border: 1px solid #e1e1e1;
			border-radius: 5px;
			margin-right: 5px;

			.m-icon {
				top: -2px;
			}

			&.active {
				border-color: #ffbb00;
				background-color: #ffbb00;
			}
		}
	}

	.product_unit {
		border: 1px solid #e1e1e1;
		background-color: #fff;
		display: inline-block;
		border-radius: 5px;
		overflow: hidden;
	}
	.artist_product_list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.product_unit {
			a{
				&:active,
				&:link,
				&:visited,
				&:hover {
					color: #000;
				}
			}

			flex: 0 1 auto;
			margin: 0 0 5px 5px;
			flex-basis: calc(50% - 7px);
			//height: 200px;
			border: 1px solid #e1e1e1;
			background-color: #fff;
			.image-part {
				height: 130px;
			}

			.content-part {
				//height: 68px;
				position: relative;
				padding: 0.2rem 0.5rem;
				display: flex;
				align-items: center;

				.profile {
					width: 40px;
					height: 40px;
					//flex-basis: calc(40px);
					overflow: hidden;
					border-radius: 100%;
					flex: 0 0 40px;
					margin-right: 5px;
					.image-content {
						border-radius: 100%;
					}
				}
			}
		}

		.product_unit .content-part .info {
			position: relative;
			display: flex;
			flex-direction: column;
			flex: 0 100%;

			.title {
				height: 40px;
				font-size: 0.9rem;
				flex-basis: 100%;

				color: #000;
				word-break: break-word;
				line-height: 1.55;
				overflow: hidden;
				word-wrap: break-word;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
			}
			.price {
				position: relative;
				font-size: 0.8rem;
				color: #969696;
				right: 0;
			}
		}
	}
}
