.artist-trust-component {
	.info-box {
		display: flex;
		//margin-top: 5px;
		padding: 10px;
		border-top: 1px solid #e1e1e1;
		//border-bottom: 1px solid #e1e1e1;
		text-align: center;
		> div {
			flex: 1 0 0;
			&:nth-child(n + 2) {
				border-left: 1px solid #e1e1e1;
			}

			.first-line {
				font-size: 0.95rem;
				margin-bottom: 5px;
			}
			.second-line {
				//margin-top: 3px;
				font-size: 0.85rem;
				color: #969696;

				.plus {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 auto;
					font-size: 15px;
					color: #ff326c;
					border: 1px solid #ff326c;
					border-radius: 100%;
					width: 16px;
					height: 16px;
					background-color: #fff;
					transition: background-color 0.2s;

					&:after {
						transition: all 0.2s ease;
						content: "+";
						//width: 15px;
						//height: 15px;
						//font-size: 12px;
					}

					&.clicked {
						color: white;
						background-color: #ff326c;

						&:after {
							transform: rotate(45deg);
						}
					}
				}
			}
		}
		.reserve-complete {

		}

		.average-request {
		}

		.contentment {

		}

		.more-info {
			cursor: pointer;
		}
	}
	.hide-info .hide-info-row {
		display: flex;
		align-items: flex-start;
		flex: 1 1 auto;

		.hide-info-other {
			color: #969696;
			word-break: keep-all;
		}
	}

	.hide-info {
		font-size: 0.90rem;

		&-title {
			flex: 0 0 100px;
			color: #000;
			//font-size: 0.95rem;
			text-align: justify;

			&:first-child {
				padding-bottom: 5px;
			}
		}

		visibility: hidden;
		height: 0;
		opacity: 0;
		border-top: 1px solid #e1e1e1;
		transition: height 0.1s, opacity 0.1s;
		color: transparent;

		&.show {
			opacity: 1;
			visibility: visible;

			//height: 65px;
		}

		.test {
			padding: 15px;
		}
	}

}