.accordion {
	&__heading {
		padding: 0.75rem;
		background-color: #fff;
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #e1e1e1;

		&-title {
			font-weight: 500;
		}
	}

	&__heading-icon {
		> i {
			transition: transform 300ms;
		}

		&.hide > i {
			transform: rotate(0);
		}

		&.show > i {
			transform: rotate(90deg);
		}
	}

	&__content {
		background-color: #f1f1f1;
	    transition: height 200ms;
		overflow: hidden;
		> div {
			flex-direction: column;
			word-break: keep-all;
		}
		.hide {
			padding: 0.75rem;
			height: 0;
		}

		.show {
			display: flex;
			flex: 1 1 auto;
			align-items: center;
			padding: 0.75rem;
		}
	}
}