.accordion-box {
	position: relative;
	padding-bottom: 20px;
	&__heading {
		background-color: #f1f1f1;
		padding: 0.75rem;
		border: {
			top: 1px solid #e1e1e1;
			bottom: 1px solid #e1e1e1;
		}
	}

	&__main-title {
		font-size: 1.05rem;
		font-weight: 500;
	}

	&__list-content {

	}
}