@import "desktop/resources/scss/mixins";

.brand-guide {
    .information-panel {
        .information-heading {
            font-weight: 500;
            text-align: center;
        }

        .information-description {
            width: 648px;
            margin: 0 auto;
            @include clearfix();
        }
    }

    .brand-item {
        display: inline-block;
        position: relative;
        //float: left;
        width: 162px;
        padding-left: 10px;
        padding-right: 10px;

        text-align: center;
    }

    .brand-box {
        position: relative;
        width: 142px;
        height: 142px;

        > span {
            color: #fff;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 0.1px;
            line-height: 142px;
        }

        > img {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
        }

        &-border {
            border: 1px solid #e1e1e1;
        }

        &--yellow {
            background-color: #ffba00;
        }

        &--dark-gray {
            background-color: #494f59;
        }

        &--black {
            background-color: #000;
        }

        &--gray {
            background-color: #969696;
        }
    }

    .brand-item-contents {
        position: relative;
    }

    .brand-item-title {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }

    .brand-item-description {
        font-size: 13px;
        font-weight: 300;
        color: #969696;
    }

    .brand-row {
        margin-bottom: 30px;
        text-align: center;
        @include clearfix();

        img + img {
            margin-left: 20px;
        }

        &.brand-logo {
            margin-top: 15px;
            margin-bottom: 40px;
        }

        &.brand-logo-box {}
    }
}