.m_main-reserve-complete {
    //margin-top: 20px;
    //margin-bottom: 10px;
    overflow: hidden;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04);

    .recently_text {
        font-size: 1.429rem;
        margin-bottom: 15px;
        font-weight: 600;
        text-align: center;
    }

    .complete_list {
        width: 100%;
        position: relative;
        display: inline-block;
    }

    .list-unit {
        //width: 184px;
        width: calc(100vw * (1 / 2.5) - 2px);
        height: 200px;
        border: 1px solid #e1e1e1;
        background-color: #fff;
        float: left;
        cursor: pointer;

        .top-content {
            position: relative;
            overflow: hidden;
            height: 120px;

            .order_content {
                font-size: 12px;
                font-weight: 300;
                letter-spacing: -0.6px;
                color: #fff;

                padding: 10px;
                line-height: 1.3;
                height: 6rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                cursor: pointer;
            }

            > img {
                position: absolute;
                width: 100%;
                //height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .bottom-content {
            position: relative;
            padding: 8px;

            height: 50px;
            //height: 100%;

            .content-inner {
                position: relative;
                //position: absolute;
                //height: 100%;
                //bottom: -10px;
                width: 100%;
            }

            .title {
                font-size: 1rem;
                color: #000;
                font-weight: 500;
                letter-spacing: -0.6px;

                line-height: 1;
                height: 2rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-wrap: break-word;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                word-break: keep-all;
                //word-wrap: normal;
                //overflow: hidden;
                //white-space: nowrap;
                //text-overflow: ellipsis;
            }

            .content-foot {
                position: absolute;
                width: inherit;
                bottom: -40px;
                text-align: right;
                color: #c6c6c6;
                display: inline-block;
                font-size: 0.786rem;

                .nick {
                    position: absolute;
                    right: 35px;
                    bottom: 0;
                    width: 70%;
                    word-wrap: normal;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: table-cell;
                }

                .test {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 30px;
                }
            }
        }
    }

    .arrow {
        position: absolute;
        top: 55%;
        width: 100%;
        transform: translate(-50%, -50%);
        left: 50%;
        cursor: pointer;

        .main-reserve-left {
            float: left;
        }

        .main-reserve-right {
            float: right;
        }
    }
}
