.event-component {
	position: relative;
	.event-top {
		width: 100%;
		background-color: #ffde29;
	}

	.event-middle {
		background-color: #222222;
		position: relative;

		&-button {
			position: absolute;
			width: 70%;
			//height: 70%;
			top: 10%;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
		}
	}

	.event-bottom {
		background-color: #222222;
		position: relative;

		&-buttons {
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
			width: 70%;
			height: 30%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.event-button {
			width: 40%;
			//height: 150px;
			//float: left;
			cursor: pointer;

			&:first-child {
				margin-right: 15px;
			}
		}
	}
}