$payment_border: 1px solid #e5e5e5;
$payment_column_title_bg: #f6f6f6;
$payment_column_content_bg: #fff;
$payment_column__margin: 20px;

.payment__container {
    font-size: 1em;
    line-height: 1;

    .payment__column {
        border: $payment_border;

        &:nth-child(n+2) {
            margin-top: $payment_column__margin;
        }

        > .title {
            background-color: $payment_column_title_bg;
            border-bottom: $payment_border;
            padding: 1.250em;
            font-size: 1.250em;
            letter-spacing: -1px;
            text-align: center;
        }

        > .content {
            word-break: break-all;
            background-color: $payment_column_content_bg;

            &.reserve__date {
                padding: $payment_column__margin;
            }
        }
    }

    .payment__attention {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-weight: 300;
        font-size: 0.725em;

        .attention__icon {
            width: 1.160em;
            height: 1.160em;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 100%;
            font-size: 0.862em;
            line-height: 1;
            text-align: center;

            &.pink {
                color: #ff326c;
                border-color: #ff326c;
            }

            &.yellow {
                color: #ffba00;
                border-color: #ffba00;
            }
        }
    }

    .payment__method {
        padding: $payment_column__margin;

        .method__group {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            > :nth-child(n+2) {
                margin-left: $payment_column__margin;
            }

            > button {
                flex: 1 1 auto;
                height: 60px;
                border-radius: 5px;

                &.active {
                    color: #ff326c;
                    border-color: #ff326c;
                }
            }
        }

        .payment__attention {
            margin-top: $payment_column__margin;
            color: #969696;

            .attention__icon {
                margin-right: 5px;
            }
        }
    }

    .payment__subscriber {
        padding: $payment_column__margin;

        > :nth-child(n+2) {
            margin-top: $payment_column__margin;
        }

        .subscriber__row {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            > .title {
                flex: 0 0 96px;
                margin-right: $payment_column__margin;

                &.required {
                    &:after {
                        content: "*";
                        color: #ff326c;
                    }
                }
            }

            > .content {
                flex: 1 1 auto;
                word-break: break-all;

                ._input,
                ._textarea {
                    border-radius: 5px;
                }
            }
        }
    }

    .payment__result {
        padding: 1.625em;
        border: 2px solid #000;
        text-align: center;
    }

    .payment__info {
        > :nth-child(n+2) {
            border-top: 1px solid #e5e5e5;
        }

        .info__row {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: $payment_column__margin;

            > .title {
                flex: 0 0 auto;
                min-width: 90px;
                margin-right: $payment_column__margin;

                &.lower {
                    color: #969696;
                    font-size: 0.906em;
                }
            }

            > .content {
                flex: 1 1 auto;
                word-break: break-all;
            }
        }
    }

    .payment__contents {
    }

    &.payment__ready {
        .service__agree {

            .agree__title {
                display: flex;
                align-items: center;

                .title {
                    flex: 1 1 auto;

                    .check__box {
                        margin-right: 6px;

                        .check__icon {
                            width: 22px;
                            height: 22px;
                            border-radius: 100%;
                        }
                    }

                    .is__required {
                        color: #ff326c;
                    }
                }

                .arrow {
                    flex: 0 0 auto;
                    cursor: pointer;
                }
            }

            .agree__content {
                color: #969696;
                font-size: 0.906em;

                > p {
                    &:nth-child(n+2) {
                        margin-top: 1em;
                    }
                }
            }
        }
    }

    &.payment__process {
        .payment__info {
            .info__row {
                > .title {
                    flex-basis: 30%;
                }

                > .content {
                    text-align: right;
                }
            }
        }
    }
}