.biz-banner-renew {
	position: relative;
	padding: 105px 0;
	background: url('#{$IMG_SERVER}/biz/top_visual/20181228/main-bg.jpg')  center center / cover no-repeat;

	.biz-panel__title {
		font-size: 38px;
		font-weight: normal;
		line-height: 1.26;
		color: #000;
		text-align: center;
	}

	.biz-panel__descr {
		font-size: 18px;
		color: #666;
		margin-top: 10px;
		text-align: center;
	}

	&__container {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.test-banner-container {
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		padding-top: 30px;
		text-align: center;
	}

	.close-button {
		width: 30px;
		height: 30px;
		position: absolute;
		top: -60px;
		right: 20px;
		cursor: pointer;
	}
}