.estimate__offer-detail {
    .button {
        display: inline-block;
        padding: 0.56em 1.1em;

        font-size: 100%;
        //font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.9px;
        line-height: 1.25;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;

        color: #969696;
        cursor: pointer;

        border: 1px solid transparent;
        border-radius: 7px;

        user-select: none;
        transition: all 0.25s ease-in-out;

        &-block {
            display: block;
            width: 100%;
        }

        &__rect {
            border-radius: 0;
        }

        &.button__theme {
            &__transparent {
                color: #fff !important;
                background-color: transparent;
                border-color: #fff;

                &:active {
                    background-color: #fff;
                    color: #000 !important;
                }
            }
            &__white {
                color: #969696 !important;
                background-color: #fff;
                border-color: #e1e1e1;

                &:active {
                    color: #fff !important;
                    background-color: #969696;
                    //border-color: #e1e1e1;
                }
            }
        }
    }

    .pink-text {
        color: #ff326c;
    }
    .yellow-text {
        color: #ffba00;
    }
    //padding-bottom: 1rem;
    .offer-cover {

    }
    .offer-attach-images {
        position: relative;
        height: 100%;
        width: 100%;
        .attach-img {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: #000;
        }
        .slider-arrow-left,
        .slider-arrow-right {
            position: absolute;
            text-align: center;
            font-size: 2.5rem;
            line-height: 60px;
            color: #fff;
            text-shadow: 2px 2px 5px #333;
            z-index: 200;
            width: 60px;
            height: 60px;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.2);
            top: 50%;
            transform: translateY(-50%);
            display: block;
            cursor: pointer;

            &.hide {
                display: none;
            }
        }
        .test-wrap {
            width: 4.5rem;
            height: 1.8rem;
            font-size: 1rem;
            border-radius: 1rem;
            position: absolute;
            left: 50%;
            bottom: 1rem;
            z-index: 2;
            color: white;
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            background-color: rgba(0, 0, 0, .5);
            text-align: center;
            line-height: 1.8rem;
            .total_count {
                &::before {
                    content: "/";
                    margin: 0 3px;
                }
            }
        }
    }

    .swiper-offerDetail {
        position: relative;
        height: 300px;
        background-color: #000;
        img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.offer-portfolio {
    margin-bottom: 1em;

    .title {
        padding-bottom: .5em;
    }
}

.offer-cover {
    position: relative;
    width: 100%;
    height: 200px;
    &-inner {
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .offer_artist-profile {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 10px;
            z-index: 0;
        }
        .nick_name {
            color: #fff;
            margin-bottom: 20px;
        }
    }
}

.offer-content {
    padding: 1rem;

    .update-dt {
        text-align: center;
        color: #969696;
        font-size: 0.8em;
    }

    .attach-img {
        width: 100%;
        height: 200px;

        margin-bottom: 15px;
    }
}

.offer-panel-box {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
    .offer-panel-head {
        background-color: #f6f6f6;
        padding: 1rem;
        font-size: 1.125em;
        //font-size: 1.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
    }
    .offer-panel-body {
        background-color: #fff;
        &.text {
            color: #969696;
            padding: 1rem;
            line-height: 1.4;
        }
    }
}

.offer-panel-body,._table {
    .reserve {
        .content-row {
            justify-content: space-between;
            .content-left {
                flex: 0 0 110px;
                //min-width: 13%;
                //flex: none;
            }
            .content-center {
                display: flex;
                flex: 1 1 auto;
            }
            .content-right {
                flex: 0 0 35px;
                //min-width: 13%;
                //flex: none;
            }
        }
    }
    .content-row {
        display: flex;
        padding: 1rem;
        flex-direction: row;
        border-bottom: 1px solid #e1e1e1;

        &:last-child {
            border-bottom: none;
        }

        .content-left {
            justify-content: flex-start;
            align-items: center;
            .m-icon {
                margin-right: 5px;
            }
        }
        .content-center {
            justify-content: center;
            align-items: center;
            font-size: 0.8em;
        }
        .content-right {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
