.products__portfolio__list {
    //background-color: transparent;
    height: 0;
    opacity: 0;
    overflow: hidden;
    //background-color: #fff;
    transition: all 0.6s;

    .image-content {
        margin-bottom: 0.5em;
    }

    &.show {
        height: auto;
        opacity: 1;
    }

    .image-content:nth-child(n+2) {
        margin-top: 10px;
    }

    .btn {
        height: 50px;

        &.muted {
            opacity: 0.35;
        }

        .portfolio__count {
            margin-left: 10px;
        }
    }
}
