.chat__addition {
    display: flex;
    flex-direction: column;
    max-width: 960px;

    > :nth-child(n+4) {
        border-top: 1px solid #e1e1e1;
    }

    &__close {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
    }

    &__head {
        display: flex;
        flex-direction: column;

        .addition__tab {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #e1e1e1;
            font-size: 1.875em;

            > .tab__item {
                flex: 1 1 auto;
                color: #fff;
                padding: 34px 15px;
                border-radius: 0;

                &.active {
                    background-color: #000;
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        background-color: #fff;
        font-size: 16px;

        .addition__container {
            display: flex;
            flex-direction: column;
            flex: 1 1 320px;

            &:nth-child(n+2) {
                border-left: 1px solid #e1e1e1;
            }

            &__title {
                display: flex;
                flex-direction: row;
                flex: 0 0 50px;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: #f1f1f1;
            }

            &__content {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                width: 100%;

                &.flex__auto {
                    flex: 0 0 auto;
                }
            }

            &__buttons {
                display: flex;
                flex-direction: row;
                flex: 0 0 auto;
                padding: 20px 10px;

                button {
                    flex: 1 1 auto;
                    height: 50px;
                    border: 2px solid #000;
                    border-radius: 50px;
                    background-color: #fff;
                    font-size: 1.081em;
                    font-weight: bold;

                    &:active,
                    &:focus,
                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }

    &__footer {
        background-color: #fafafa;
        font-size: 0.750em;

        .addition__caption {
            color: #969696;
            padding: 30px 15px;
        }
    }

    .notify {
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        border: 1px solid #ffba00;
        border-radius: 100%;
        background-color: #fff;
        text-align: center;
        color: #ffba00;
        font-size: 0.750em;
        font-weight: bold;
        text-indent: -1px;
    }
}
