@import "mobile/resources/scss/variables";

$quotation-request-border: 1px solid #e1e1e1;
$quotation-request-margin: 12px;
$quotation-request-padding: 12px;

.quotation__request {
    display: flex;
    flex-direction: column;
    //height: 100vh;
    padding-top: $site-header-height;
    background-color: #fafafa;
    overflow: hidden;

    #goToTop {
        display: none !important;
    }

    #desktop-quotation {
        display: none !important;
    }

    .align-start {
        align-items: flex-start !important;
    }

    .align-end {
        align-items: flex-end !important;
    }

    .align-center {
        align-items: center !important;
    }

    .justify-start {
        justify-content: flex-start !important;
    }

    .justify-end {
        justify-content: flex-end !important;
    }

    .justify-center {
        justify-content: center !important;
    }

    .direction__row {
        flex-direction: row !important;
    }

    .exclamation {
        flex: 0 0 auto;
        width: 16px;
        height: 16px;
        border: 1px solid #ffba00;
        border-radius: 100%;
        background-color: #fff;
        text-align: center;
        color: #ffba00;
        font-size: 10px;
        font-weight: bold;
        margin-right: 5px;
        text-indent: -1px;
    }

    .button__check {
        display: flex;
        flex-direction: row;
        color: #969696;

        &.active {
            color: #000;

            .icon__circle {
                border-color: #ffba00;
                background-color: #ffba00;
            }
        }

        .icon__circle {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            border: 1px solid #e1e1e1;
            border-radius: 100%;
            background-color: #fff;
            text-align: center;
            margin-right: 7px;
        }
    }

    .dropdown__up {
        .fors-select-box {
            bottom: 100%;
            top: auto;
            margin: 0 0 10px 0;
        }
    }

    .upload-file-test-div {
        display: flex;
        border: 1px solid #e1e1e1;
        padding: 0.4rem 1rem;
        margin: 0 12px;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;

        &:nth-child(n + 2) {
            margin-bottom: 10px;
        }

        > button {
            margin-bottom: 0;
        }

        > a {
            color: #000;
            width: calc(100% - 60px);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .content__column {
        display: flex;
        flex-direction: column;

        .content__column__head {
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            padding: $quotation-request-padding;
            background-color: #f1f1f1;
            border-top: $quotation-request-border;
            border-bottom: $quotation-request-border;

            .pre-content {
                border-color: #969696;
                color: #969696;
                padding: 0.4em 0.8em;
            }
        }

        .content__column__body {
            padding: $quotation-request-padding 0 $quotation-request-padding * 5 0;

            > :nth-child(n+2) {
                margin-top: $quotation-request-margin !important;
            }
        }

        .column__box {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            margin: 0 $quotation-request-margin;
            background-color: #fff;
            border: $quotation-request-border;
            border-radius: 7px;

            &.overflow__hidden {
                overflow: hidden;
            }

            &.direction__row {
                padding: 0;
            }

            &.inline__box {
                margin: 0;
                border-left: 0;
                border-right: 0;
                background-color: #fff;
                border-radius: 0;
            }

            &.trans__box {
                background-color: transparent;
                border: 0;
                border-radius: 0;
            }
        }

        .column__header{
            padding: $quotation-request-padding;
            background-color: #f6f6f6;
            font-weight: 500;
        }

        .column__column {
            flex: 1 1 auto;
            padding: 0 $quotation-request-padding;

            &.hr,
            &.hr-trans {
                background-color: #e1e1e1 !important;
                flex: 0 0 1px !important;
                padding: 0 !important;
                margin: 0 !important;
            }

            &.hr-trans {
                background-color: transparent;
            }

            .row__content {
                padding: $quotation-request-padding 0;
            }
        }

        .column__row {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: $quotation-request-padding;

            &.column__center {
                justify-content: center;
            }

            &.hr {
                height: 1px !important;
                background-color: #e1e1e1 !important;
                padding: 0 !important;
                margin: 0 !important;
            }

            &:last-child {
                padding-bottom: $quotation-request-margin;
            }
        }

        .row__title {
            position: relative;
            flex: 0 0 70px;

            span {
                position: relative;
                font-weight: 500;
                letter-spacing: -0.8px;

                &.required {
                    &:after {
                        content: "*";
                        position: absolute;
                        right: -2px;
                        top: 0;
                        color: #ff326c;
                        height: 0;
                        width: 0;
                    }
                }
            }
        }

        .row__content {
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 1 1 100%;
            align-items: baseline;
            justify-content: center;

            &.direction__row {
                justify-content: flex-end;
            }

            &.text-right {
                align-items: flex-end;
            }

            .column__box {
                margin-left: 0;
            }
        }

        .input {
            width: 100%;
            height: auto;
            padding: 10px 12px;
            border: 1px solid #e1e1e1;
            border-radius: 7px;
            font-size: 95%;
            font-weight: bold;

            &:focus {
                box-shadow: none !important;
            }

            &.border__none {
                border: 0;
                border-radius: 0;
                padding: 0;
            }
        }
    }

    .quotation__basic {
        flex: 1 1 auto;

        .column__row {
            padding: $quotation-request-padding $quotation-request-padding 0;
        }

        .content__column .content__column__body {
            > .column__row {
                padding: 0 $quotation-request-padding $quotation-request-padding;
            }
        }

        .portfolio__box {
            .column__row {
                padding: $quotation-request-padding;

                .row__content {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }
            }

            .check__icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                background-color: #fff;
                border: $quotation-request-border;
                border-radius: 100%;
                margin-right: 12px;

                &.active {
                    background-color: #ffba00;
                    border-color: #ffba00;
                }

                .m-icon {
                    transform: scale(0.8);
                }
            }
        }
    }

    .quotation__quantity {
        flex: 1 1 auto;

        .content__column .content__column__body {

            > :nth-child(n+2) {
                margin-top: 5px !important;
            }

            .button {
                flex: 1 1 auto;
                padding: 10px 0;
                border: $quotation-request-border;
                border-radius: 5px;
                background-color: #f6f6f6;
                color: #969696;

                &:nth-child(n+2) {
                    margin-left: 10px;
                }

                &.need {
                    &.active {
                        background-color: #ff326c;
                    }
                }

                &.active {
                    background-color: #969696;
                    color: #fff;
                }
            }
        }

        .column__box {
            &.option__show {
                .column__row:nth-child(n+2) {
                    display: flex;
                }
            }

            .column__row:nth-child(n+2) {
                display: none;
            }
        }

        .column__row {
            .row__title {
                flex: 1 1 auto;
                font-size: 95%;
            }

            .row__content {
                flex: 0 0 150px;
            }
        }
    }

    .quotation__options {
        flex: 1 1 auto;

        .content__column .content__column__body {
            > :nth-child(n+2) {
                margin-top: 0 !important;
            }
        }

        .column__box {
            overflow: hidden;

            .column__column {
                &.disabled {
                    background-color: #f6f6f6;
                }
            }
        }

        .column__row {
            padding: 0 $quotation-request-padding $quotation-request-padding;
        }

        .calcul__total__price {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: $quotation-request-padding 0 5px;
            border-bottom: 3px solid #000;

            .title {
                display: flex;
                align-items: center;
                flex: 0 0 auto;
                color: #969696;
                letter-spacing: -1px;

                .exclamation {
                    border: 0;
                    background-color: #e1e1e1;
                    color: #fff;
                    margin-left: 6px;
                }

                .button {
                    margin-left: 10px;
                    padding: 5px 7px;
                    font-size: 60%;
                }
            }

            .price {
                flex: 1 1 auto;
                font-size: 180%;
                color: #ff326c;
            }

            .won {
                color: #000;
            }
        }

        .quotation__price {
            text-align: right;
        }
    }

    .quotation__content {
        flex: 1 1 auto;

        .row__title {
            flex: 0 0 70%;
            word-break: break-all;

            .count {
                margin-left: 7px;
                color: #ff3200;
                font-size: 110%;
            }
        }

        .attach__del {
            margin-bottom: 12px;
        }

        ._textarea {
            padding: 0;
            border: 0;
        }
    }

    .quotation__submit {
        flex: 1 1 auto;

        .column__box {
            overflow: hidden;
        }

        .column__row {
            .row__title {
                display: flex;
                flex-direction: column;
                flex: 1 1 100%;

                .m-icon {
                    margin-right: 12px;
                }

                .exclamation {
                    border: 0;
                    background-color: #e1e1e1;
                    color: #fff;
                    margin-left: 6px;
                }
            }

            .row__content {
                flex: 0 0 auto;

                .color__pink {
                    color: #ff326c;
                }
            }

            .button {
                margin-left: 10px;
                padding: 5px 7px;
                font-size: 60%;
            }
        }

        .row__content {
            align-items: flex-end;
        }
    }

    .quotation__complete {
        flex: 1 1 auto;

        .complete__status {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 $quotation-request-padding $quotation-request-padding;
            padding: $quotation-request-padding*2;
            border: 4px solid #000;
            background-color: #fff;
            text-align: center;

            > :nth-child(n+2) {
                margin-top: 10px;
            }

            .title {
                font-size: 120%;
                font-weight: bold;
            }

            .content {

            }
        }

        .content__column__body {
            padding: 0 0 $quotation-request-padding;
            border-top: 0;

            > :nth-child {
                margin: 0;
            }

            .column__box .column__row:not(.hr) {
                min-height: 50px;

                .row__content {
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;

                    .title {
                        margin-left: 5px;

                        &.yellow {
                            color: #ffba00;
                        }
                    }

                    .caption {
                        margin-top: 5px;
                    }
                }
            }

            .column__row {
                padding: 0 $quotation-request-padding;
            }
        }

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #000;
        }

        .m-icon-kakao {
            transform: scale(0.65) translateX(13px);
        }
    }

    .quotation__price__content {
        background-color: #fff;
        padding: 12px 12px 30px;

        .price__list {
            > .title {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-end;
                padding: 0.643em 0;
                font-weight: bold;
                line-height: 1;

                > span {
                    flex: 1 1 auto;
                }

                ._button {
                    flex: 0 0 auto;
                    height: 30px;

                    &._button__close {
                        width: 30px;
                    }
                }
            }

            > .list {
                border-top: 2px solid #000;

                ._button._button__close {
                    width: 10px;
                    height: 10px;
                }

                > :nth-child(n) {
                    border-bottom: 1px solid #ccc;
                }

                table {
                    width: 100%;
                    table-layout: fixed;

                    $th_padding: 0.857em;


                    thead {
                        th {
                            padding: $th_padding 0;
                            color: #666;
                            font-weight: 500;
                        }
                    }

                    tbody {
                        tr {
                            border-top: 1px solid #ccc;

                            td {
                                padding: 0 5px;
                                height: 50px;
                                vertical-align: middle;
                                text-align: center;
                            }
                        }

                        ._input {
                            text-align: center;
                        }
                    }

                    tfoot {
                        tr {
                            background-color: #efefef;
                            border-top: 1px solid #ccc;

                            td {
                                padding: $th_padding 0;
                                font-weight: 500;
                                text-align: center;

                                &.total__price {
                                    padding-right: 8%;
                                    color: #d0021b;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }

        .price__add {
            margin-top: 30px;
            text-align: center;
        }
    }

    .estimate__outside__detail {
        background-color: #fff;
        padding: 20px;
    }
}

.quotation__request__head {
    flex: 0 0 $site-header-height;
    padding-top: 50px;
}

.quotation__request__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    //overflow: auto;

    .caption,
    .content__caption {
        flex: 0 1 auto;
        color: #969696;
        font-size: 85%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .caption {
        font-size: 82%;
    }

    .column__row,
    .column__column {
        .fors-dropdown {
            width: 100%;

            .icon {
                right: 0;
            }

            .fors-select {
                border: 0;
                border-radius: 0;
                margin: 0;
                padding: 0;
            }

            .fors-select-view {
                .fors-select {
                    height: auto;
                }
            }
        }
    }
}

.quotation__request__foot {
    display: flex;
    flex-direction: row;
    flex: 0 0 $site-header-height;
    border-top: 1px solid #e1e1e1;
}

.quotation__request__process {
    display: flex;
    flex: 0 0 $site-header-height;
    align-items: center;
    padding: 0 20px;

    .process__bar {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        height: 2px;
        background-color: #e1e1e1;

        &.bar__basic {
            .bar__dot:nth-child(n+1) {
                &:after {
                    background-color: #e1e1e1;
                }
            }
        }

        //&.bar__quantity {
        //    .bar__dot:nth-child(n+2) {
        //        &:after {
        //            background-color: #e1e1e1;
        //        }
        //    }
		//
        //    .bar__overlay {
        //        width: 20%;
        //    }
        //}

        &.bar__option {
            .bar__dot:nth-child(n+2) {
                &:after {
                    background-color: #e1e1e1;
                }
            }

            .bar__overlay {
                width: 25%;
            }
        }

        &.bar__content {
            .bar__dot:nth-child(n+3) {
                &:after {
                    background-color: #e1e1e1;
                }
            }

            .bar__overlay {
                width: 50%;
            }
        }

        &.bar__submit {
            .bar__dot:nth-child(n+4) {
                &:after {
                    background-color: #e1e1e1;
                }
            }

            .bar__overlay {
                width: 75%;
            }
        }

        &.bar__complete {
            .bar__overlay {
                width: 100%;
            }
        }

        .bar__dot {
            position: relative;
            display: flex;
            flex: 0 0 25%;

            &:first-child {
                &:before {
                    content: "";
                    left: 0;
                    transform: translate(-50%, -50%);
                    background-color: #ff326c;
                }
            }

            &:before,
            &:after {
                position: absolute;
                top: 1px;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: #ff326c;
                transition: background-color 0.6s cubic-bezier(0,-0.5, 1, 0);
                z-index: 1;
            }

            &:after {
                content: "";
                right: 0;
                transform: translate(50%, -50%);
            }
        }

        .bar__overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 2px;
            background-color: #ff326c;
            transition: width 0.6s;
        }
    }
}

.quotation__request__buttons {
    display: flex;
    flex-direction: row;
    flex: 0 0 $site-header-height;
    border-top: 1px solid #e1e1e1;

    .button__prev {
        flex: 1 1 auto;
        background-color: #f6f6f6;
        color: #969696;
        font-size: 110%;
        text-align: center;
        cursor: pointer;
    }

    .button__next {
        flex: 1 1 auto;
        background-color: #ffba00;
        color: #fff;
        font-size: 110%;
        text-align: center;
        cursor: pointer;
    }
}

.offer_contents {
    .contents-list {
        padding: 0.5em;
        //max-height: 125px;
        overflow: auto;
        margin-bottom: 10px;
        .list-wrap {
            overflow: auto;
        }
        .list-container {
            display: flex;
            border-top: 1px solid #e1e1e1;
            padding: .5em 0;
            align-items: center;

            &.disable {
                background-color: #ececec;
                color: #969696;
                text-align: center;
            }

            &:last-child {
                border-bottom: 1px solid #e1e1e1;
            }
            .check-button {
                width: 18px;
                height: 18px;
                margin-right: 5px;
                border: 1px solid #e1e1e1;
                border-radius: 100%;

                &.select {
                    background-color: #ffba00;
                    border-color: #ffba00;
                }
            }
            .content {
                flex: 1;
                font-size: 0.8em;
                text-align: left;
                width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;
            }
            .date {
                font-size: 0.8em;
            }
            .category-tag {
                min-width: 30px;
                margin-right: 5px;
                background-color: #ececec;
                color: #969696;
                border: 1px solid #e1e1e1;
                display: inline-block;
                padding: 0.2em;
                font-size: 0.7em;
            }
        }
    }
    .contents-buttons {
        display: flex;
        height: 50px;
        .close {
            background: #f1f1f1;
            color: #000;
        }
        .submit {
            background: #ffba00;
            color: #fff;
        }
    }
}

.previous-offer-contents {
    &.desktop {
        .modal-content {
            width: 50%;
        }
        .contents-list {
            max-height: 300px;
        }
    }

    &.mobile {
        .modal-content {
            width: 80%;
        }
        .contents-list {
            max-height: 125px;
        }
    }
    .modal-content {
        border-radius: 10px;
        overflow: hidden;
        background: #fff;
        .modal-close {
            display: none;
        }
    }
}
