@import "desktop/resources/scss/variables";
@import "desktop/resources/scss/mixins/clearfix";

.products-detail {
    .reservation {
        .panel {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04);
            border: 1px solid #e5e5e5;

            &:nth-child(n+2) {
                margin-top: 15px;
            }

            &__body {
                padding: 1.2em 1em 2.2em;
            }

            &__footer {

            }
        }

        &__calendar {
            margin-bottom: 20px;
        }

        &__contents {
            .reservation-row {
                position: relative;
                display: table;
                width: 100%;
                table-layout: fixed;
                font-size: 12px;

                .reservation-col {
                    display: table-cell;
                    vertical-align: middle;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &.reservation-label {
                        width: 70px;
                        font-weight: 700;
                        letter-spacing: -0.6px;
                    }

                    &.reservation-content {
                        width: 100%;
                        text-align: right;
                    }

                    &.reservation-pay-methods {
                        > button {
                            cursor: pointer;
                            width: 68px;
                            height: 48px;

                            border-radius: 5px;
                            background-color: #f6f6f6;
                            border: 1px solid #e1e1e1;

                            &.checked {
                                background-color: #fff;
                                border: 1px solid #000;
                            }

                            + button {
                                margin-left: 5px;
                            }
                        }
                    }

                    &.reservation-price {
                        font-size: 18px;

                        > span {
                            font-size: 30px;
                            font-weight: 900;
                            color: #000;
                        }
                    }
                }

                &.clause {
                    margin-top: 30px;

                    .clause__desc {
                        font-weight: 300;
                        text-align: center;
                        color: #969696;
                        margin-bottom: 8px;
                    }

                    .clause__agree {
                        text-align: center;
                        color: #000;
                    }
                }
            }
        }

        &__price {
            margin-top: 10px;
            font-size: 18px;
            color: #000;

            > span {
                font-size: 35px;
                font-weight: 900;
            }
        }

        &__buttons {
            margin-top: 20px;

            .btn + .btn {
                margin-top: 10px;
            }
        }

        &__social {
            position: relative;
            border-top: 1px solid #e5e5e5;
            @include clearfix();

            .popdown-container {
                width: 100%;
            }

            &__item {
                float: left;
                width: 50%;

                .popdown-container {
                    position: static;
                }
                .popdown-contents {
                    width: 100%;
                    padding: 20px;
                }

                // share button
                .share-brand {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;

                    &__icon {}
                    &__text {
                        padding-top: 10px;
                    }
                }
                .share-copy {
                    margin-top: 15px;

                    .columns + .columns {
                        padding-left: 10px;
                    }

                    input {
                        font-size: 11px;
                    }
                }
            }

            &__item + .reservation__social__item {
                border-left: 1px solid #e5e5e5;
            }

            .btn {
                width: 100%;
                font-size: 13px;
                border: none;
                transition: none;
                letter-spacing: -0.7px;

                > span {
                    padding-left: 4px;
                }
            }
        }

        .simple__talk__buttons {
            position: relative;
            margin-top: 15px;
            padding: 15px;
            border: 1px solid #e1e1e1;
            border-radius: 10px;

            &:after {
                content: " ";
                position: absolute;
                right: 25px;
                top: -8px;
                width: 15px;
                height: 15px;
                background-color: #fff;
                transform: rotate(45deg);
                border-top: 1px solid #e1e1e1;
                border-left: 1px solid #e1e1e1;
                transition: border 0.25s;
                z-index: 0;
            }

            .buttons__list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &.disabled {
                    .btn {
                        background-color: #f1f1f1;
                        color: #e1e1e1;
                    }
                }

                .btn {
                    position: relative;
                    flex: 1 1 auto;
                    padding: 0 0.7em;
                    margin: 10px 0 0;

                    &:nth-child(n+2) {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
.chatPop {
    .chat-msg {
        margin-bottom: 24px;
    }
    .chat-btn {
        margin-top: 15px;
    }
}
