@import "desktop/resources/scss/variables";
@import "desktop/resources/scss/mixins";


.products-detail {
    &__coverInfo {
        border-bottom: 1px solid #e1e1e1;
        &-image {
        }
        &-text {
            position: relative;
            &__thumb {
                position: absolute;
                text-align: center;
                left: 50%;
                top: 0;
                transform: translate(-50%, -35%);
                z-index: map_get($z-index, "fixed");
            }
            &__artistsInfo {
                text-align: center;
                > div {
                    width: 300px;
                    height: 180px;
                    display: table;
                    margin: 0 auto;
                    p {
                        display: table-cell;
                        vertical-align: bottom;
                        padding-bottom: 20px;
                        color: #969696;
                    }
                }
            }

            .badge__corp {
                margin-left: 5px;
                padding: 0 6px;
                font-size: 45%;
                color: #969696;
                background-color: #ececec;
                border: 1px solid #e1e1e1;
            }
        }
    }
    &__goodsInfo {
        padding-bottom: 40px;

        .multistage {
            position: relative;
            float: left;
            width: 680px;

            &--aside {
                margin-left: 24px;
                width: 328px;
            }
        }

        &-title {
            .h6 {
                height: 70px;
                line-height: 70px;
                font-weight: bold;
                .yellowText {
                    color: #ffba00;
                }
            }
        }
        border-bottom: 1px solid #e1e1e1;
        &-left {
            &__image {
                @include clearfix();

                & > :nth-child(2),
                & > :nth-child(3) {
                    margin-right: 5px;
                }
                .col-4 {
                    //cursor: pointer;
                    border-radius: 10px;
                    overflow: hidden;

                    &:first-child {
                        height: 345px;
                        width: 680px;
                        //overflow: hidden;
                    }

                    height: 223px;
                    width: 223px;
                    //overflow: hidden;
                    margin-bottom: 5px;
                    padding: 0;
                }

                .addPortFoilo {
                    position: absolute;
                    height: 223px;
                    width: 223px;
                    background-color: rgba(0, 0, 0, 0.3);
                    display: inline-block;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    p {
                        text-align: center;
                        line-height: 223px;
                        color: white;
                    }
                    .image-slider-box {
                        width: 500px;
                        height: 500px;
                    }
                }
            }
            .productOptionDetail,
            .productService,
            .productDetail,
            .productReserve,
            .productTag {
                margin-top: 30px;
                > h3,
                > p {
                    margin-bottom: 20px;
                    line-height: 1.5;

                    &:nth-child(n+2) {
                        color: #969696;
                        font-size: 14.6px;
                    }

                    &.title {
                        color: #000;
                    }
                }
            }

            .productService {
                display: inline-block;
                width: 100%;
                .table {
                    text-align: center;
                    table-layout: fixed;
                    min-width: 100%;

                    th {
                        color: #969696;
                        height: 50px;
                        font-size: inherit;
                        font-weight: bold;
                    }
                    td {
                        height: 35px;
                        color: #969696;
                        font-size: 14px;
                        padding: inherit;

                        &:first-child {
                            text-align: left;
                        }
                    }
                }
            }
            .productTag {
                margin-bottom: 50px;
                button {
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
        &-right {
            .caleadarPad {
                background-color: white;
                padding: 23px;
            }
        }
    }
    &__comment {
        border-bottom: 1px solid #e1e1e1;
        background-color: white;
        .multistage {
            position: relative;
            float: left;
            width: 680px;
        }
        .reviewCnt {
            margin-top: 30px;
            padding: 20px 0;
            > h2 {
                display: inline-block;
                padding-right: 24px;
            }
            > span {
                margin-right: 25px;
            }
            border-bottom: 1px solid #e1e1e1;
        }
        .summary {
            text-align: center;
            margin-bottom: 20px;
            &-circle {
                margin: 20px 35px 20px 0;
                height: inherit;
                width: 50px;
                background-color: #ff326c;
                border-radius: 50%;
                p {
                    line-height: 50px;
                    font-weight: bold;
                    font-size: 15px;
                    color: white;
                }
            }
            &-table {
                display: inline-block;
                width: 85%;
                .table {
                    margin: 5px;
                    width: 100%;
                    table-layout: auto;

                    .heart-count {
                        display: none;
                    }
                    td {
                        text-align: left;
                        &:nth-child(1),
                        &:nth-child(3),
                        &:nth-child(5) {
                            font-weight: bold;
                            width: 55px;
                        }
                        padding: 10px 0;
                        font-size: 15px;

                        .heart-box {
                            vertical-align: middle;
                        }
                    }
                    tr {
                    }
                }
            }
        }
        .review {
            &-panel {
                border-bottom: 1px solid #e1e1e1;

                &.rm {
                    border-bottom: none;
                }

                .imageSlide {
                    width: 680px;
                    height: 345px;
                    margin-top: 20px;
                    // 이미지 슬라이드 재정의
                    .image-list {
                        border-radius: 15px;
                    }
                }
                .review-user {
                    min-height: 100px;
                    //padding-right: 24px;
                    //padding-left: 24px;
                    margin-right: 0;
                    margin-left: 0;
                    p {
                        //text-align: center;
                    }
                    .profile {
                        padding-right: 50px;
                        text-align: center;
                        display: inline-block;
                    }
                    .content {
                        .top {
                            > p {
                                display: inline-block;
                                font-size: 19px;
                            }
                            margin-bottom: 15px;
                        }
                        .text {
                            min-height: 100px;
                            word-break: break-all;
                        }
                        .day {
                            display: inline-block;
                            padding-top: 15px;
                            font-size: 9px;
                            color: #969696;
                        }
                    }
                    .heart-box {

                    }
                }
                .review-artists {
                    min-height: 75px;
                    //background-color: #fafafa;
                    //padding-left: 24px;
                    //padding-right: 24px;
                    margin-left: 0;
                    margin-right: 0;
                    .profile {
                        padding-right: 60px;
                    }
                }
                .review-user,
                .review-artists {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .content {
                        display: inline-block;
                        .artistsComment {
                            .name {
                                font-size: 19px;
                                color: #ffba00;
                                margin-bottom: 15px;
                            }
                            .comment {
                                font-size: 15px;
                                margin-bottom: 15px;
                                word-break: break-all;
                            }
                            .regDate {
                                font-size: 9px;
                                color: #969696;
                            }
                        }
                    }
                }
                .review-hr {
                    border-bottom: 1px solid #e1e1e1;
                }
            }
        }
        .moreCommentBtn {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .emptyComment {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 100px;
            .content {
                margin-bottom: 15px;
            }
        }
    }
    &__recommend {
        .isRecommend {
            width: 100%;
        }
        .recommend {
            display: inline-block;
            padding: 50px 0;
            .none-list {
                text-align: center;
                margin-top: 100px;
                margin-bottom: 100px;
                .content {
                    margin-bottom: 15px;
                }
            }
            &-title {
                margin-bottom: 20px;
            }
            &-panel {
                a {
                    display: inline-block;
                    &:first-child,
                    &:nth-child(2),
                    &:nth-child(3) {
                        margin-right: 10px;
                    }
                }
                margin-left: 0;
                margin-right: 0;
                text-align: center;
                .panel {
                    width: 250px;
                    height: 250px;
                    padding: 0;
                    border-radius: 10px;
                    position: relative;
                    overflow: hidden;

                    p {
                        color: white;
                        font-weight: bold;
                        width: 200px;
                    }
                    .panel-wrapBG {
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: rgba(0,0,0,0);
                        width: inherit;
                        height: inherit;
                        transition: background-color 200ms;
                    }
                    &:hover {
                        .panel-wrapBG {
                            background-color: rgba(0,0,0,0.2);
                        }
                        .panel-info {
                            top: 10%;
                            &__state {
                                //height: 50px;
                                overflow: visible;
                            }
                        }
                    }
                    .panel-info {
                        position: absolute;
                        display: inline-block;
                        top: 25%;
                        left: 50%;
                        transition: all 300ms;
                        transform: translate(-50%, 30%);
                        .author_nick {
                            @include ellipsis();
                        }
                        .panel-tag {
                            padding-top: 40px;
                        }
                        .heart-box {
                            margin-top: 10px;
                        }
                        &__state {
                            height: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

.products-detail__blog-review {
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    padding: 50px 0;
    .review-unit {
        float: left;
        margin-right: 10px;
        //display: inline-block;
        border: 1px solid #e1e1e1;
        background: #fff;
        width: 250px;
        height: 225px;
        &__image {
            height: 150px;
        }
        &__info {
            position: relative;
            height: 75px;
            padding: 10px;
            &-title {
                width: 100%;
                font-size: 15px;
                color: #000;
                word-break: keep-all;
                line-height: 1.4;
                overflow: hidden;
                height: 3em;
                word-wrap: break-word;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }

            &-blog {
                position: relative;
                bottom: 5px;
                font-size: 12px;
                color: #969696;

                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: normal;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
