.main__consult__bar {
	a,
	a:link,
	a:active,
	a:visited,
	a:hover {
		color: #666;
	}

	> .content {
		padding: 0 15px;

		.label {
			color: #666;
			margin-bottom: 10px;
		}

		.phone {
			.phone__form {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 45px;

				> .dropdown__container {
					flex: 1 1 30%;
					height: 100%;
					//font-size: 0.857em;
					font-size: 12px;

					text-align: center;

					.dropdown__item {
						height: 45px;
					}
				}

				> ._input {
					flex: 1 1 30%;
					text-align: center;
				}

				> span {
					flex: 0 0 auto;
					margin: 0 5px;
				}
			}
		}

		.name {
			margin-bottom: 10px;
			//margin-bottom: 20px;
		}

		.email,
		.name {
			margin-top: 10px;

			.email__form,
			.name__form {
				height: 45px;
			}
		}

		._input {
			height: 100%;
			font-size: 12px;
			//font-size: 0.857em;
		}
	}

	> .agree {
		margin-top: 20px;
		font-size: 12px;
		//font-size: 0.857em;
		text-align: center;

		align-items: center;
		display: flex;
		justify-content: center;

		.agree__title {
			cursor: pointer;
		}

		.agree__info {
			display: none;
			margin-top: 10px;
			padding: 0 15px;
			text-align: center;

			&.checked {
				display: block;
			}

			> div {
				display: inline-block;
				padding: 12px 16px;
				background-color: #efefef;
				border-radius: 5px;
				color: #666;
				font-size: 0.714em;
				line-height: 1.6;
				letter-spacing: normal;
				word-break: keep-all;
				text-align: start;

				> p {
					position: relative;
					padding-left: 10px;

					&:before {
						content: "-";
						position: absolute;
						left: 0;
					}
				}
			}
		}
	}

	> .buttons {
		margin-top: 20px;
		text-align: center;

		._button {
			width: 200px;
			height: 45px;
			border-color: #f5a623;
			background-color: #f5a623;
		}
	}
}