.artists__estimate-detail-footer {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
    //display: flex;

    //&.isMobile {
    //    button {
    //        width: 100%;
    //    }
    //}

    button {
        display: inline-block;
        height: 50px;
        font-size: 1.2rem;
        letter-spacing: -1.5px;
        cursor: pointer;
        color: #fff;
        //width: 50%;
    }

    .disabled {
        border-top: none;
        cursor: default;
        background-color: #f1f1f1;
    }

    .pink_btn {
        background-color: #ff326c;
        border-color: #ff326c;
    }

    .yellow-btn {
        background-color: #ffba00;
    }
    //.inquire {
    //    background-color: #ffba00;
    //    color: #fff;
    //    font-size: 1.2rem;
    //    letter-spacing: -1.5px;
    //}
    #goToTop {
        top: 65px !important;
    }
}
.offer_empty_category-text {
    display: inline-block;
    font-size: 12.7px;
    letter-spacing: -.7px;
    text-align: center;
    color: #000;
}
.offer_empty_category-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alert-button-offer {
    font-size: 15px;
    height: 34px;
    padding: 0 1.1em;
    font-weight: 500;
    color: #000;
    outline: 0;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: -.9px;
    text-align: center;
    white-space: nowrap;
    line-height: .95;
    border-radius: 1.5em;
}