@import "mobile/resources/scss/utils/m-icon";

.heart__score {
  display: inline-block;

  .heart__score__content {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;

    &:nth-child(n+2) {
      margin-left: 1px;
    }
  }
}