@import "mobile/resources/scss/variables";

$ticket-app-gutter              : 1.2rem;
$ticket-app-border              : 1px solid #e1e1e1;
$ticket-app__footer-height      : 50px;
$ticket-app__toolbar-height     : 70px;
$ticket-app__list--none-bg      : #f1f1f1;

$button-border                  : 1px solid #969696;
$button-bg                      : #fff;
$button-border-radius           : 0.25rem;
$button-font-size               : 1rem;

$button-border--active          : 1px solid #ff326c;
$button-color--active           : #fff;
$button-bg--active              : #ff326c;

$button-color--hover            : #ff326c;

.ticket-app {
    position: relative;
    height: 100vh;
    //padding-top: $site-header-height * 2;

    &__body {
        position: relative;
        height: calc(100vh - #{$ticket-app__footer-height});
        //height: calc(100vh - #{$ticket-app__footer-height + $site-header-height * 2});
        overflow: auto;
    }

    &__footer {
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        height: $ticket-app__footer-height;
        z-index: map_get($site-z-index, "fixed");
    }
}

.ticket-app {
    &-tools {
        position: relative;
        height: $ticket-app__toolbar-height;
        padding-top: $ticket-app-gutter;
        padding-bottom: $ticket-app-gutter;
    }

    &-list {
        position: relative;
        min-height: calc(100% - #{$ticket-app__toolbar-height});

        &--none {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f1f1f1;
        }
    }

    &-buttons {
        position: relative;
        margin-bottom: 20px;
        text-align: center;

        .more-button {
            position: relative;
            display: inline-block;
            padding: 0.3em 0.7em;
            border: $ticket-app-border;
            border-radius: 100%;
            font-weight: 400;
            font-size: 1.2rem;
            color: #969696;
        }
    }
}

// Override
.ticket-app {
    &__footer {
        .button {
            height: 100%;
            border-radius: 0;

            &--disabled,
            &:disabled {
                opacity: 1;
            }
        }
    }

    #goToTop {
        bottom: 65px !important;
    }

    .button-group {
        position: relative;
        display: inline-block;

        .button {
            position: relative;
            background-color: $button-bg;
            border: $button-border;
            border-radius: 0;
            font-weight: 300;
            //font-size: $button-font-size;
            color: #969696;

            &:first-child {
                border-radius: $button-border-radius 0 0$button-border-radius;
            }

            &:last-child {
                border-radius: 0 $button-border-radius $button-border-radius 0;
            }
        }

        .button + .button {
            margin-left: -1px;
        }

        .button {
            &--actived {
                background-color: $button-bg--active;
                color: $button-color--active !important;
                font-weight: 400;
                border: $button-border--active;
                z-index: 2;
            }

            &:hover,
            &:focus {
                color: $button-color--hover;
                font-weight: 400;
            }
        }
    }
}
