.charge-artist__period {
	.week-period-box {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.week {
			padding: 6px 14px;
			border-radius: 3px;
			border: 1px solid #e1e1e1;
			background-color: #fff;
			transition: all 0.2s ease-in-out;

			font-size: 15px;
			font-weight: 500;

			min-width: 90px;
			text-align: center;

			cursor: pointer;

			.add-date {
				color: #e02020;
				padding-left: 5px;
			}

			&:nth-child(n + 2) {
				margin-left: 5px;
			}

			&.disabled {
				background-color: rgba(#e1e1e1, 0.5);
				color: #666;
				cursor: default;
			}

			&.select {
				background-color: #000;
				border-color: #000;
				color: #fff;
			}
		}
	}

    .txt_vat {
        font-size: 0.75em;
        color: #666;
        font-weight: bold;
    }
}
