@import "mobile/resources/scss/variables";

.mypage__chat {
    display: flex;
    flex-direction: column;

    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
    }
}

.mypage__chat__toc {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-top: $site-header-height;
}

.mypage__chat__message {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    position: fixed;
    right: -100%;
    top: 0;
    border-left: 1px solid #e1e1e1;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    transition: right 0.6s, visibility 0.6s;
    z-index: map_get($site-z-index, "header");

    &.show {
        right: 0;
        padding-top: $site-header-height;

        .site-sub-header {
            position: fixed;
            right: 0;
        }
    }

    .site-sub-header {
        top: 0;
        left: initial;
        right: -100%;
        position: initial;
        transition: right 0.6s;

        &-right {
            &.order_disabled {
                .popdown-arrow .popdown-arrow {
                    border-bottom-color: #e1e1e1;
                }
            }
        }

        .option__more__buttons {
            .button {
                font-size: 110%;
                padding: 0.85em 2em;
                color: #333;

                &:nth-child(n+2) {
                    border-top: 1px solid #e1e1e1;
                }
            }
        }
    }
}

.mypage__chat__toc__header {
    position: fixed;
    top: $site-header-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: $site-header-height;
    background-color: #ffba00;
    padding: 0.8em;
    z-index: map_get($site-z-index, "fixed");

    .f__input {
        border: none;
        font-size: 1em;

        &:focus {
            border: none;
        }
    }
}

.mypage__chat__toc__body {
    flex: 0 0 auto;

    .mypage__chat__toc__list {
        min-height: calc(100vh - #{$site-header-height * 3.2});
    }
}

.mypage__chat__message__send {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: 100%;
    height: 85px;
    border-top: 1px solid #e1e1e1;
    background-color: #f1f1f1;
    padding: 10px 0;

    .message__input__box {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        border-radius: 7px;
        margin-left: 10px;
        overflow: hidden;
    }

    .message__input {
        flex: 1 1 auto;
        padding: 0.625em;

        &.disabled {
            background-color: #f1f1f1;
        }

        .textarea {
            font-size: 15px;
            border: 0;

            &.disabled {
                background-color: #f1f1f1;
                //cursor: default;
            }
        }
    }

    .send__button {
        display: flex;
        flex: 0 1 auto;
        max-width: 0;
        opacity: 0;
        margin-right: 10px;
        padding: 0;
        color: #fff;
        background-color: #000;
        border-radius: 7px;
        transition: all 0.6s;
        white-space: nowrap;

        &.disabled {
            background-color: #f1f1f1;
            border: 1px solid #e1e1e1;
            cursor: default;
            color: #969696;
        }

        &.active {
            margin-left: 10px;
            padding: 0 15px;
            max-width: 100px;
            opacity: 1;
        }
    }

    .send__options {
        flex: 0 0 35px;
        background-color: #ffba00;

        &.disabled {
            background-color: #f1f1f1;
            border-right: 1px solid #e1e1e1;
            cursor: default;

            .button {
                color: #969696;
            }
        }

        &.show {
            .button {
                transform: rotate(45deg);
            }
        }

        .button {
            width: 100%;
            height: 100%;
            padding: 0;
            color: #fff;
            font-size: 25px;
            transition: all 0.6s;
        }
    }
}

.chat__page__message__options {
    flex: 0 0 auto;
    display: flex;
    max-height: 0;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.4s;
    margin: 0 !important;

    &.show {
        max-height: 125px;
        overflow: auto;
    }

    .options__group {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        padding: 15px 5px;
        overflow: auto;

        > div {
            display: flex;
            flex-direction: row;

            > :nth-child(n) {
                margin: 0 10px;
            }

            > :last-child {
                margin-right: 35px;
            }
        }
    }
}

.chat__upload__photo  {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.chat__addition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px !important;
    height: 100%;
    margin: 0 auto;

    &__close {
        background-color: #fff;

        .modal-close {
            &:before,
            &:after {
                background-color: #000 !important;
            }
        }
    }

    &__head {
        font-size: 0.75em;

        .addition__tab {
            > .tab__item {
                padding: 15px 5px !important;
            }
        }
    }

    &__body {
        .addition__container {
            &:nth-child(n+2) {
                border-left: 0 !important;
            }
        }
    }

    &__container {
        &:nth-child(n+2) {
            border-top: 1px solid #000;
        }
    }
}
