@import "desktop/resources/scss/mixins";
@import "desktop/resources/scss/variables";

.login-page {
    height: 100%;

    #site-header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: map_get($z-index, "fixed");
        background-color: transparent;
        border: none;
    }

    #site-main {
        position: relative;
        background-color: #fafafa;
        font-family: "Noto Sans KR", Helvetica, AppleSDGothicNeo, Arial, sans-serif;

        a,
        a:link,
        a:visited,
        a:active {
            color: #000;
        }

        .login__container {
            display: flex;
            flex-flow: row nowrap;
            width: $container-width;
            margin: 0 auto;
            padding: 100px 0;
            justify-content: center;

            > div {
                display: flex;
                flex-flow: row nowrap;
                width: 1030px;
                padding: 54px 0 66px;
                background-color: #fff;
                border: 1px solid #ddd;
            }
        }

        //._input {
        //    flex: 1 1 auto;
        //    height: 55px;
        //    padding: 0 1.333em;
        //    font-size: 0.938em;
        //}

        .login__header__title {
            font-size: 1.750em;
            letter-spacing: -1.2px;
            text-align: center;
        }

        .email__login {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 50%;
            padding: 9px 90px;

            .login__form {
                width: 320px;
                margin-top: 20px;
            }

            .login__error {
                margin-top: 10px;
                color: #d0021b;
                font-size: 0.938em;
                line-height: 1;
            }

            ._input {
                height: 60px;
                font-size: 1.125em;

                &:nth-child(n+2) {
                    margin-top: 10px;
                }
            }

            ._button {
                $button_color: #b9b9b9;
                width: 100%;
                height: 60px;
                color: #fff;
                font-size: 1.25em;
                background-color: $button_color;
                border-color: $button_color;

                &:nth-child(n+2) {
                    margin-top: 10px;
                }

                &:active,
                &:hover {
                    background-color: darken($button_color, 15%);
                    border-color: darken($button_color, 15%);
                }
            }

            .auto__login {
                text-align: center;
                margin-top: 20px;
                color: #333;

                .check__box {
                    .check__icon {
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                        border-radius: 100%;
                    }
                }
            }

            .login__options {
                display: flex;
                flex-flow: row nowrap;
                width: 320px;
                margin-top: 28px;
                justify-content: center;
                text-align: center;
                color: #666666;

                .find {
                    flex: 0 0 auto;
                }

                .join {
                    flex: 0 0 auto;
                    margin-left: 30px;
                    padding-left: 30px;
                    border-left: 1px solid #dadada;
                }
            }
        }

        .social__login {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 50%;
            padding: 9px 90px;
            border-left: 1px solid #dadada;

            &__buttons {
                width: 320px;
                margin-top: 23px;
                padding-top:23px;
                border-top: 1px solid #dadada;
            }

            .lead {
                color: #333;
                letter-spacing: -0.7px;
                margin-top: 20px;
                text-align: center;
            }

            ._button {
                width: 100%;
                height: 60px;
                border: 0;
                color: #fff;
                font-size: 1.25em;

                &:nth-child(n+2) {
                    margin-top: 10px;
                }

                &.social__naver {
                    background-color: #00ca00;

                    &:hover,
                    &:focus {
                        background-color: #00a800;
                    }
                }

                &.social__facebook {
                    background-color: #39579a;

                    &:hover,
                    &:focus {
                        background-color: #244283;
                    }
                }

                &.social__kakaotalk {
                    background-color: #ffd200;

                    &:hover,
                    &:focus {
                        background-color: #ffba00;
                    }
                }
            }
        }

    }

    #site-footer {
        margin-top: 0;
    }
}
