#root {
	min-width: auto;
}

.print_receipt {
	width: 520px;
	height: 740px;

	&__snapshot {
		padding: 35px 40px 50px;
	}

	&__header {
		text-align: center;
		padding-bottom: 30px;
	}

	&__header-title {
		font-size: 28px;
		font-weight: bold;
		margin-bottom: 10px;

	}
	&__header-desc {
		font-size: 15px;
		color: #555;
	}

	&__body {
		border-top: 3px solid #000;
	}
	&__body__content-row {
		border-bottom: 1px solid #ccc;
		display: flex;
		align-items: center;
		justify-content: space-between;
		//min-height: 50px;
		height: 50px;

		&__name {
			color: #666;
		}

		&__value {
			word-break: break-all;
		}

		&.desc {
			font-size: 13px;
			color: #555;
			justify-content: center;
			border-bottom: none;
		}
	}

	&__body__info {
		background-color: #f4f4f4;
		padding: 20px;
		display: flex;
		align-items: center;
		//justify-content: space-between;

		&-logo {
			width: 108px;
			height: 32px;
			margin-right: 20px;
			flex: 0 0 108px;
		}

		&-box {

		}
		&-text {
			font-size: 12px;
			color: #555;

			&:nth-child(n + 2) {
				margin-top: 5px;
			}
		}
	}

	&__footer {
		padding: 0 40px 50px;

		&__buttons {
			display: flex;
			align-items: center;
			justify-content: space-between;

			> button {
				width: calc(100% / 2 - 5px);
				height: 60px;
				font-size: 20px;
			}
		}
	}
}