@import "../../../business/scss/variable";
.product__artist-info {
	width: 100%;
	background-color: #fff;
	border-bottom: $base-border;
	padding: 26px 20px;
}

.artist-info {
	&__content {
	}

	.career-box {
		transition: all 2s ease-in-out;
		height: auto;
		//height: 400px;
		&.min {
			height: 185px;
			overflow: hidden;
		}
	}

	.career-row {
		@include base-flex;
		justify-content: space-between;

		&:nth-child(n + 2) {
			margin-top: 5px;
		}

		.career-date {
			font-size: 13px;
			font-weight: normal;
			letter-spacing: normal;
			color: #999999;
		}

		.career-content {
			font-size: 13px;
			font-weight: normal;
			letter-spacing: normal;
			text-align: right;
		}
	}
}
