._modal__table {
	//padding: 0 !important;
}

.pop-recommend-artist {
	width: 100vw;
	padding: 30px 12px 35px;
	overflow: hidden;

	&__header {
		color: #fff;
		margin-bottom: 16px;
		text-align: center;
		position: relative;

		> button {
			position: absolute;
			top: -30px;
			right: 0;
		}

		._button__close {
			width: 25px;
			height: 25px;

			&:before,
			&:after {
				background-color: #fff;
			}
		}

		.title {
			font-size: 21px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		.desc {
			font-size: 16px;
		}
	}

	&__content {
		overflow: unset;
	}

	&__list {

	}

	&__btn {
		text-align: center;

		.artist__btn {
			margin-top: 30px;
			background-color: transparent;
			border: 2px solid #fff;
			color: #fff;
			font-size: 15px;
			font-weight: bold;
			letter-spacing: normal;
			padding: 17px 14px;
			cursor: pointer;
			transition: border 0.1s, background-color 0.1s;
			width: 275px;

			&.has-select {
				background-color: #fcae2f;
				border-color: #fcae2f;
			}
		}
	}
}