.information__video__page {
    font-size: 16px;

    .information__video {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        &__process {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            //width: 905px;
            padding: 30px 0;
            font-size: 12px;
            color: #fff;

            &__title {
                flex: 0 0 auto;
                width: 100%;
                font-size: 1.556em;
                font-weight: 300;
            }

            &__flow {
                flex: 0 0 auto;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &:nth-child(n+2) {
                    margin-top: 30px;
                }

                &:nth-child(n+3) {
                    margin-top: 17px;
                }

                &.direction__column {
                    flex-direction: column;
                }

                .flow__row {
                    display: flex;
                    flex-direction: row;

                    > div {
                        flex: 1 1 50%;

                        &:nth-child(n+2) {
                            margin-left: 72px;
                        }
                    }
                }

                .flow__circle {
                    flex: 1 1 auto;

                    > div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        min-width: 56px;
                        min-height: 56px;
                        padding: 5px;
                        border: 1px solid #fff;
                        border-radius: 10px;
                        color: #fff;
                        font-size: 0.895em;
                    }
                }

                .flow__round,
                .flow__rect {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    margin: 16px 0;
                    padding: 5px;
                    border: 1px solid #fff;
                }

                .flow__round {
                    border-radius: 50px;
                }

                .flow__rect {
                    border-radius: 0;
                }

                .flow__arrow {
                    display: flex;
                    flex-direction: row;
                    flex: 0 0 auto;
                    align-items: center;
                    justify-content: center;
                    margin: 0 3px;
                }
            }
        }

        &__portfolio {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 50px 24px;
            //padding: 50px 24px;
            font-size: 16px;

            &__title {
                flex: 0 0 auto;
                width: 100%;
                font-size: 1.775em;
                font-weight: 300;
            }

            &__description {
                color: #969696;
                font-size: 0.912em;
                margin-top: 14px;
            }
        }

        &__header {
            position: relative;
            color: #fff;

            &__bg {
            }

            &__content {
                position: absolute;
                left: 0;
                top : 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 20px;
                background-color: rgba(0,0,0,.3);

                .title {
                    font-size: 1.481em;
                }

                .description {
                    font-size: 0.775em;
                    letter-spacing: -0.7px;
                    margin-top: 20px;
                    text-align: center;
                    word-break: keep-all;
                }
            }
        }
        &__button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 179px;
            height: 50px;
            color: #fff;
            font-size: 17.3px;
            font-weight: 500;
            letter-spacing: -0.9px;
            border-radius: 5px;
            background-color: #4b8bff;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            margin: 44px auto 50px;
            cursor: pointer;
        }

        &__header {
            position: relative;
            color: #fff;

            &__bg {
            }

            &__content {
                position: absolute;
                left: 0;
                top : 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 20px;
                background-color: rgba(0,0,0,.3);

                .title {
                    font-size: 1.881em;
                }

                .description {
                    font-size: 0.775em;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    word-break: keep-all;
                    letter-spacing: -0.7px;
                    text-align: center;
                }
            }
        }

        &__panel {
            display: flex;
            flex-direction: column;
            padding: 25px 15px 25px;

            &:nth-child(n+2) {
                border-top: 1px solid #e1e1e1;
            }

            &__one {
                flex: 0 0 auto;
            }

            &__two {
                flex: 0 0 auto;
                padding: 25px 20%;
            }

            &__number {
                margin-bottom: 15px;
                color: #ffba00;
                font-size: 2em;
            }

            &__title {
                margin-bottom: 30px;
                font-size: 1.881em;
                font-weight: 300;
                letter-spacing: -2px;
            }

            &__description {
                font-size: 0.912em;
                font-weight: 300;
                letter-spacing: -1px;
                line-height: 1.8;
            }
        }
    }
    .information-banner {
        //border-bottom: 1px solid #e1e1e1;

        .information-inner {
            .container {
                width: 100%;
            }
        }

        .information-description {
            color: #969696;
        }
    }
}
