@import "../../scss/consult.var";

.consulting-content__item-content {
	@import "mobile/resources/scss/utils/_button.scss";
	.required {
		color: #ec0909;
		margin-left: 3px;
		vertical-align: middle;
	}
	&.dm {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1 1 auto;
		position: relative;
		.fors-dropdown {
			height: 70px;

			.fors-select-view {
				//font-size: 20px;
			}
		}
		.consulting-content__item-content__row-left {

		}
		.consulting-content__item-content__row-right {

		}
		.consulting-content__item-content__row_input {
			height: 70px;
		}
		.consulting-content__item-content__row:nth-child(n + 2) {
			margin-top: 20px;
		}
		.consulting-content__item-content__left {
			width: 50%;
			padding-right: 12px;
		}
		.consulting-content__item-content__right {
			width: 50%;
			//margin-left: 12px;
			padding-left: 12px;
			border-left: 1px solid #e1e1e1;
		}
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1 1 auto;
		position: relative;

		.check-div {
			position: relative;
			width: 15px;
			height: 15px;
			background-color: #dadada;
			border-radius: 100%;
			overflow: hidden;
			margin-right: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			&.active {
				background-color: #ffba00;
			}

			> div {
				display: inline-block;
				position: relative;
				top: -1px;
				//left: 50%;
				//top: -20%;
				//transform: translate(-50%, -50%);
				&:after {
					content: "";
					//top: -2px;
					position: relative;
					display: flex;
					justify-content: center;
					width: 5px;
					height: 7px;
					border: solid #fff;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
				}
			}
		}

		.attach-file-list {
			background-color: #fafafa;
			width: 100%;
			padding: 0 1rem;
			&__inner {
				display: flex;
				flex: 1 1 auto;
				align-items: center;
				justify-content: space-between;
				padding: 0.5rem 0.3rem;

				&:nth-child(n + 2) {
					border-top: 1px solid #e1e1e1;
				}
			}

			.file_name {
				width: calc(100% - 45px);
				overflow: hidden;
				text-overflow: ellipsis;
			}

		}
		.delete-attach-file {
			padding: 0.3rem 1rem;
			border: 1px solid #e1e1e1;
		}
	}

	&__row-left {
		flex: 0 0 90px;
		width: 25%;
		margin-right: 1rem;

		.consulting-content__item-content__row_title {
			width: 100%;
		}
	}

	.consulting-content__item-content__row_title {
		font-size: 1rem;
		//font-size: $consult_row_text;
		text-align: left;
		word-break: keep-all;
		font-weight: 500;
	}

	&__row-right {
		width: 100%;
		//display: flex;
		flex: 1 1 auto;
		//.consulting-content__item-content__row_input {
		//	height: 40px;
		//}

		input {
			box-shadow: none !important;
			border: none;
			height: 100%;
			width: 100%;
			padding: 0;
			font-size: 0.9rem;
		}

		.consulting-content__item-content__row_input {
			flex: 1 1 auto;
			line-height: normal;
			border-radius: 0;
			border: 1px solid #e1e1e1;
			padding: 0 1.104em;
			//padding: 0 10px;
			letter-spacing: -.6px;
			color: #474747;

			align-items: center;
			display: flex;
			height: 40px;
		}

		&.phone {
			display: flex;
			.fors-select {
				min-width: 30px;
			}

			.error_input {
				border-color: red;
			}
		}
		.fors-dropdown {
			flex: 1 1 auto;
			//width: 75%;
			height: 40px;
			width: calc(100% / 3);
			.fors-select-view {
				border-radius: 0;
				//border-radius: 10px;
				height: 100%;
				box-shadow: none;
				font-size: 0.9rem;
				color: #969696;

				.icon {
					margin-left: 0;
				}
			}
			.fors-select-box {
				border-radius: 0;
				border-width: 1px;
				.fors-select-option {
					//font-size: 1.1rem;
					font-weight: 300;
					font-size: 0.9rem;
				}
			}
		}

		&.choice {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 10px 0;

			> button {
				font-size: 0.8rem;
			}
		}


		&:nth-child(n + 2) {
			margin-top: 10px;
		}

		.consulting-content__item-content__row_body {
			flex: 1 1 auto;
			height: 100%;
			position: relative;

			.show-example {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100% - 18px);
				background-color: #fafafa;

				.example-close {
					position: absolute;
					top: 0;
					right: 0;
					z-index: 1;
					display: inline-block;
					cursor: pointer;

					&:before {
						display: inline-block;
						content: "";
						background-color: #969696;
						width: 15px;
						height: 1px;
						position: relative;
						left: 15px;
						transform: rotate(45deg);
					}

					&:after {
						display: inline-block;
						content: "";
						background-color: #969696;
						width: 15px;
						height: 1px;
						transform: rotate(135deg);
					}
				}
				> p {
					display: flex;
					align-items: center;
					//justify-content: center;
					height: 100%;
					font-size: 0.8rem;
					padding: 1rem;
					color: #969696;
				}
			}

			.textarea {
				padding: 1rem;
				border-radius: 0;
				//border-radius: 10px;
				border: 1px solid #e1e1e1;

				-webkit-tap-highlight-color: rgba(0,0,0,0);
				> textarea {
					box-shadow: none !important;
					width: 100%;
					height: 100%;
					resize: none;
					word-break: break-all;
					//font-size: 0.8rem;
					letter-spacing: -0.7px;
					color: #000;
					overflow-y: auto;
					border: none !important;
					padding: 0;
					font-size: 0.9rem;
				}
			}
			.text-area-size {
				display: flex;
				justify-content: space-between;
				margin-top: 5px;
			}
		}

	}
	&__description {
		padding-bottom: 1rem;
	}
}