@import "variables";

// ------------------------------------------------------
// 3. BASE LAYOUT
// ------------------------------------------------------
$artist-header-height: 70px !default;
$artist-footer-width: 958px !default;
$artist-footer-height: 180px !default;

$artist-page-left-width: 250px !default;
$artist-page-left-bg: #f1f1f1;
$artist-page-right-width: 328px !default;
$artist-page-right-bg: #fff !default;
$artist-page-center-width: 958px !default;
$artist-page-center-bg: #fff;
$artist-page-border-color: #e1e1e1;

$artist-page-center-padding-tb: 50px;
$artist-page-center-padding-lr: 20px;
