$Jalnan-font-family: Jalnan, "Spoqa Han Sans", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
.landing__container {
	min-height: calc(100vh - 75px);

	.landing__content {

	}

	.jalnan-font {
		font-family: $Jalnan-font-family;
	}
}