.product_list__head {
	height: 540px;
	width: 100%;

	.container {
		height: inherit;
		display: flex;
	}

	&__title {
		height: inherit;
		width: 100%;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.category {
			font-size: 30px;
			font-weight: 500;
			margin-bottom: 20px;
		}

		.title {
			font-size: 48px;
			font-weight: 500;
			margin-bottom: 20px;
			text-align: center;
		}

		.desc {
			font-size: 24px;
		}
	}

	&__artist {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		color: rgba(255, 255, 255, 0.5);
		font-size: 14px;
		font-weight: 300;
	}
}