.biz-banner-component {
	position: relative;

	.biz-banner-container {
		.close-button {
			width: 19px;
			height: 19px;
			position: absolute;
			top: 30px;
			right: -15px;
			cursor: pointer;
		}
	}

	.biz_banner_type {
		&.ord_type {
			padding: 30px 0;
		}

		&.select_type {
			padding: 50px 0;
		}

		&.card_type {
			padding: 50px 0;
		}
	}

	.card_type__content {
		width: 100%;
		height: 140px;

		display: flex;
		align-items: center;
		border-top: 5px solid #fcae2f;

		.left-box {
			width: calc(100% - 320px);
			height: inherit;
			background-color: #fff;

			display: flex;
			align-items: center;

			padding: 26px 70px;

			.head {
				font-size: 18px;
				color: #fda311;
				margin-bottom: 5px;
			}

			.title {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 5px;
			}

			.desc {
				font-size: 18px;
				color: #555;
			}
		}

		.left-box__content {
			margin-left: 30px;
		}

		.right-box {
			width: 320px;
			height: inherit;
			background-color: #efefef;
			border-left: 2px dashed #c6c7c8;

			display: flex;
			align-items: center;
			justify-content: center;

			position: relative;
		}

		.right-box__button {
			width: 185px;
			height: 54px;
			background-color: #fff;

			border: 2px solid #cdcdcd;

			font-weight: bold;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			> i {
				margin-right: 4px;
			}
		}

		.right-box__mascote {
			position: absolute;
			height: 60px;
			bottom: 0;
			right: 18px;
		}
	}

	.container {
		height: 100%;
	}

	.ord_type {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		position: relative;

		&__content {
			position: relative;
			> img {
				position: relative;
				left: -27px;
			}
		}

		&__name {
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		&__text {
			margin: 24px 0 30px;
			letter-spacing: 0;
			.title {
				font-size: 30px;
				font-weight: bold;
				color: #fcae2f;
				margin-bottom: 5px;
			}

			.desc {
				font-size: 20px;
				color: #fff;
			}
		}

		&__button {
			width: 180px;
			height: 54px;
			border: 2px solid #fff;

			margin: 0 auto;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			> p {
				color: #fff;
			}
		}

		&__mascote {
			position: absolute;
			height: 60px;
			bottom: 0;
			right: 180px
		}
	}

	.select_type {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		position: relative;

		&__content {
			position: relative;

			> img {
				position: relative;
				left: -27px;
			}
		}

		&__name {
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		&__text {
			margin: 24px 0 30px;
			letter-spacing: 0;
			.title {
				font-size: 30px;
				font-weight: bold;
				color: #fcae2f;
				margin-bottom: 5px;
			}

			.desc {
				font-size: 20px;
				color: #fff;
			}
		}

		&__buttons {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			.button-box {
				background: url("#{$IMG_SERVER}/biz/top_banner/20190221/info-box_style.png") center center / cover no-repeat;
				height: 200px;
				width: 400px;

				display: flex;
				align-items: center;
				justify-content: center;

				.title {
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 10px;
				}

				.desc {
					font-size: 18px;
					margin-bottom: 15px;
				}

				.button-select_type {
					width: 240px;
					height: 54px;
					color: #fff;
					background-color: #fcae2f;
					text-align: center;
					padding: 14px;
					border-radius: 6px;
					box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
					font-size: 18px;

					cursor: pointer;
				}
			}
		}

		&__mascote {
			position: absolute;
			height: 60px;
			top: -60px;
			right: 30px;
		}
	}
}