@import "desktop/resources/scss/variables";

$form-color-error: #ff326c;

.photograph-comment-register-page {
    position: relative;
    height: 100%;
    padding-top: 110px;

    .row {
        //display: flex;

        //&.align-items-center {
        //    align-items: center;
        //}
    }

    .columns {
        padding-left: $grid-gutter / 2;
        padding-right: $grid-gutter / 2;

        &:first-child {
            padding-left: $grid-gutter;
        }

        &:last-child {
            padding-right: $grid-gutter;
        }
    }

    .mt-20 {
        margin-top: 20px;
    }

    .form-control {
        width: 100%;
        height: 34px;
        border-width: 1px;
        color: #969696;
        font-size: 0.8rem;
        letter-spacing: -0.6px;

        &.is-error {
            border-color: $form-color-error;
        }
    }

    .form-label {
        display: inline-block;
        margin-top: 6px;
    }

    .form-text {
        display: inline-block;
        margin-top: 6px;
        font-size: 0.8rem;
        letter-spacing: -0.6px;
        color: #969696;

        &.is-error {
            color: $form-color-error;
        }
    }

    textarea.form-control {
        height: auto;
        resize: none;
    }

    #site-main {
        min-height: calc(100vh - #{$site-footer-height + $site-header-height});
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .photograph-comment-card {
        position: relative;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        margin-bottom: $grid-gutter;

        &__header {
            position: relative;
            padding: 16.5px 20px;
            background-color: #f1f1f1;
            border-bottom: 1px solid #e1e1e1;
        }

        &__body {
            position: relative;
            padding: 20px;
        }

        &-title {
            font-size: 20px;
            font-weight: 400;
            color: #000;
            letter-spacing: -1px;
        }
    }

    .photograph-comment-badge {
        margin-right: 4px;
        color: #979797;

        &.is-require {
            color: #ff326c;
        }
    }

    .photograph-comment-agree {
        position: relative;
        padding: 16px;
        margin-bottom: 24px;
        border: 1px solid #e1e1e1;
        background-color: #fff;
        font-size: 1rem;
        overflow: hidden;

        &-row {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: space-between;

            .static-box {
                display: flex;
                align-items: center;

                > span {
                    margin-left: 30px;
                    cursor: pointer;
                }

                > span .icon {
                    margin-left: 5px;
                }
            }
        }

        &-heading {
            //margin-bottom: 10px;
            font-weight: 700;
            font-size: 0.85rem;
        }

        &-content {
            line-height: 1.58;
            font-size: 0.75rem;
            color: #969696;

            height: 0;
            position: relative;
            top: 20px;
        }

        &-button {
            margin-top: 25px;
            text-align: center;
        }
    }
}
