.biz-information {
	overflow: hidden;
	text-align: center;
	&__sub {
		font-size: 22px;
		margin-bottom: 20px;
	}

	&__box {
		position: relative;
		&:before {
			//position: absolute;
			//top: 0;
			//left: 0;
			content: "";
			width: 80px;
			height: 1px;
			display: inline-block;
			background-color: #000;
		}
	}

	&__desr {
		font-size: 18px;
		color: #666;
		padding-top: 30px;
		margin-bottom: 25px;
		line-height: 1.56;
	}

	&__box__abs-box {
		display: flex;
		flex: 1 1 auto;
		//justify-content: space-evenly;
		justify-content: space-around;
		align-items: center;
		margin: 45px 0;

		.images-row > i {
			margin-bottom: 10px;
		}
	}
}