.pop_example {
	.modal-content {
		width: 1028px;
		height: 637px;
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

		padding: 45px !important;
	}

	&.example_video {
		.modal-content {
			height: 500px;
		}

		.pop_example__content__info {
			width: 330px;
		}

		.pop_example__content__images {
			width: 548px;
		}
	}

	.pop_example-container {
		height: 100%;
	}

	.pop_example__head {
		text-align: center;
		position: relative;
		margin-bottom: 30px;
		.pop-title {
			font-size: 30px;
			font-weight: bold;
		}

		.pop_example__close-btn {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
	}

	.pop_example__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: calc(100% - 70px);
		position: relative;

		.wrap_video_box {
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -13px;
		}

		&__info {
			width: calc(50% - 25px);
			margin-right: 50px;
			height: 100%;
			text-align: left;
			position: relative;
			.info-title {
				font-weight: bold;
				border-bottom: 2px solid #000;
				padding-bottom: 10px;
			}
		}

		&__info__desc {
			margin-bottom: 30px;
			.info-desc {
				padding: 10px 0;
				border-bottom: 1px solid #dedede;
				word-break: keep-all;
				line-height: normal;
			}
		}

		&__info__price {
			.info-price__row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #dedede;
				padding: 10px 0;
			}

			.info-price__title {
				color: #666;
			}
		}

		&__info__consult-btn {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
			background-color: #f5a623;
			font-size: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			> button {
				cursor: pointer;
				color: #fff;
			}
		}

		&__images {
			position: relative;
			width: calc(50% - 2px);
			//width: calc(50% - 25px);
			height: 100%;

			.arrow {
				position: absolute;
				z-index: 1;
				top: 50%;
				transform: translateY(-50%);

				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 0 20px;

				.left-arrow,
				.right-arrow {
					cursor: pointer;
				}
			}

			.example-image {
				width: 462px;
				height: 468px;
				> img {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		&__info__desc {

		}
	}
}