@import "desktop/resources/scss/variables";

#site-main {
    min-height: calc(100vh - #{$site-footer-height});
    background-color: #fff;
    //background-color: #fafafa;

    .section-title {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 15px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .link {
        position: relative;
        display: inline-block;
        padding: 0.85em 1.24em;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -1.2px;

        border-radius: 1.5em;

        color: #000;
        background-color: rgba(255, 255, 255, 0.8);
        border-color: rgba(255, 255, 255, 0.8);

        &:hover,
        &:focus,
        &.active {
            background-color: rgba(255, 255, 255, 1);
            border-color: rgba(255, 255, 255, 1);
        }
    }

    .link--large {
        font-size: 21px;
    }
}
