.serviceHistory-page {
    .history-title {
        position: relative;
        padding: 50px 0;
        text-align: center;

        > .h5-caption {
            margin-top: 15px;
            font-weight: 400;
        }
    }

    .history-total {
        color: #ffba00;
        margin-left: 7px;
    }
}