.main__estimate {
    width: 1080px;
    margin: 0 auto;
    padding: 50px 0 60px;
    &__box {
        margin-top: 20px;
    }

    .estimate_category__tab {
        background-color: #fff;
    }

    .tab-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .tab-category {
        position: relative;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        padding: 12px 0;

        cursor: pointer;
        color: #666666;

        border-top: 1px solid #dedede;
        border-left: 1px solid #dedede;
        border-bottom: 1px solid #000;

        &:last-child {
            border-right: 1px solid #dedede;
        }

        &.next-active {
            border-left-color: #000;
        }

        &.active {
            color: #000;
            border-bottom-color: #fff;
            border-top-color: #000;
            border-left-color: #000;
            border-right-color: #000;
        }
    }
}
