.accordion-box {
    border-top: 2px solid black;
    .context-section {
        border: {
            bottom: 1px solid #e1e1e1;
            left: 1px solid #e1e1e1;
            right: 1px solid #e1e1e1;
        }
        &__title {
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            padding: 18px;
            width: 100%;
            text-align: left;
            outline: none;
            background-color: white;

            .reg_date {
                padding-right: 50px;
                font-size: 15px;
                font-weight: 500;
                color: #969696;
            }

            //&:hover,
            //&:focus {
            //    background-color: #f3f3f3;
            //}

            &.active {
                background-color: #f3f3f3;
                border-bottom: 1px solid #e1e1e1;
            }

            .accordion-icon {
                float: right;
                margin-left: 5px;
            }

            //&:after {
            //    content: "\002B";
            //    color: #777;
            //    font-weight: bold;
            //    float: right;
            //    margin-left: 5px;
            //}
        }

        &__text {
            padding: 0 50px;
            background-color: #f3f3f3;
            line-height: 2;
            font-size: 13px;
            //max-height: 0;
            height: 0;
            overflow: hidden;
            //transition: height 0.6s ease;

            &.active {
                height: auto;
                padding: 20px 50px;
                //max-height: 300px;
                //overflow: auto;
            }
        }
    }
}
