.biz-wide-screen {}

.middle {
	position: relative;
	background-color: #fff;
	margin-bottom: 24px;
	height: 300px;
	padding: 1rem;
	&-process-box {
		position: relative;
		top: -80px;
		margin-top: 20px;
		width: 100%;
		padding: 1rem;

		background-color: #fff;
		z-index: 1;
		box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);

		&-div2 {
			padding: 1rem 0;
		}

		&__title {
			position: relative;
			//top: 50%;
			font-size: 1.2rem;
			font-weight: 300;
			letter-spacing: -1.3px;
			text-align: center;
			color: #313131;
		}
	}

	&-process-box__steps {
		position: relative;
		width: 155px;
		margin: 0 auto;
		//left: 50%;
		//transform: translateX(-50%);
		&:before {
			position: absolute;
			left: 26px;
			height: 100%;
			width: 2px;
			content: "";
			background-color: #efefed;
			z-index: 0;
		}

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-step {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			flex: 1 1 auto;
			text-align: center;
			width: 100%;

			&:nth-child(n + 2) {
				margin-top: 25px;
			}
			> p {
				text-align: left;
				letter-spacing: -0.9px;
				word-break: keep-all;
				color: #313131;
				font-size: 0.9rem;
				padding: 0 1rem;
			}
		}
		.step-icon-box {
			width: 52px;
			height: 52px;
			border-radius: 100%;
			background-color: #efefed;
			display: flex;
			align-items: center;
			justify-content: center;
			//flex: 1 1 auto;
		}
	}
}