@keyframes progress-action {
    from { background-position-x: 0; }
    to { background-position-x: 20px; }
}

.upload__item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;

    .progress__bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        background-color: rgba(0, 0, 0, 0.3);

        &__title {
            min-height: 34px;
            color: #fff;
            font-size: 0.75em;
            opacity: 0.9;
            word-wrap: break-word;
            word-break: break-all;
            margin-bottom: 5px;
        }

        &__outer {
            width: 100%;
            height:12px;
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, rgba(241, 241, 241, 0.5) 25%, rgba(241, 241, 241, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%,rgba(255, 255, 255, 0.5) 75%, rgba(241, 241, 241, 0.5) 75%, rgba(241, 241, 241, 0.5));
            background-size: 16px 16px;
            border-radius: 3px;
            border: 1px solid #f1f1f1;
            overflow: hidden;
        }

        &__inner {
            width: 0;
            height: 100%;
            animation: progress-action 1s linear infinite;
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%,rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
            background-size: 16px 16px;
            background-color: #ffba00;
            transition: width 0.6s ease;
        }

        .upload__remove {
            position: absolute;
            top: 6px;
            right: 6px;
            line-height: 0;

            > .f__button__close {
                width: 12px;
                height: 12px;
            }
        }
    }
}