.main-category {
    margin: 30px 0 40px;
    .category-text {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: center;
    }

    .category-container {
        position: relative;

        .category-unit {
            position: relative;
            width: 328px;
            height: 328px;
            display: block;
            float: left;
            border: 1px solid #e1e1e1;
            margin-bottom: 24px;
            //margin-right: 24px;

            .artist_nickname {
                position: absolute;
                z-index: 1;
                font-size: 13px;
                right: 10px;
                bottom: 10px;
                color: rgba(255, 255, 255, 0.7);
            }

            &:nth-child(3n + 1),
            &:nth-child(3n + 2) {
                margin-right: 24px;
            }

            &.pre {
                width: 100%;
            }

            &__inner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                z-index: 1;
            }

            &__inner-content {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #fff;
                height: 100%;

                .name {
                    font-size: 25px;
                    letter-spacing: -1.3px;
                    margin-bottom: 10px;
                    font-weight: normal;
                }

                .tags {
                    font-size: 13px;
                    letter-spacing: -0.7px;
                    font-weight: 300;
                    word-break: keep-all;
                    text-align: center;
                }
            }

        }
    }
}
