.imageHead {
    height: 360px;
    &__bg {
        height: inherit;
        padding-top: 70px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &__info {
        text-align: center;
        .h1,
        .h6 {
            color: white;
            text-align: center;
        }
        .h1 {
            font-weight: bold;
            padding-bottom: 10px;
        }
        button {
            margin-top: 20px;
        }
    }
}
.short-height {
    height: 156px;
    //margin-bottom: 70px;
    &__info-reg {
        text-align: center;
        .h1 {
            font-size: 33px;
        }
        .h6 {
            font-size: 15px;
        }
        .h1, .h6 {
            color: white;
            text-align: center;
        }
    }
    &__bg-reg {
        height: inherit;
        padding-top: 40px;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
