@import "desktop/resources/scss/variables";

#goToTop.PC {
    position: fixed;
    //z-index: map_get($z-index, "low");
	bottom: 120px;

	> :nth-child(n+2) {
		margin-top: 30px;
	}

	#top-button {
		display: none;
	}

	.float__button {
		position: relative;
		display: block;
		width: 70px;
		opacity: 0.8;
		cursor: pointer;

		.float__icon {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 37px;
			height: 37px;
			margin: 0 auto;
			border-radius: 100%;
			overflow: hidden;

			> img {
				width: 100%;
				height: 100%;
			}

			&.consult {
				background-image: linear-gradient(117deg, #d7d7d7, #a200ff, #23acfb);
			}

			&.chat {
				background-image: linear-gradient(117deg, #faafed, #f17dff, #8923fb);
			}
		}

		.float__text {
			color: #000;
			font-size: 0.9em;
			font-weight: bold;
			text-align: center;
			line-height: 1;
			margin-top: 8px;
		}
	}

	.scroll-top__inner-container {
		> :nth-child(n+2) {
			margin-top: 15px;
		}
	}

	.round {
		width: 70px;
		height: 70px;
		opacity: 0.8;
		margin-bottom: 10px;
		cursor: pointer;
		position: relative;

		&.hide {
			display: none;
		}
	}

	.circle {
		position: relative;
		border-radius: 100%;
		overflow: hidden;
		width: 54px;
		height: 54px;
		text-align: center;
		line-height: 50px;
		cursor: pointer;
		margin-bottom: 10px;

		&.hide {
			display: none;
		}
	}

	.center {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.scroll-top {
		background-color: #fff;
		border: solid 1px #969696;

		.icon {
			transform: rotate(180deg);
		}
	}

	.button-text {
		color: #fff;
		font-size: 14.5px;
		font-weight: normal;
		letter-spacing: -1px;
		text-align: center;
		margin-bottom: 5px;
	}

	.new-badge {
		position: absolute;
		width: 20px;
		height: 20px;
		top: -10px;
		right: -10px;
		border-radius: 100%;
		background-color: #ffba00;

		&:after {
			display: flex;
			content: "N";
			align-items: center;
			justify-content: center;
			font-size: 12px;
			font-weight: bold;
			color: #fff;
			height: 100%;
			width: 100%;
			flex: 1 1 auto;

		}
	}
	
	.request-chat-button {
		position: relative;
		cursor: pointer;
		width: 100%;
		height: 100%;

		.button-text {
			display: inline-block;
		}
	}

	.new-function-text {
		position: absolute;
		top: 50%;
		width: 145px;
		padding: 5px;
		font-size: 12px;
		transform: translate(-80%, -50%);
		text-align: center;
		box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04);
		background-color: #fdfdfd;
		border: solid 1px #e1e1e1;
		letter-spacing: -0.6px;
		color: #b4b4b4;
		// 왜그런지 확실하지 않지만
		left: -40px;

		.right-arrow {
			width: 5px;
			height: 5px;
			position: absolute;
			top: 10px;
			background-color: #fdfdfd;
			transform: rotate(45deg);
			right: -3px;
			border-top: 1px solid #e1e1e1;
			border-right: 1px solid #e1e1e1;
		}
	}
}
