.consult_container {
	width: 100%;
	background-color: #fafafa;
	position: relative;

	&.pc {
		width: 560px;
	}

	&.mobile {
		width: 95vw;
	}
}

.advice-order__out-content {
	&.pc {
		.modal-content {
			max-width: 400px;
		}
	}
	&.mobile {
		.modal-content {
			max-width: 90%;
		}
	}
	.modal-content {
		background-color: #fff;
		padding: 30px;
		border-radius: 15px;

		.advice_out_content-title-box {
			max-width: 100%;
			padding: 10px 30px;
			background-color: #ffba02;
			border-radius: 50px;
			position: relative;
			display: inline-block;
			.advice_out_content-title {
				color: #fff;
				font-size: 1.1rem;
				font-weight: 900;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
			}

			.advice_out_content-title-box__root {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -8px;

				&:after {
					display: inline-block;
					content: "";
					width: 10px;
					height: 10px;
					background-color: #ffba02;
					transform: rotate(45deg);
				}
			}

			.box-dots {
				width: 100%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 10px;

				.box-dot {
					display: inline-flex;
					&:after {
						display: inline-block;
						width: 5px;
						height: 5px;
						content: "";
						border-radius: 100%;
						background-color: rgba(255, 255, 255, 0.5);
					}
				}
			}
		}
		.advice_out_content-center {
			margin-top: 20px;
			word-break: keep-all;
			.advice_out_content-center-title {
				padding-top: 10px;
				font-weight: normal;
				letter-spacing: normal;
				text-align: center;
			}
		}
		.advice_out_content__buttons {
			margin-top: 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1 1 auto;

			.alert-button {
				font-size: 1.1rem;
				//height: 34px;
				padding: 1rem 1.1em;
				font-weight: 500;
				//color: #000;
				outline: 0;
				cursor: pointer;
				vertical-align: middle;
				text-decoration: none;
				letter-spacing: -.9px;
				text-align: center;
				white-space: nowrap;
				line-height: .95;
				width: calc(50% - 5px);

				&.ok {
					border: 1px solid #000;
					background-color: #000;
					color: #fff;
				}

				&.cancel {
					border: solid 1px #9b9b9b;
					color: #666666;
				}
			}
		}
	}
}


.modal-close {
	position: absolute;
	top: -35px;
	right: 0;
}
//
//.complete_consult_pop {
//	padding: 1rem;
//}