.consult_complete {
	background-color: #fafafa;
	padding: 50px;

	&__header {
		text-align: center;
		&-title {
			font-size: 35px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: -1.8px;
			margin-bottom: 15px;
		}

		&-desc {
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: -1px;
			text-align: center;
			color: #969696;
		}
	}

	&__content {
		padding: 20px 0;
		//text-align: center;

		&-login_box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.login_box {
				flex: 0 0 calc((100% / 3) - 10px);
				width: calc((100% / 3) - 10px);
				color: #fff;
				padding: 0.7rem;
				cursor: pointer;
				border-radius: 0;

				font-size: 14.5px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: -0.7px;

				&.naver {
					background-color: #00ca00;
				}
				&.facebook {
					background-color: #39579a;
				}
				&.kakao {
					background-color: #ffd200;
				}
			}
		}

		.check-mark {
			position: relative;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			border: 2px solid #000;
			display: inline-block;
			cursor: pointer;
			overflow: hidden;

			transition: all 0.2s;

			&:hover {
				background-color: #000;
				.mark-icon:after {
					border-color: #fff;
				}
			}

			.mark-icon {
				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-60%);
				&:after {
					content: "";
					display: flex;
					justify-content: center;
					width: 12px;
					height: 20px;
					border: solid #000;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
				}
			}
		}
	}

	.complete-alert {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: -0.6px;
		text-align: center;
		color: #969696;
	}
}

.mobile {
	&.consult_complete {
		background-color: #fff;
		padding: 1.6rem;
		.consult_complete__header-title {
			font-size: 1.6rem;
			margin-bottom: 10px;
		}
		.consult_complete__header-desc {
			font-size: 1rem;
		}
		.consult_complete__content-login_box .login_box {
			font-size: 0.9rem;
		}
		.complete-alert {
			font-size: 0.8rem;
		}
	}
}
