.addition__item {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 320px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    overflow: hidden;
    font-weight: normal;

    &__alert {
        padding: 0.5rem;
        &-desc {
            font-size: 0.75rem;
            color: #969696;
            word-break: keep-all;
        }
    }

    &__content {
        flex: 0 0 auto;
        padding: 15px;
        background-color: #f1f1f1;
        font-size: 0.806em;
        color: #969696;
    }

    &__title {
        flex: 0 0 auto;
        padding: 18px;
        text-align: center;

        &.text__content {
            text-align: left;
            font-size: 0.9em;

            > p {
                display: flex;
                flex-direction: row;

                > .title {
                    flex:  0 0 auto;
                }

                > .content {
                    flex: 1 1 auto;
                }
            }
        }

        > .title {
            font-weight: bold;
        }

        > .price {
            color: #ff326c;
            margin-left: 3px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 0 0 auto;
        padding: 20px 15px;
        font-size: 0.938em;

        > :nth-child(n+2) {
            margin-left: 10px;
        }

        > button {
            padding: 0.625em 1.875em;
            border-radius: 2em;
            border: 1px solid #e1e1e1;
            color: #969696;
            cursor: pointer;

            &.payment {
                background-color: #ff326c;
                border-color: #ff326c;
                color: #fff;

                &.disable {
                    background-color: #e1e1e1;
                    border-color: #e1e1e1;
                    color: #969696;
                }
            }

            > span {
                vertical-align: middle;
            }
        }
    }
}