$chat-message-border: 1px solid #e1e1e1;

@keyframes progress-move {
    from { background-position-x: 0; }
    to { background-position-x: 14px; }
}

.chat__message__list {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    padding: 15px 0;
}

.chat__message__pop {
    height: 100vh;
    ._button__close {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 30px;
        height: 30px;
        z-index: 2;
    }
    .modal-content {
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }

    .chat_pop__show-modal {
        height: 100%;
        width: 100%;
    }

    .chat_pop__image {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .thumb__img {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.chat__message__lines {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    position: relative;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #000;
    }

    &:nth-child(n+2) {
        margin-top: 20px;
    }

    &.desc {
    }

    &.asc {
        .message__lines__thumb {
            align-items: flex-start;
        }
    }

    &.my__lines {
        flex-direction: row-reverse;

        .message__lines {
            padding: 0;

            .message__line {
                flex-direction: row-reverse;

                //.text {
                //    justify-content: flex-end;
                //}

                .temp_upload {
                    display: flex;
                    flex-direction: row;

                    .progress {
                        height: 43px;
                        width: 43px;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
            }
        }
    }

    &.notify__lines {
        justify-content: center;
        margin: 49px 0 15px;
        padding: 34px 30px 15px;
        border-top: 1px solid #e1e1e1;

        .notify__line {
            font-size: 16px;
            text-align: center;
            overflow: hidden;

            .notify__title {
                font-weight: bold;
                letter-spacing: -1.2px;
            }

            .notify__content {
                margin-top: 10px;

                &.caption {
                    color: #969696;
                    font-size: 0.865em;
                    font-weight: normal;
                }
            }

            .notify__date {
                font-size: 70%;
                color: #969696;
                margin-top: 10px;
                letter-spacing: 0;
            }
        }

        .notify__icon {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            //background-color: #ff326c;
            border-radius: 100%;
        }

        .link__question {
            text-align: left;
        }
    }

    .message__lines__thumb {
        display: flex;
        flex: 0 0 auto;
        align-items: flex-end;

        .thumb {
            width: 52px;
            height: 52px;
            border-radius: 100%;
            overflow: hidden;
            z-index: 0;

            .image-content {
                border-radius: 100%;
            }
        }
    }

    .message__lines {
        display: flex;
        width: 90%;
        flex-direction: column;
        padding-left: 10px;
        justify-content: center;

        .message__line {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex: 0 0 auto;
            word-wrap: break-word;
            word-break: break-all;
            align-items: flex-end;
            justify-content: flex-start;

            &:nth-child(n+2) {
                margin-top: 5px;
            }

            .text {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                flex: 0 1 auto;
                padding: 0.525em 0.625em;
                border: $chat-message-border;
                background-color: #fff;
                border-radius: 10px;
                font-size: 15px;
                letter-spacing: -0.6px;
                overflow: hidden;

                .link__button {
                    margin-left: 10px;
                }

                a,
                a:visited,
                a:link,
                a:hover,
                a:active {
                    color: #2455cc;
                    text-decoration: underline;
                }

                strong {
                    font-size: 115%;
                    vertical-align: middle;
                }
            }

            .attach__image {
                position: relative;
                width: 75%;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 2px 2px 5px -2px #666;
                z-index: 1;
                cursor: pointer;
            }

            .attach__file {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0.525em 0.625em;
                border: $chat-message-border;
                background-color: #fff;
                border-radius: 10px;
                font-size: 15px;
                letter-spacing: -0.6px;
                overflow: hidden;
                cursor: pointer;

                .icon {
                    margin-right: 5px;
                }
            }

            .attach__image .attach__image__wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: background-color 0.1s ease;
                z-index: 1;

                &:hover,
                &:active {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }

        .message__line__options {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            align-items: flex-end;
            margin: 0 5px;

            .date {
                font-size: 12px;
                color: #969696;
            }

            .unread {
                font-size: 13px;
                color: #ffba00;
            }
        }
    }

    .link__button {
        flex: 1 1 auto;
        border: 1px solid #000;
        border-radius: 0;
        padding: 7px 10px;
        vertical-align: middle;
        transition: all 0.6s;
        cursor: pointer;

        &.block {
            display: block;
            width: 100%;
        }

        &.small {
            font-size: 75%;
            padding: 3px 5px;
        }

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    .link__question {
        min-width: 250px;
        max-width: 320px;
        border: $chat-message-border;
        border-radius: 10px;
        background-color: #fff;
        overflow: hidden;

        &__title {
            background-color: #ffba00;
            padding: 0.525em 0.625em;
            border-bottom: $chat-message-border;
        }

        &__content {
            padding: 0.525em 0.625em;
        }

        &__button {
            display: flex;
            flex-flow: row wrap;
            padding: 0.525em 0.625em;
        }
    }
}

.message__list__more {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.6s, opacity 0.6s;
    overflow: hidden;

    &.desc {
        bottom: 0;
    }

    &.asc {
        top: 0;
    }

    &.active {
        max-height: 75px;
        opacity: 1;
    }

    .message__list__more__progress {
        position: relative;
        display: flex;
        width: 100%;
        height: 6px;
        background-color: #e1e1e1;
        overflow: hidden;
        transition: all 2s ease;

        .progress-bar {
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            animation: progress-move 1s linear infinite;
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%,rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent);
            background-size: 1rem 1rem;
            background-color: #ffba00;
        }
    }
}