.chat__plus__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    min-width: 56px;
    cursor: pointer;

    .plus__item__icon {
        display: flex;
        flex: 0 0 54px;
        align-items: center;
        justify-content: center;
        width: 54px;
        border-radius: 100%;
    }

    .plus__item__text {
        flex: 0 0 auto;
        margin-top: 5px;
        color: #969696;
        font-size: 90%;
        text-align: center;
    }
}