$options-border: 1px solid #e1e1e1;
$options-padding: 15px;
$options-margin: 15px;

.products__options {
    > :nth-child(n+2) {
        margin-top: $options-margin/2;
    }
}

.products__options__item,
.products__options__item__body-side {
    display: flex;
    flex-direction: column;
    border: $options-border;
    background-color: #fff;
    max-height: 50px;
    overflow: hidden;
    transition: all 0.4s;

    &.model {
        max-height: 70px;

        .option__title {
            flex: 0 0 70px;
            .title_box {
                display: flex;
                flex-direction: column;

                .title {
                    margin-bottom: 10px;
                }

                .won {
                    margin-left: 5px;
                }
            }
        }
    }

    &.show {
        max-height: 1000px;
        transition: all 0.8s;
        border-color: rgba(255, 186, 0, 0.5);

        .option__detail {
            .option__list {
                .dropdown__container {
                    .dropdown__list {
                        top: auto;
                        bottom: 100%;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .option__title {
        display: flex;
        flex-direction: row;
        flex: 0 0 50px;
        align-items: center;
        //justify-content: space-between;
        padding: 0 $options-padding;
        font-size: 0.975em;

        .title_box {
            flex: 1 1 auto;
        }

        > .title {
            flex: 1 1 auto;
        }

        .price {
            flex: 0 0 auto;
            color: #666;
            font-weight: bold;
        }

        .won {
            margin-right: 3px;
        }

        .arrow {
            flex: 0 0 auto;
            margin-left: 15px;
        }
    }

    .option__detail {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        font-size: 0.825em;

        &:nth-child(n+2) {
            border-top: $options-border;
        }
    }

    .option__info {
        display: flex;
        flex-direction: row;
        padding: $options-padding;
        justify-content: space-around;

        >:nth-child(n+2) {
            margin-left: 15px;
        }

        .info__item {
            display: flex;
            flex-direction: column;
            flex: 0 1 33.33%;
            align-items: center;

            > .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: bold;
                color: #969696;

                icon {
                    margin-right: 5px;
                }
            }

            > .content {
                margin-top: 10px;
                font-weight: bold;
                font-size: 1.1em;
                color: #666;
            }
        }

        .info__basic {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            align-items: center;

            > .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: bold;
                color: #969696;

                icon {
                    margin-right: 5px;
                }
            }

            > .content {
                margin-left: 10px;
                font-weight: bold;
                font-size: 1.1em;
                color: #666;
            }

            > .qty {
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                font-size: 1.212em;
            }
        }
    }

    .option__list {
        display: flex;
        flex-direction: column;
        padding: $options-padding;
    }

    .option__select {
        display: flex;
        flex-direction: column;
        min-height: 77px;
        max-height: 282px;
        border: $options-border;
        margin: 15px 0 20px;
        overflow: auto;

        &__item {
            display: flex;
            flex-direction: column;
            flex: 0 0 77px;
            padding: $options-padding;

            &.default {
                background-color: rgba(255, 189, 0, 0.1);
            }

            &:nth-child(n+2) {
                border-top: $options-border;
            }

            > div {
                display: flex;
                flex-direction: row;

                &:nth-child(n+2) {
                    margin-top: 10px;
                }

                > .title {
                    flex: 1 1 auto;
                }

                > .remove {
                    flex: 0 0 auto;

                    > .f__button__close {
                        width: 14px;
                        height: 14px;

                        &:after,
                        &:before {
                            background-color: #000;
                        }
                    }
                }

                > .qty {
                    flex: 0 0 auto;
                }

                > .price {
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 auto;
                    align-items: center;
                    justify-content: flex-end;

                    .won {
                        margin-right: 3px;
                    }
                }
            }
        }
    }

    .option__content {
        max-height: 450px;
        padding: $options-padding;
        color: #666;
        line-height: 1.7;
        overflow: auto;
        word-wrap: break-word;
        word-break: break-all;
    }

    .option__payment {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        padding: $options-padding;

        ._button {
            border-radius: 5px;
            font-size: 0.907em;
        }
    }

    .option__qty {
        .option__qty__title {
            display: flex;
            flex-direction: row;
            align-items: center;

            > .title {
                font-weight: bold;
                margin-right: 15px;
            }

            > .icon {
                margin-right: 5px;
            }
        }

        .option__qty__content {
            margin: 15px 0;

            .qty-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;

                > span {
                    flex: 1 1 auto;
                }

                > button {
                    flex: 0 0 auto;
                }
            }
        }
    }

    .dropdown__container {
        .dropdown__select {
            border-radius: 5px;
        }

        .dropdown__list {
            border-radius: 5px;
        }
    }
}

.products__options__checkbox {
    display: flex;
    flex-direction: column;
    border: $options-border;
    background-color: #fff;
    transition: all 0.4s;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;
        min-height: 60px;
        padding: $options-padding;

        &:nth-child(n+2) {
            border-top: $options-border;
        }

        > div {
            display: flex;
            flex-direction: row;

            &:nth-child(n+2) {
                margin-top: 10px;
            }

            > .title {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;
                align-items: center;
            }

            > .qty {
                flex: 0 0 auto;
            }

            > .price {
                display: flex;
                flex-direction: row;
                flex: 0 0 150px;
                align-items: center;
                padding: 0 25px;
                justify-content: flex-end;

                .won {
                    margin-right: 3px;
                }
            }
        }
    }
}