@import "desktop/resources/scss/variables";
@import "desktop/resources/scss/mixins/clearfix";

.product-box {
    position: relative;
    display: inline-block;
    width: 504px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    z-index: map_get($z-index, "low");

    .box-image {
        position: relative;
        width: 100%;
        height: 504px;
        @include clearfix();

        > div {
            .heartUnit-bg {
                position: absolute;
                display: inline-block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                transition: background-color 0.4s ease;
                z-index: 1;
                &.active {
                    background-color: rgba(0, 0, 0, 0.3);
                }
                .close {
                    z-index: 2;
                    visibility: hidden;
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    padding: 0;

                    &.active {
                        visibility: visible;
                    }
                }
            }
        }

        .image-bg {
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity:0.0;
            color: transparent;
            transition: opacity 0.6s ease;
        }

        .product-popular {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20.6px;
            font-weight: bold;
            text-align: center;
            color: #e5e5e5;
            opacity: 0;
            transition: opacity 0.6s ease;

            .popular-heart, .popular-comment {
                display: inline-block;

                > span {
                    margin-left: 6px;
                }
            }

            .popular-comment {
                margin-left: 30px;
            }
        }

        &:hover .image-bg {
            opacity:0.5;
        }

        &:hover .product-popular {
            opacity: 1;
        }

        .check-image {
            border-radius: 0;
        }
    }

    .box-conent {
        position: relative;
        width: 100%;
        height: 170px;
        padding: 36px 20px 20px 20px;
        text-align: center;

        .product-info {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .product-artist-name {
                font-size: 20.6px;
                font-weight: bold;
                letter-spacing: -1px;
                padding: 0 15px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .product-sub-info {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;

                .product-title {
                    width: 100%;
                    font-size: 19.8px;
                    font-weight: normal;
                    line-height: 19px;
                    letter-spacing: -1px;
                    color: #969696;
                    text-align: right;
                    margin-bottom: 15px;
                }

                .heart-box {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                .product-price {
                    font-size: 24.9px;
                    font-weight: bold;
                    line-height: 22px;
                    text-align: right;

                    > small {
                        margin-left: 3px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .product-artist-profile {
        position: absolute;
        display: inline-block;
        text-align: center;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        z-index: map_get($z-index, "fixed");

        .profile-img {
            width: 52px;
            height: 52px;
            border-radius: 52px;
        }
    }

    // 컴포넌트 크기 정의
    &.product {
        &-small {
            width: 182px;

            .box-image {
                height: 182px;

                .product-popular {
                    font-size: 14.8px;

                    .popular-heart, .popular-comment {
                        > span {
                            margin-left: 6px;
                        }
                    }
                }
            }

            .box-profile {
                transform: translate(-50%, -35%);
            }

            .box-conent {
                height: 130px;
                padding: 36px 15px 15px 15px;

                .product-info {

                    .product-artist-name {
                        font-size: 14.6px;
                        letter-spacing: -0.7px;
                    }

                    .product-sub-info {
                        .product-title {
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: -0.6px;
                            text-align: center;
                            margin-bottom: 10px;
                        }

                        .product-price {
                            font-size: 15.1px;
                            line-height: 13px;
                            letter-spacing: -0.8px;
                            float: none;
                            text-align: center;
                            margin-bottom: 10px;
                        }

                        .heart-box {
                            position: relative;
                        }
                    }
                }
            }
        }

        &-large {
            width: 250px;

            .box-image {
                height: 250px;

                .product-popular {
                    font-size: 12px;

                    .popular-heart, .popular-comment {
                        > span {
                            margin-left: 6px;
                        }
                    }
                }
            }

            .box-profile {
                transform: translate(-50%, -35%);

                .artist-name {
                    font-size: 14.6px;
                    letter-spacing: -0.7px;
                    margin-top: 5px;
                }
            }

            .box-conent {
                height: 140px;

                .product-info {
                    @include clearfix();

                    .product-artist-name {
                        font-size: 14.6px;
                    }

                    .product-sub-info {
                        .product-title {
                            font-size: 12px;
                            line-height: 12px;
                            letter-spacing: -0.6px;
                            margin-bottom: 10px;
                        }

                        .product-price {
                            font-size: 15.1px;
                            line-height: 13px;
                            letter-spacing: -0.8px;
                        }
                    }
                }
            }
        }
    }
}
