.pop-policy__modal {
    width: 560px;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;

    .forsnap__logo {
        position: relative;
        text-align: center;

        ._button__close {
            position: absolute;
            top: 0;
            right: 0;
            width: 23px;
            height: 23px;
        }
    }

    .pop__desc {
        font-size: 14px;
        line-height: normal;
        letter-spacing: normal;
        margin-top: 35px;
    }

    .pop-bold {
        font-weight: bold;
    }

    .pop__content {
        margin-top: 20px;
    }

    .pop__policy__row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &:first-child {
            border-top: 2px solid #000;
        }

        &:last-child {
            border-bottom: 1px solid #dedede;
            margin-bottom: 30px;
        }
    }

    .pop__policy__column {
        width: calc(100% / 3);
        font-size: 12px;
        font-weight: normal;
        letter-spacing: normal;
        padding: 10px 0;

        &:nth-child(n + 2) {
            border-left: 1px solid #dedede;
        }

        &.head {
            background-color: #efefef;
            color: #666666;
        }
    }

    .pop__button {
        margin-top: 10px;

        ._button {
            width: 360px;
            height: 60px;
            font-size: 1.125em;
        }
    }
}