@import "desktop/resources/scss/variables";

.estimate__outside__detail {
    .estimate__row__content {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        > :nth-child(n+2) {
            margin-left: 60px;
        }

        .estimate__row {
            flex: 0 1 50%;
            margin-top: 0;
        }
    }

    > :nth-child(n+2) {
        margin-top: 54px;
    }

    .estimate__row {
        border-bottom: 1px solid #ccc;

        > .title {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            border-bottom: 2px solid #000;
            padding: 0.643em 0;
            font-weight: bold;
            line-height: 1;

            > span {
                flex: 1 1 auto;
            }

            ._button {
                flex: 0 0 auto;
                height: 30px;

                &._button__close {
                    width: 30px;
                }
            }
        }

        > table {
            width: 100%;

            &.fixed {
                table-layout: fixed;
            }

            $th_padding: 0.857em;

            tr {
                th {
                    padding: $th_padding 0;
                    color: #666;
                    font-weight: 500;
                }

                td {
                    padding: 0 10px;
                    height: 50px;
                    vertical-align: middle;
                    text-align: center;
                    word-wrap: break-word;
                    word-break: break-all;
                }
            }

            thead {
                border-bottom: 1px solid #ccc;
            }

            tbody {
                tr:nth-child(n+2) {
                    border-top: 1px solid #ccc;
                }

                th {
                    padding: 0 10px;
                    height: 50px;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            tfoot {
                tr {
                    background-color: #efefef;
                    border-top: 1px solid #ccc;

                    td {
                        padding: $th_padding 0;
                        font-weight: 500;

                        &.total__price {
                            padding-right: 9%;
                            color: #d0021b;
                            text-align: right;
                        }
                    }
                }
            }
        }

        > .description {
            padding: 10px;
            line-height: 1.88;
        }

        > .portfolio {
            padding: 15px 5px;

            .portfolio__list {
                display: flex;
                flex-flow: row wrap;
                width: 100%;

                &.mobile {
                    .portfolio__item {
                        flex-basis: 33%;
                    }
                }

                .portfolio__item {
                    flex: 0 1 20%;
                    cursor: pointer;

                    > div {
                        padding: 5px;
                    }
                }
            }

            .portfolio__more {
                margin-top: 20px;
                text-align: center;
                
                ._button {
                    width: 190px;
                    height: 54px;
                }
            }
        }

        > .attach__image {
            padding: 15px 5px;

            .attach__image__list {
                display: flex;
                flex-flow: row nowrap;
                width: 100%;

                > :nth-child(n) {
                    flex: 0 1 33%;
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }

        > .attach__file {
            padding: 10px 5px 10px;
            color: #666;

            .attach__item {
                display: inline-block;
                padding: 10px 5px 0;
                line-height: 1.5em;
                cursor: pointer;

                a {
                    border-bottom: 1px solid #999;
                }
            }

            .empty {
                color: #000;
                margin-bottom: 10px;
            }
        }
    }
}

.estimate__portfolio__full {
    width: 100%;
    height: 100%;
    background-color: #000;

    > ._button._button__close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 135px;
        right: 30px;
        z-index: 2;
    }
}