@import "../scss/variables";

.contact_res__info-box {
}

.info-box {
	padding-top: 30px;

	&__head {
		margin-bottom: 10px;
	}

	.agree_check {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		&__title {
			font-size: 18px;
			font-weight: bold;
		}

		&.agree {
			.check-box {
				background-color: $warm-color;
			}
		}

		&__inner {
			display: inline-block;
		}

		&__inner__title {
			font-size: 14px;
			vertical-align: middle;
		}

		.check-box {
			width: 24px;
			height: 24px;
			border-radius: 100%;
			background-color: $box-big-grey;
			float: left;
			margin-right: 5px;
			transition: background-color 0.2s;

			&:after {
				content: "";
				display: inline-block;
				width: 7px;
				height: 11px;
				transform: rotate(45deg);
				position: relative;
				justify-content: center;
				border: solid #fff;
				border-width: 0 2px 2px 0;
			}
		}
	}

	&__content {
		background-color: $box-regular-grey;
		border: 1px solid $border-color;
		padding: 20px;
	}

	&__content__row {
		display: flex;
		width: 100%;
		flex: 1 1 auto;
		text-align: left;
		margin-bottom: 5px;
	}

	&__dash {
		margin-right: 3px;
	}

	&__desc {
		width: 100%;
		font-size: 14px;
		color: $font-desc-color;
		word-break: keep-all;
		line-height: 1.57;
	}
}