.products__detail__another-products {
	width: 100%;
	padding: 15px 10px;
	overflow: hidden;

	.another-products__title {
		display: flex;
		//align-items: center;
		font-size: 15px;
		font-weight: 500;
		position: relative;
		text-align: left;

		.nick_name {
			position: relative;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			word-wrap: normal;
			text-align: left;
			flex: 0 2 auto;
		}

		.fix-str {
			position: relative;
			flex: 2 0 auto;
			//text-align: left;
		}
	}
	&__list {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		margin-top: 15px;
		padding-bottom: 15px;

		.more-slide.review-unit {
			flex: 0 0 auto;
			width: auto;
			display: inline-block;
			border: none;
			background: transparent;
			box-shadow: none;
			position: relative;
		}

		.review-unit {
			flex: 0 0 40%;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 1px 1px 5px -2px #333;
			overflow: hidden;
			text-align: left;

			&:visited,
			&:link,
			&:visited,
			&:hover,
			&:active {
				color: #000;
			}

			&:nth-child(n+2) {
				margin-left: 10px;
			}
		}

		.review-unit__info {
			padding: 10px;
			height: 30%;

			&-title {
				//text-overflow: ellipsis;
				//overflow: hidden;
				//white-space: nowrap;
				//word-wrap: normal;

				margin-bottom: 10px;
				width: 100%;
				font-size: 90%;
				line-height: 1.5rem;
				height: 3.2em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: normal;
				word-wrap: break-word;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				cursor: pointer;
			}

			&-blog {
				color: #969696;
				margin-top: 10px;
				font-size: 90%;

				word-wrap: normal;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
}


.more-slide {
	display: flex;
	//align-items: flex-start;
	//justify-content: center;
	//margin: auto 15px;
	width: 70px;

	.moreProduct {
		display: flex;
		flex-direction: column;
		align-items: center;

		.moreIcon {
			width: 50px;
			height: 50px;
			background-color: #fff;
			border-radius: 100%;
			box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.moreView {
			color: #969696;
			padding-top: 10px;
			text-align: center;
		}
	}
}

//.moreProduct {
//	display: inline-block;
//}
//.moreProduct .moreIcon {
//	border: 1px solid #e1e1e1;
//	display: flex;
//	width: 30px;
//	height: 30px;
//	border-radius: 100%;
//	align-items: center;
//	justify-content: center;
//}