.products__artist {
    padding: 15px;
    background-color: #fff;

    .products__artist__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-left: 3px solid #e1e1e1;
        padding-left: 15px;

        > .content {
            flex: 1 1 auto;
            padding: 10px 0;

            > .name {
                font-weight: bold;

                .crop {
                    background-color: #ececec;
                    border: 1px solid #e1e1e1;
                    color: #969696;
                    font-size: 0.6em;
                    padding: 1px 5px;
                    margin-left: 6px;
                }
            }

            > .rank {
                color: #969696;
                font-size: 0.917em;
                margin-top: 5px;
            }
        }

        > .profile {
            flex: 0 0 64px;
            width: 64px;
            height: 64px;
            border-radius: 100%;
            overflow: hidden;
            margin-left: 10px;
        }
    }

    .products__artist__about {
        color: #969696;
        margin-top: 15px;

        .about__content {
            overflow: hidden;
            font-size: 0.84em;
        }

        .about__more {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 10px;
            text-align: right;
            font-weight: bold;
        }
    }

    .products__artist__stat {
        font-size: 0.8em;
        margin-top: 15px;

        > span {
            color: #969696;

            &:nth-child(n+2) {
                &:before {
                    content: "·";
                    color: #ececec;
                    padding: 0 5px;
                }
            }

            > strong {
                color: #000;
                margin-left: 3px;
            }
        }
    }

    .products__artist__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;

        > :nth-child(n+2) {
            margin-left: 15px;
        }

        > button {
            flex: 1 1 50%;
        }
    }
}