$review-left-margin: 60px;
$review-right-margin: 10px;
$review-padding: 10px;

.review__header {
    > .count {
        color: #ffba00;
        margin-left: 5px;
    }
}

.review__rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .review__rating__item {
        display: flex;
        flex-direction: row;
        flex: 1 1 25%;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        color: #969696;
        text-align: right;

        > .title {
            flex: 0 0 35px;
            margin-right: 3px;
        }

        > .score {
            flex: 0 0 17px;
            margin-left: 3px;
        }
    }
}

.review__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    word-wrap: break-word;
    word-break: break-all;

    &:nth-child(n+2) {
        border-top: 1px solid #e1e1e1;
    }

    > :nth-child(n+2) {
        margin-top: 15px;
    }

    &.artist__review {
        border-top: 0;
        padding-top: 0;
    }

    .review__images { // 왼쪽 오른쪽 여백크기 지정 필요
        flex: 0 0 auto;
        overflow-x: auto;
        overflow-y: hidden;

        .review__images__container {
            white-space: nowrap;

            > :first-child {
                margin-left: $review-left-margin + 10;
            }

            > :last-child {
                margin-right: $review-right-margin;
            }

            > :nth-child(n+2) {
                margin-left: 10px;
            }
        }

        .image-content {
            display: inline-block;
            width: 0;
            height: 145px;
            border-radius: 5px;
            overflow: hidden;
        }
    }

    .review__item__user{ // 오른쪽 여백크기 지정 필요
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;

        .user__profile {
            display: flex;
            flex-direction: row;
            flex: 0 0 $review-left-margin; // 왼쪽 여백크기 지정 필요
            justify-content: flex-end;

            .image-content {
                width: 46px;
                height: 46px;
                border-radius: 100%;
                border: 1px solid #e1e1e1;
                overflow: hidden;
            }
        }

        .user__info {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            margin-right: $review-right-margin;
            padding: 0 $review-padding;
            justify-content: center;

            > .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 0 0 auto;
                font-weight: bold;
                font-size: 0.75em;
            }

            > .score {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 0 0 auto;
                margin-top: 6px;

                > .heart {
                    display: flex;
                    flex-direction: row;
                    flex: 0 0 auto;
                    
                    > .heart__score {
                        display: block;
                        flex: 0 0 auto;
                    }
                }

                > .date {
                    flex: 0 0 auto;
                    margin-left: 5px;
                    color: #969696;
                    font-size: 0.75em;
                }
            }

            .review__tag {
                margin-left: 10px;
                padding: 0 5px 1px;
                font-size: 0.75em;
                font-weight: lighter;
                border: 2px solid transparent;
                border-top-left-radius: 1em;
                border-bottom-left-radius: 1em;

                &.normal {
                    color: #ffba00;
                    border-left-color: #ffba00;
                    border-bottom-color: #ffba00;
                }

                &.product {
                    color: #ff326c;
                    border-left-color: #ff326c;
                    border-bottom-color: #ff326c;
                }
            }
        }
    }

    .review__item__artist {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        margin-left: $review-left-margin;
        margin-right: $review-right-margin;
        padding: 15px;
        background-color: #f3f3f3;
        border-radius: 5px;
        overflow: hidden;

        > .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 0 auto;
            font-weight: bold;
            font-size: 0.75em;
        }

        > .date {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 0 auto;
            color: #969696;
            font-size: 0.75em;
            margin-top: 6px;
        }

        > .content {
            flex: 0 0 auto;
            margin-top: 15px;
            font-size: 0.84em;
            line-height: 1.8;
            font-weight: normal;
            letter-spacing: 0.4px;
        }
    }

    .review__item__content {
        position: relative;
        flex: 0 0 auto;
        min-height: 35px;
        margin-left: $review-left-margin;
        margin-right: $review-right-margin;
        padding: 0 $review-padding;
        font-size: 0.84em;
        font-weight: normal;
        line-height: 1.8;
        letter-spacing: 0.4px;

        > .f__button {
            position: absolute;
            left: 10px;
            top: 0;
        }
    }

    .review__item__write {
        max-height: 0;
        transition: max-height 0.4s;
        overflow: hidden;

        &.show {
            max-height: 250px;

            .f__textarea {
                display: block;
            }

            .f__button {
                display: flex;
            }
        }

        .f__textarea {
            display: none;
            font-size: 1em;
        }

        .f__button {
            display: none;
            margin-top: 5px;
        }
    }
}