.pre-recommend-artist {
	padding: 22px 12px 35px;
	background-color: #f1f1f1;
	overflow: hidden;
	&__head {
		margin-bottom: 16px;
		word-break: keep-all;
		text-align: center;

		.logo__transparent {
			margin-bottom: 8px;
		}
	}

	&__content-head {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 14px;
        overflow: hidden;

        .swiper-container {
            width: 100%;
            overflow: visible;
        }

        .swiper-wrapper {
        }

        .recommend__artist__item {
            position: relative;
            width: 19%;

            .profile_img {
                position: relative;
                width: 100%;
                border-radius: 100%;
                overflow: hidden;

                .image-content {
                    border-radius: 100%;
                }
            }

            .nick_name {
                margin-top: 10px;
                font-size: 11px;
                font-weight: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #666666;
                text-overflow: ellipsis;
                word-break: normal;
                white-space: nowrap;
                overflow: hidden;
            }

            .arrow {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #fff;
                //border: 1px solid;
                transform: rotate(45deg);
                left: 34%;
                top: 100%;
                display: none;
                margin-top: 10px;
                box-shadow: -4px -4px 8px -4px rgba(0, 0, 0, .15);

                &.show {
                    display: block;
                }
            }
        }
    }

	&__content__box {
		position: relative;
		&:nth-child(n + 2) {
			margin-left: 8px;
		}

		.arrow {
			position: absolute;
			width: 20px;
			height: 20px;
			background-color: #fff;
			//border: 1px solid;
			transform: rotate(45deg);
			bottom: -28px;
			left: 34%;
			display: none;
			box-shadow: -4px -4px 8px -4px rgba(0, 0, 0, .15);

			&.show {
				display: block;
			}
		}

		&__thumb {
			width: 60px;
		}

		&__thumb .thumb_image {
			position: relative;

			.image {
				overflow: hidden;
				position: relative;
				width: 60px;
				height: 60px;
				border-radius: 60px;

				> .image-content {
					overflow: hidden;
					position: relative;
					width: 60px;
					height: 60px;
					border-radius: 60px;
				}
			}

			.thumb__wrap {
				position: absolute;
				z-index: 1;
				top: -1px;
				left: -1px;
				width: 103%;
				height: 103%;
				border-radius: 100%;
				border: 3px solid #ffba00;
			}
		}
		&__thumb .artist__nick-name {
			font-size: 11px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #666666;
			//height: 35px;

			text-overflow: ellipsis;
			word-break: normal;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	&__content__box__info {
        position: relative;

		&-portfolio {
			min-height: 150px;
			.portfolio__thumb-image {

			}
		}
	}
}
