@import "desktop/resources/scss/variables";

#site-main {
    .estimate__outside__page {
        .estimate__outside__content {
            padding: 60px 60px 80px;
            border-left: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
        }
    }
}

.estimate__outside__page {
    width: $container-width;
    margin: 0 auto;
    padding: 0 $grid-gutter;
    background-color: #fff;

    .estimate__outside__password {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: map_get($z-index, "header");

        .outside__bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #6c6c6c;
            z-index: -1;
        }

        .outside__wrap {
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .outside__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: $container-width;
            height: 100%;
            margin: 0 auto;
            padding: 60px $grid-gutter;
        }

        .estimate__logo {
            text-align: center;
        }

        .outside__about {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: space-between;
            margin-top: 65px;
        }

        .outside__row {
            flex: 1 1 25%;
            text-align: center;
            color: #fff;

            .outside__icon {
                margin-bottom: 30px;
            }

            .outside__title {
                font-size: 1.375em;
            }

            .outside__content {
                margin-top: 15px;
                line-height: 1.6em;
            }
        }

        .outside__password {
            width: 630px;
            margin: 80px auto 0;
            visibility: hidden;

            &.show {
                visibility: visible;
                transition: visibility 0.4s;
            }

            .password__title {
                color: #fff;
                font-size: 1.125em;
                font-weight: 300;
                text-align: center;
            }

            .password__form {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 66px;
                margin-top: 16px;

                > :nth-child(n+2) {
                    margin-left: 10px;
                }

                ._input {
                    flex: 1 1 auto;
                    height: 100%;
                    border-radius: 6px;
                    font-size: 1em;
                    letter-spacing: 10px;
                    text-align: center;
                }

                ._button {
                    flex: 0 0 120px;
                    height: 100%;
                    border-radius: 6px;
                    font-size: 1.25em;
                }

                .password__error {
                    position: absolute;
                    left: 250px;
                    top: 50%;
                    color: #ff326c;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.estimate__outside__content {
    position: relative;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;

    .estimate__snapshot {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .top__buttons {
        position: relative;
        text-align: right;

        ._button {
            > :nth-child(n) {
                vertical-align: middle;
            }

            &._button__close {
                position: absolute;
                right: 0;
                width: 22px;
                height: 22px;
            }
        }
    }

    .estimate__logo {
        text-align: center;
    }

    .estimate__content {
        margin-top: 40px;
    }

    .estimate__information {
        margin-top: 30px;

        .estimate__buttons {
            padding: 30px 0;
            text-align: center;

            > :nth-child(n+2) {
                margin-left: 10px;
            }

            ._button {
                width: 220px;
                height: 60px;
                font-size: 1.25em;
            }
        }

        .estimate__payment__info {
            margin-top: 30px;
            padding: 20px;
            border-top: 3px solid #cdcdcd;
            border-bottom: 1px solid #ccc;

            .title {
                font-weight: bold;
                line-height: 1;
            }

            .content {
                display: flex;
                flex-flow: row nowrap;
                margin-top: 10px;

                ._button {
                    width: 140px;
                    height: 40px;
                    margin-top: 10px;
                }

                .content__login {
                    flex: 1 1 50%;
                }

                .content__customer {
                    flex: 1 1 50%;
                }

                p {
                    font-size: 0.875em;
                    line-height: 1.43;
                }
            }
        }

        .description {
            margin-top: 20px;
            padding: 20px;
            background-color: #efefef;
            color: #666;
            line-height: 1.57;

            strong {
                color: #000;
            }
        }
    }
}
