.biz-make_product {
	background: url("#{$IMG_SERVER}/biz/make_product/banner.png") center center / cover no-repeat;
	width: 100%;
	//height: 220px;
	min-height: 220px;

	&__content {
		text-align: center;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		display: inline-block;
		letter-spacing: normal;
		position: relative;
		//font-family: "TmonMonsoriBlack", Helvetica, AppleSDGothicNeo, Arial, sans-serif;

		.underline {
			content: "";
			display: inline-block;
			width: 100%;
			height: 10px;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
			background-color: #fff;
		}

		.title {
			display: inline-block;
			font-size: 38px;
			font-weight: 900;
			position: relative;
			z-index: 1;
		}

		.title > span {
			margin-right: 5px;
		}

		.color-sky {
			color: #4a90e2;
		}
	}

	&__btn {
		cursor: pointer;
		position: absolute;
		bottom: -40px;
		font-weight: normal;
		transition: font-weight 0.1s;

		&:hover {
			font-weight: bold;
		}
	}
}