.customer-leave-component.desktop {
	.leave-information {
		&__content {
			padding: 20px;
			background-color: #fff;

			&-heading {
				margin-bottom: 15px;
				font-size: 13px;
				font-weight: normal;
			}

			&-description {
				font-size: 12px;
				font-weight: normal;
				line-height: 1.58;
				letter-spacing: -0.6px;
				text-align: left;
				color: #969696;
			}
		}

		&__check {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 15px;
			font-size: 12px;
			font-weight: normal;
			letter-spacing: -0.6px;

			> div {
				display: inline-flex;
				cursor: pointer;
			}

			&-check {
				display: inline-block;
				border: 1px solid #e1e1e1;
				border-radius: 100%;
				margin-right: 5px;
				width: 15px;
				height: 15px;

				&.agree {
					border-color: #ffba00;
					background-color: #ffba00;
				}
			}
		}
	}
}

.customer-leave-component.mobile {
	.leave-information {
		padding: 1rem;
		margin-bottom: 25px;
		&__content {
			padding: 1rem;
			border: 1px solid #e1e1e1;

			background-color: #f1f1f1;

			&-heading {
				margin-bottom: 15px;
				font-size: 0.9rem;
				font-weight: normal;
			}

			&-description {
				font-size: 0.8rem;
				font-weight: normal;
				line-height: 1.58;
				letter-spacing: -0.6px;
				text-align: left;
				color: #969696;
				word-break: keep-all;
				width: 100%;
			}
		}

		&__check {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 15px;
			font-size: 0.9rem;
			font-weight: normal;
			letter-spacing: -0.6px;

			> div {
				display: inline-flex;
				cursor: pointer;
			}

			&-check {
				display: inline-block;
				border: 1px solid #e1e1e1;
				border-radius: 100%;
				margin-right: 5px;
				width: 15px;
				height: 15px;

				&.agree {
					border-color: #ffba00;
					background-color: #ffba00;
				}
			}
		}
	}
}