.photo-thumbnail-component {
	.photo-thumbnail-container {

	}
	.photo-thumbnail-wrapper {

	}
	.photo-thumbnail-slide {
		position: relative;
		width: 60px;
		height: 60px;

		&.active {
			box-sizing: border-box;
			border: 2px solid #ffba00;
		}
	}
}