@import "desktop/resources/scss/variables";

$dev-host: "#{$IMG_SERVER}/common/nav_bg.png";
$nav-url: url($dev-host);

.header-container {
    visibility: visible;
    &.invisible {
        visibility: hidden;
    }
}

.forsnav {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #fff;
    width: 100%;
    z-index: map_get($z-index, "header");

    .forsnav-layout {
        position: relative;
        height: inherit;
        border-bottom: 1px solid #e1e1e1;

        .container {
            height: 100%;
        }

        .forsnav-container {
            position: relative;
            display: inline-flex;
            width: 100%;
            height: 100%;
        }
    }

    /**
        포스냅 헤더 오른쪽 메뉴
     */
    .forsnav-content-right {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        height: inherit;
        &__csButton {
            display: flex;
            flex: 1 1 auto;
        }
        .test-quotation {
            color: #ffba00;
            line-height: 70px;
            cursor: pointer;
            .icon {
                margin-right: 5px;
            }
            > span {
                margin-right: 15px;
                display: flex;
                flex: 1 0 auto;
                align-items: center;
            }
        }
        .forsnav-notify {
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            align-items: center;

            > :nth-child(n) {
                margin-right: 30px;
            }

            > :last-child {
                margin-right: 0;
            }

            .notify-search {
                position: relative;
                display: inline-block;
                cursor: pointer;

                ._input {
                    position: absolute;
                    width: 276px;
                    top: 50%;
                    right: -5px;
                    padding: 0 0.85em;
                    border-radius: 34px;
                    transform: translateY(-50%);
                    transition: width 0.4s, opacity 0.4s;

                    &.hide {
                        width: 0;
                        padding: 0;
                        border: 0;
                        opacity: 0;
                    }
                }
            }

            .profile-img {
                border: 2px solid #fff;
                background-color: #fff;
            }
        }

        .buttons-content {
            padding: 8.5px 0;

            .btn {
                width: 100%;
                height: 31px;
                font-size: 16.3px;

                .btn-name:before {
                    display: block;
                    content: attr(title);
                    font-weight: bold;
                    height: 0;
                    color: transparent;
                    overflow: hidden;
                    visibility: hidden;
                }

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    /**
        기업메인 / 개인메인 선택 버튼
     */
    .forsnav-customer-button {
        display: inline-flex;
        align-items: center;
        margin-left: 25px;
        height: inherit;

        > span {
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: -1px;
            color: #959595;
            cursor: pointer;

            &:first-child {
                margin-right: 15px;
            }

            &:nth-child(2) {
                border-left: 1px solid #e6e6e6;
                padding-left: 15px;
            }
        }
        .select_text {
            font-size: 25px;
            font-weight: normal;
            letter-spacing: -1.3px;
            text-align: left;
            color: #000000;
        }
    }

    /**
        포스냅 로고
     */
    .forsnav-logo {
        position: relative;
        width: 60px;
        height: 100%;
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        justify-content: center;
        background-color: #ffba00;
    }

    .toc-list {
        max-height: 518px;
        overflow-y: auto;

        .toc-item {
            &.loading-progress {
                width: 100%;
                height: 74px;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
