#sub-header {
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #e1e1e1;
	.container {
		height: inherit;
	}

	.sub-header__left-content {
		float: left;
		display: flex;
		flex: 1 1 auto;
		height: inherit;
		align-items: center;

		.gnb-item {
			position: relative;
			display: flex;
			align-items: center;
			height: inherit;

			> a {
				word-break: keep-all;
				font-size: 14.5px;
				font-weight: normal;
				letter-spacing: -0.7px;
				color: #969696;
			}

			&.is_select {
				border-bottom: 3px solid #ffba00;
				> a {
					color: #000;
				}
			}

			&:nth-child(n + 2) {
				margin-left: 25px;
			}

			&:hover {
				border-bottom: 3px solid #ffba00;
				> a {
					color: #000;
				}
			}
		}
	}

	.sub-header__right-content {
		float: right;
		height: inherit;

		&__csButton {
			display: flex;
			flex: 1 1 auto;
			align-items: center;
			height: inherit;
		}
		span {
			color: #000;
			font-size: 18px;
			font-weight: normal;
			letter-spacing: -0.9px;
		}
	}
}