.m_main-estimate-step {
    position: relative;
    padding: 0 1rem 1rem 1rem;
    display: block;

    .step-container {
        display: flex;
        flex-flow: row wrap;

        .step {
            display: inline-block;
            padding: 15px;
            border: 1px solid #e1e1e1;
            position: relative;
            width: calc(100% * (1/2) - 2px - 1px);

            box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04);
            margin-bottom: 5px;
            background-color: #fff;

            &:nth-child(odd) {
                margin-right: 5px;
            }

            &-no {
                font-size: 0.9rem;
                color: #494f59;
            }

            .estimate-button {
                margin-top: 30px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
            }

            //@media screen and (max-width: 320px) {
            //    .estimate-button {
            //        width: 40px;
            //    }
            //}

            &-info {
                position: relative;
                text-align: center;
                //top: 50%;
                //left: 50%;
                //transform: translate(-50%, -50%);
                .title {
                    font-size: 1rem;
                    letter-spacing: -0.9px;
                    margin-bottom: 15px;
                    word-break: keep-all;
                    padding-top: 20px;
                }

                .description {
                    font-size: 0.8rem;
                    font-weight: 300;
                    letter-spacing: -0.6px;
                    color: #969696;
                    word-break: keep-all;
                }
            }
        }
    }
}
