.biz-banner-component-m {
	position: relative;

	.biz-banner-container {
		.close-button {
			width: 17px;
			height: 17px;
			position: absolute;
			top: 0;
			right: -15px;
			cursor: pointer;
		}
	}

	.biz_banner_type {
		position: relative;
		&.ord_type {
		}

		&.select_type {
		}

		&.card_type {
			.close-button {
				top: 25px;
				right: 25px;
			}
			//padding: 50px 0;
		}
	}

	.card_type__content {
		width: 100%;
		position: relative;

		.left-box > img {
			position: relative;
			left: -18px;
		}
		//height: 140px;

		display: flex;
		align-items: center;
		flex-direction: column;
		border-top: 3px solid #fcae2f;

		.left-box {
			width: 100%;
			height: inherit;
			background-color: #fff;
			padding: 20px 23px;
			text-align: center;
			letter-spacing: 0;

			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.card_type__name {
			color: #fcae2f;
			font-weight: bold;
			margin-bottom: 5px;
		}

		.card_type__text {
			margin: 15px 5px 0;
			.title {
				color: #fcae2f;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 10px;
				word-break: keep-all;
			}

			.desc {
				color: #666;
				font-size: 14px;
				line-height: 20px;
				word-break: keep-all;
			}
		}

		.right-box {
			width: 100%;
			height: inherit;
			background-color: #efefef;
			border-top: 2px dashed #c6c7c8;

			display: flex;
			align-items: center;
			justify-content: center;

			position: relative;

			padding: 15px 0;
		}

		.right-box__button {
			width: 160px;
			height: 48px;
			background-color: #fff;

			border: 2px solid #cdcdcd;

			font-weight: bold;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			> i {
				margin-right: 4px;
			}
		}

		.right-box__mascote {
			position: absolute;
			height: 45px;
			bottom: 0;
			right: 10px;
		}
	}

	.ord_type {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		position: relative;

		&__name {
			color: #fff;
			font-weight: bold;
			margin-bottom: 15px;
		}

		&__content {
			position: relative;
			> img {
				position: relative;
				left: -18px;
			}
		}

		&__text {
			margin: 15px 0 15px;
			word-break: keep-all;
			letter-spacing: 0;
			.title {
				font-size: 18px;
				font-weight: bold;
				color: #fcae2f;
				margin-bottom: 5px;
			}

			.desc {
				font-size: 14px;
				line-height: 22px;
				color: #fff;
			}
		}

		&__button {
			width: 160px;
			height: 48px;
			border: 2px solid #fff;

			margin: 0 auto;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			> p {
				color: #fff;
			}
		}

		&__mascote {
			position: absolute;
			height: 45px;
			bottom: -30px;
			right: 0
		}
	}

	.select_type {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		position: relative;

		&__content {
			position: relative;

			> img {
				position: relative;
				left: -18px;
			}
		}

		&__name {
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 15px;
		}

		&__text {
			width: 70%;
			margin: 15px auto;
			word-break: keep-all;
			letter-spacing: 0;
			.title {
				//word-break: keep-all;
				font-size: 18px;
				font-weight: bold;
				color: #fcae2f;
				margin-bottom: 5px;
			}

			.desc {
				font-size: 14px;
				padding: 0 10px;
				//word-break: keep-all;
				color: #fff;
			}
		}

		&__buttons {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			.button-box {
				background: url("#{$IMG_SERVER}/mobile/banner/text-box.png") center center / cover no-repeat;
				height: 120px;
				width: 160px;

				display: flex;
				align-items: center;
				justify-content: center;

				padding: 15px;
				letter-spacing: 0;

				.title {
					font-size: 12px;
					font-weight: bold;
					margin-bottom: 5px;
				}

				.desc {
					font-size: 12px;
					margin-bottom: 10px;
				}

				.button-select_type {
					width: 100px;
					height: 30px;
					color: #fff;
					background-color: #fcae2f;
					text-align: center;
					padding: 5px;
					border-radius: 4px;
					//box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
					font-size: 12px;

					cursor: pointer;
				}
			}
		}

		&__mascote {
			position: absolute;
			height: 45px;
			top: -43px;
			right: 30px;
		}
	}
}