@import "../../business/scss/variable";

.product__information {
	padding: 60px 0;
	width: 100%;

	&__content-box {
		border-left: $base-border;
		border-right: $base-border;
	}

	.tab-clone {
		height: 40px;
		position: relative;
		display: none;
	}
}