.event-component {
	position: relative;
	.event-top {
		width: 100%;
		background-color: #ffde29;
	}

	.event-middle {
		background-color: #222222;
		position: relative;

		&-button {
			position: absolute;
			width: 415px;
			height: 415px;
			top: 15%;
			left: 50%;
			transform: translate(-50%, 10%);
			cursor: pointer;
		}
	}

	.event-bottom {
		background-color: #222222;
		position: relative;

		&-buttons {
			position: absolute;
			top: 25%;
			left: 50%;
			transform: translateX(-50%);
		}
		.event-button {
			width: 150px;
			height: 150px;
			float: left;
			cursor: pointer;

			&:first-child {
				margin-right: 30px;
			}
		}
	}

	.quickMenu-wrapper {
		position: absolute;
		right: -30px;
	}
}