.products__portfolio__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .products__portfolio__list {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .portfolio__swiper {
            height: 100%;
            padding: 120px 0 100px;

            .swiper-wrapper {
                .swiper-slide {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }

            .swiper__arrow {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                width: 5%;
                height: 100%;
                z-index: 1;
                transition: left 0.4s, right 0.4s;

                &.next {
                    //right: -4.5%;
                    right: 0;
                    justify-content: flex-start;

                    &.show {
                        right: 0;
                    }
                }

                &.prev {
                    //left: -4.5%;
                    left: 0;
                    justify-content: flex-end;

                    &.show {
                        left: 0;
                    }
                }
            }
        }
    }

    .products__portfolio__thumb {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 120px;
        overflow: hidden;
        color: #fff;
        //z-index: 2;
        z-Index: 2000;
        background-color: #000;

        .thumb__loading {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100%;
            }
        }

        .thumb__image {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .portfolio__thumb {
            background-color: rgba(0, 0, 0, 0.5);
            transform: translateY(-100%);
            transition: transform 0.4s;

            &.show {
                transform: translateY(0);
            }
        }

        .thumb__swiper {
            height: 100%;
            padding: 15px;

            .swiper-wrapper {
                width: 100%;

                .swiper-slide {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 90px;
                    height: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    overflow: hidden;
                    cursor: pointer;

                    &.active {
                        border-color: #ffba00;
                    }
                }
            }
        }
    }

    .products__portfolio__information {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        overflow: hidden;
        color: #fff;
        z-index: 2;

        .portfolio__information {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            padding: 0 15px;
            background-color: rgba(0, 0, 0, 0.5);
            line-height: 1.6;
            transform: translateY(100%);
            transition: transform 0.4s;

            &.show {
                transform: translateY(0);
            }

            .profile__img {
                flex: 0 0 auto;
                width: 64px;
                height: 64px;
                margin-right: 15px;
                border-radius: 100%;
                overflow: hidden;

                > img {
                    width: 100%;
                }
            }

            .portfolio__content {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .count {
                    color: #ff326c;
                    margin-left: 5px;
                }
            }
        }
    }

    .portfolio__image {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .portfolio__video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        height: 100%;
    }

    .portfolio__image__thumb {
        width: 100%;
        height: 100%;
    }

    .portfolio__video__thumb {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: transparent center center no-repeat;
        background-size: cover;
    }

    .video__play__button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.65);
        border-radius: 100%;
        overflow: hidden;

        .play__button {
            flex: 0 0 auto;
            border-width: 5px;
            border-style: solid;
            border-color: #fff #fff transparent transparent;
            transform: rotate(45deg) translate(-25%, 25%);
        }
    }
}
