.consult_progress__step-category {
	//width: 100%;

	&-header {
		font-size: 1.2rem;
		text-align: center;
		margin-bottom: 15px;
	}

	.step-content {
		padding: 0 10px;
		&__container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;
		}

		&__category {
			margin-top: 10px;
			display: inline-block;
			cursor: pointer;
			position: relative;
			min-height: 70px;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				margin-top: 0;
			}

			.category-image {
				position: relative;
				border-radius: 5px;
				overflow: hidden;
				color: #fff;

				.category_select {
					position: absolute;
					top: 20%;
					left: 20%;
					transform: translate(-50%, -50%);
					background-color: #ffba00;
					border-radius: 100%;

					display: flex;
					align-items: center;
					justify-content: center;
				}

				.category-name {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					width: 100%;
					letter-spacing: normal;
					font-weight: normal;
				}

				.category_select .check-mark {
					display: inline-block;
					position: relative;
					//top: 50%;
					//transform: translateY(-60%);
					&:after {
						content: "";
						display: flex;
						justify-content: center;

						border: solid #fff;
						border-width: 0 3px 3px 0;
						transform: rotate(45deg);
					}
				}
			}

			.category-title {
				position: absolute;
				right: 10px;
				bottom: 5px;
				font-size: 0.8rem;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: -0.8px;
				text-align: center;
				color: #fff;
			}

			&:nth-child(3n + 1) {
				margin-right: 10px;
			}

			&:nth-child(3n + 2) {
				margin-right: 10px;
			}
		}
	}
}

.pc {
	.consult_progress__step-category {
		.step-content {
			padding: 30px 29px 0;

			&__category {
				width: 160px;

				.category-name {
					font-size: 24px;
				}

				.category-image {
					height: 160px;

					.category_select {
						width: 40px;
						height: 40px;
					}

					.check-mark {
						top: -5%;
						&:after {
							width: 12px;
							height: 20px;
						}
					}

				}

				&:nth-child(3n + 1) {
					margin-right: 10px;
				}

				&:nth-child(3n + 2) {
					margin-right: 10px;
				}
			}
		}
	}
}

.mobile {
	.consult_progress__step-category {
		background-color: #fff;

		.step-content {
			//padding: 30px 10px 0;

			&__category {
				width: calc((100% / 3) - 5px);

				.category-image {
					height: calc(100% / 3);

					.category_select {
						width: 30px;
						height: 30px;
					}

					.check-mark {
						//top: 30%;
						top: -2%;
						&:after {
							width: 7px;
							height: 11px;
						}
					}
					.category-name {
						font-size: 16px;
					}

					.category_select {
						text-align: center;
					}
				}

				&:nth-child(3n + 1) {
					margin-right: 5px;
				}

				&:nth-child(3n + 2) {
					margin-right: 5px;
				}
			}
		}
	}
}
