.recommend-artist__panel {
	background-color: #fff;
	padding: 14px 18px 18px;

	&.dummy {
		padding: 8px;

		.nick_name {
			font-size: 13px;
		}
	}

	&:nth-child(n + 2) {
		margin-top: 3px;
	}

	.artist__panel__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 13px;

		.nick_name {
			font-size: 16px;
			font-weight: normal;
			color: #000;
		}
	}

	.artist__panel__portfolio {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;

		.portfolio__thumb {
			width: calc(100% / 4);
			overflow: hidden;
			max-height: 74px;
			height: 72px;
		}
	}

	.wrap-box {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		cursor: pointer;
		position: relative;
	}

	.select {
		//background-color: #ffba00;
		//padding: 3px 5px;
		//border-radius: 5px;
		//box-shadow: 1px 2px 3px -1px rgba(0,0,0, 0.3);

		p {
			font-size: 12px;
			font-weight: bold;
			color: #f7b500;
		}
	}
}