.category__recommend {
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        background-color: #fff;

        &:first-child {
            border-bottom: 1px solid #e1e1e1;
        }

        &.bg-trans {
            background-color: transparent;
        }
    }

    &__contents {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        align-items: center;
    }

    &__list {
        position: relative;
        flex: 1 1 auto;
        overflow: hidden;
        //overflow: auto;

        &.selected {
            display: flex;
            justify-content: center;

            .recommend__list {
                width: 100%;
                text-align: center;

                &__item {
                    &:nth-child(n+2) {
                        margin-left: 24px;
                    }

                    button {
                        color: #fff;
                        background-color: #ff326c;
                        border-color: #ff326c;

                        &:hover,
                        &:focus {
                            border-color: #fff;
                        }
                    }
                }
            }
        }

        //&:before,
        //&:after {
        //    content: "";
        //    width: 12px;
        //    height: 100%;
        //    position:absolute;
        //}
        //
        //&:before {
        //    left: 0;
        //    top: 0;
        //    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        //}
        //
        //&:after {
        //    right: 0;
        //    top: 0;
        //    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        //}

        .recommend__list {
            white-space: nowrap;
            overflow: auto;

            &__item {
                position: relative;
                display: inline-block;

                &:nth-child(n+2) {
                    margin-left: 6px;
                }

                &.selected {
                    button {
                        color: #fff;
                        background-color: #ff326c;
                        border-color: #ff326c;
                        //cursor: auto;

                        &:hover,
                        &:focus {
                            border-color: #fff;
                        }
                    }
                }

                button {
                    height: 34px;
                    padding: 0 1.063em;
                    border: 1px solid #e5e5e5;
                    border-radius: 5px;
                    background-color: #fff;
                    transition: all 0.6s;
                    cursor: pointer;
                    font-size: 0.813em;

                    &:hover,
                    &:focus {
                        border-color: #000;
                    }
                }

                .close {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    width: 20px;
                    height: 20px;
                    background-color: #000;
                    border-radius: 100%;
                    transform: rotate(45deg);
                    cursor: pointer;

                    &:before,
                    &:after {
                        position: absolute;
                        display: inline-block;
                        content: "";
                        background-color: #fff;
                        transition: background-color 0.6s;
                    }

                    &:focus,
                    &:hover {
                        &:before,
                        &:after {
                            background-color: #a9a9a9;
                        }
                    }

                    &:before {
                        left: 50%;
                        top: 50%;
                        width: 2px;
                        height: 70%;
                        transform: translate(-50%, -50%);
                    }

                    &:after {
                        left: 50%;
                        top: 50%;
                        width: 70%;
                        height: 2px;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    &__buttons {
        flex: 0 0 auto;

        &.arrow {
            &__left {

            }

            &__right {

            }
        }
    }
}
