._modal__view__close {
	margin-bottom: 20px !important;
}

.pop-portfolio {
	&__list {
		position: relative;
		margin-bottom: 20px;

		.arrow-left,
		.arrow-right {
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;

			//padding: 0 50px;
		}

		.arrow-left {
			left: -190px;
			padding-left: 0;
		}

		.arrow-right {
			right: -190px;
			padding-right: 0;
		}
	}

	&__list__slider {
		width: 800px;
		height: 532px;

		.selected-box {
			background-color: rgba(0, 0, 0, .7);
			color: #fff;
			position: absolute;
			padding: 10px 60px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;
			display: flex;
			align-items: center;
			z-index: 1;

			.check-box {
				position: relative;
				display: flex;
				justify-content: center;
				width: 7px;
				height: 9px;
				border: solid #f7b500;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				margin-right: 5px;
				top: -1px;
			}
		}
	}

	&__item {
		//width: inherit;
		//height: inherit;
		overflow: hidden;
	}

	&__info {
		text-align: center;
	}

	&__info-artist {
		margin-bottom: 20px;
		.nick_name {
			font-size: 27px;
			letter-spacing: normal;
			text-align: center;
			color: #fff;
			margin-bottom: 5px;
		}

		.author {
			font-size: 14px;
			letter-spacing: normal;
			color: #d8d8d8;
		}
	}

	&__info-button {
		button {
			height: auto;
			padding: 18px 0;
			width: 300px;
			font-size: 18px;
			font-weight: bold;
			color: #fff;
			background-color: #f7b500;
			border-color: #f7b500;
		}

		.is_select {
			background-color: #aaa !important;
			border-color: #aaa !important;
		}
	}
}