@import "desktop/resources/scss/mixins";

.product_list__category-reviews {
	//padding-top: 30px;
	padding-bottom: 80px;
}

.category-reviews {
	&__head {

	}

	&__head__text {
		display: flex;
		align-items: center;
		padding-bottom: 12px;
		border-bottom: 2px solid #000;

		.title {
			margin-right: 15px;
		}

		.desc {
			font-size: 16px;
			color: #666;
		}
	}

	&__head__arrow {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		margin-right: 25px;

		.arrows {
			display: flex;
			float: right;
			text-align: center;
		}

		.arrows-left {
			border-right: none !important;
		}

		.arrows-left,
		.arrows-right {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 30px;
			cursor: pointer;
			border: 1px solid #cdcdcd;

			&:hover {
				background-color: #000;
				border-color: #000;
			}
		}

		.arrow-box {
			height: 30px;
			width: 30px;
			border: 1px solid #cdcdcd;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}

		.left_arrow-box {
			border-right: none;
		}
	}

	&__content {
		&__row {
			display: flex;
			align-items: center;
			padding: 25px 0;
			border-bottom: 1px solid #dedede;
		}

		&__row.has_image {
			padding: 20px 0 !important;

			.category-reviews__content__row__comment {
				flex: 0 0 60% !important;
			}
		}

		&__row__content {

		}

		&__row__comment {
			flex: 0 0 80%;
			font-size: 14px;
			line-height: 1.57;
			//padding-right: 25px;
			word-break: break-all;

			&.h {
				margin-right: 15px;
			}
		}

		&__row__img {
			flex: 0 0 auto;
			margin-right: 60px;
			.review_image {
				margin: 0 auto;
				width: 160px;
				height: 110px;
			}
		}

		&__row__rate {
			flex: 0 0 20%;

			.score {
				display: flex;
				align-items: center;
			}

			.score .customer {
				color: #666;
				font-size: 14px;
				width: 95px;

				@include ellipsis();

				&:after {
					content: "|";
					margin-left: 5px;
				}
				margin-right: 8px;
			}
		}
	}
}