$border-color: #dedede;
@import "shared/components/estimate/style/style_mobile.scss";

.product_list_mo {
	background-color: #fff;
	.product__dist {
		padding-top: 30px;
	}

	.product__hr {
		border-bottom: 1px solid $border-color;
	}

	.section__padding {
		padding-right: 15px;
		padding-left: 15px;
	}

	.gray-background-color {
		background-color: #f8f8f8;
	}

	.consult__bar {
		padding-bottom: 35px;

		.list__row__title {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			color: #000000;
			margin-bottom: 10px;
		}
	}

	.section-title {
		font-size: 1.286em;
		font-weight: bold;
		font-family: "Noto Sans KR", "Spoqa Han Sans", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
		color: #000;
		text-align: center;
	}

	.pop-recommend-artist__last_phase {

	}

	.product__example__review {
		padding: 36px 0;

		.example__review {
			margin-top: 20px;
		}

		.section-title {
			font-size: 1.429em;
			line-height: normal;
		}
	}
}