.progress-page {
	.progress-breadcrumb {
		text-align: center;
	}
	.reserveNull {
		margin-top: 100px;
		&__text {
			text-align: center;
			.null-title {
				letter-spacing: -1.8px;
				margin-bottom: 15px;
			}
		}
		&__image {
			text-align: center;
			margin-top: 60px;
			//margin-bottom: 200px;
		}
	}

	.progress-title {
		padding: 50px 0;
		text-align: center;

		> h3:after {
			content: attr(data-count);
			color: #ffba00;
			margin-left: 7px;
		}

		:nth-child(2) {
			margin-top: 15px;
		}
	}

	// 사진 나열
	.photo-page {
		.pinkText {
			color: #ff326c;
		}
		.viewer {
			position: fixed;
			display: inline-block;
			width: 100%;
			height: 100%;
			z-index: 2000;
			left: 0;
			top: 0;
			&.show {
				visibility: visible;
			}
			&.hide {
				visibility: hidden;
			}
		}
		.photo-container {
			width: 970px;
			margin-left: 40px;
		}
		.photoList {
			&__custom {
				height: 185px;
				overflow-y: auto;
			}
			&__origin {
				height: 465px;
				overflow-y: auto;
				&.select {
					.photo-list {
						> li {
							cursor: pointer;
						}
					}
				}
			}
			.photo-list {
				height: inherit;
				text-align: left;
				overflow: auto;

				> li {
					position: relative;
					display: inline-block;
					width: 90px;
					height: 90px;
					margin-right: 5px;
					border-radius: 12px;
					overflow: hidden;

					&:nth-child(10n) {
						margin-right: 0;
					}

					> img {
						width: 100%;
					}
				}
			}

			&__select {
				margin: 0 17%;
				.photo-slide {
					margin-top: 10px;
				}
			}
		}
		.choice {
			margin-top: 50px;
			text-align: center;
			.due_date {
				font-size: 0.9rem;
				color: #969696;
				padding-top: 5px;
			}
			&__button {
				margin-bottom: 15px;
				& > :first-child, :nth-child(2) {
					margin-right: 10px;
				}
			}
		}
	}

	.process__breadcrumb {
		.list {
			text-align: center;
		}

		.item {
			display: inline-block;
			width: 112px;
			cursor: pointer;

			&.active,
			&:hover {
				.title {
					color: #000;

					&:after {
						color: #fff;
						background-color: #ff326c;
					}
				}
			}

			.title {
				margin-top: 12px;
				color: #848484;
				font-size: 0.813em;
				font-weight: bold;
				letter-spacing: -0.5px;

				&:after {
					content: attr(data-count);
					display: inline-block;
					width: 30px;
					height: 30px;
					margin-left: 5px;
					background-color: #e1e1e1;
					border-radius: 100%;
					color: #838383;
					text-align: center;
					font-size: 0.875em;
					letter-spacing: -0.6px;
					line-height: 30px;
				}
			}
		}
	}

	.process__title {
		padding: 60px;
		text-align: center;

		.title {
			font-size: 1.875em;
			font-weight: bold;
			line-height: 1.35;

			&:after {
				content: attr(data-count);
				color: #ffba00;
				margin-left: 7px;
			}
		}

		.description {
			color: #969696;
			font-size: 0.938em;
			margin-top: 10px;
		}
	}

	.process__list {
		a,
		a:active,
		a:hover,
		a:link,
		a:visited,
		a[role="button"]{
			color: #000;
			cursor: pointer;
		}

		table {
			th {
				font-size: 0.938em;
			}

			td {
				font-size: 0.813em;
				word-wrap: break-word;
				word-break: break-word;

				&.no {
					._button {
						margin-top: 22px;

						&:nth-child(n+2) {
							margin-top: 10px;
						}
					}
				}

				&.price {
					font-size: 0.938em;
					font-weight: bold;
				}

				&.status {
					._button {
						margin-top: 15px;

						&.reserve__cancel {
							width: auto;
							height: 20px;
							padding: 0 0.625em;
							font-size: 0.75em;
						}
					}
				}

				._button {
					width: 100px;
					height: auto;
					padding: 0.667em;
					font-size: 0.923em;
				}

				.bank_name,
				.bank_num {
					font-size: 0.8em;
					font-weight: normal;
				}

				.due_date {
					margin-top: 10px;
					font-size: 0.8em;
					font-weight: normal;

					span {
						color: #fe306a;
					}
				}

				.dots {
					line-height: 25px;
				}

				.receipt {
					margin-top: 10px;
				}
			}
		}

		.list__more {
			margin-top: 50px;

			._button {
				width: 100%;
				height: 50px;
			}
		}
	}

	.process__product__info {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: left;

		.info__profile {
			flex: 0 0 80px;
			height: 80px;
			margin-right: 15px;
			border-radius: 100%;
			overflow: hidden;
		}

		.info__content {
			flex: 1 1 auto;

			.title {
				font-size: 1.154em;
				font-weight: bold;
			}

			.description {
				margin-top: 8px;
				color: #999;

				.date {
					._button {
						width: auto;
						height: 20px;
						margin-left: 8px;
						padding: 0 0.625em;
						font-size: 0.75em;
					}
				}
			}

			.buttons {
				margin-top: 13px;

				&.dashed {
					padding-top: 13px;
					border-top: 1px dashed #e2e2e2;
				}

				> :nth-child(n+2) {
					margin-left: 5px;
				}

				._button {
					width: 100px;
				}
			}
		}
	}

	.show {
		display: block;
	}
	.hide {
		display: none;
	}
}

.reserve-cancel,
.reserve-cancel-vbank {
	.refund-info-message {
		margin-bottom: 15px;
		//text-align: left;
		padding: 10px;
		background-color: #f1f1f1;
		color: #969696;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: -0.8px;
		border-radius: 10px;
		word-break: keep-all;
	}
	.cancel-msg {
		margin-bottom: 25px;
		font-size: 22px;
	}
}

.reserve-cancel {
	.cancel-btn {
		margin-top: 15px;
	}
}

.reserve-cancel-vbank {
	width: 460px;
	.cancel-btn {
		margin: 25px 0 25px 0;
	}

	.fors-dropdown-desktop {
		margin-bottom: 20px;
	}

	.input {
		margin-bottom: 20px;
	}

	.vbank-account {
		& :nth-child(1) {
			float: left;
		}

		& :nth-child(2) {
			float: right;
		}

		.input {
			text-align: center;
			border: none;
			border-bottom: 2px solid #000;
			letter-spacing: 6px;
			box-shadow: none;
			margin-bottom: 10px;
		}

		&-alert {
			display: inline-flex;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: -0.7px;
			color: #969696;
			align-items: baseline;
			.exclamation {
				color: #ff326c;
				border-radius: 100%;
				border: 1px solid #ff326c;
				width: 15px;
				height: 15px;
				font-size: 10px;
				margin-right: 5px;
			}
		}
	}

	.info-prepare {
		background-color: #f1f1f1;
		border-radius: 10px;
		text-align: left;
		padding: 20px;

		.title {
			font-size: 13px;
			font-weight: 500;
			letter-spacing: -0.7px;
			padding-bottom: 10px;
		}
		.description {
			font-size: 12px;
			font-weight: 300;
			line-height: 1.58;
			letter-spacing: -0.6px;
			color: #969696;
		}
	}
}

.download-pop {
	width: 540px;
	max-height: 430px;
	&__title {
		font-size: 22.3px;
	}
	&__caption {
		font-size: 12px;
		color: #969696;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 20px;
	}

	.wrap-download {
		height: 370px;
		overflow: auto;

		.download-buttons {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 70px;
			border-bottom: 1px solid #e1e1e1;
			.download-file-name {
				display: flex;
				justify-content: left;
				flex: 1;
			}
		}
	}

	//.wrap-download {
	//  overflow: hidden;
	//  position: relative;
	//  height: inherit;
	//  > div {
	//    position: absolute;
	//    width: 557px;
	//    overflow: auto;
	//    left: 0;
	//    height: 375px;
	//    .download-buttons {
	//      display: flex;
	//      flex-direction: row;
	//      align-items: center;
	//      height: 70px;
	//      border-bottom: 1px solid #e1e1e1;
	//
	//      .download-file-name {
	//        display: flex;
	//        justify-content: left;
	//        flex: 1;
	//      }
	//    }
	//  }
	//}
}

.modal__users__modify__date {
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	text-align: center;

	.modify__date__agree {
		margin-top: 30px;

		.check__icon {
			border-radius: 100%;
			margin-right: 5px;
		}
	}

	.modify__date__buttons {
		margin-top: 30px;

		._button {
			border-radius: 34px;
		}

		> :nth-child(n+2) {
			margin-left: 25px;
		}
	}
}
