.biz-widescreen {
	padding: 105px 0;
	background: url('#{$IMG_SERVER}/biz/top_visual/20190116/main-bg.jpg')  center center / cover no-repeat;

	&__container {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.test-banner-container {
		display: flex;
		flex: 1 1 auto;
		justify-content: center;
		padding-top: 30px;
		text-align: center;
	}

	&__box {
		padding-top: 30px;
		display: flex;
		flex: 1 1 auto;
		flex-direction: row;
		justify-content: center;
	}

	&__item {
		position: relative;
		width: 182px;
		//height: 300px;
		cursor: pointer;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		overflow: hidden;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

		&:nth-child(n + 2) {
			margin-left: 30px;
		}

		&-image {
			position: relative;
			border-top-right-radius: 8px;
			height: 166px;
			overflow: hidden;
			.image-wrap {
				display: none;
			}
		}

		&.on {
			.biz-widescreen__item-info__check-btn {
				color: #f5a623;
			}
			.image-wrap {
				display: flex;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.6);
				z-index: 1;
				align-items: center;
				justify-content: center;
				flex: 1 1 auto;
			}
		}

		&-info {
			position: relative;
			height: 100px;
			padding: 15px;
			text-align: center;
			background-color: #fff;
		}

		&-info__title {
			font-size: 15px;
			word-break: keep-all;
		}

		&-info__check-btn {
			position: absolute;
			bottom: 15px;
			font-size: 12px;
			left: 50%;
			color: #777;
			transform: translateX(-50%);

			> i {
				margin-left: 3px;
				transform: translateY(-1px);
			}
		}

		&-artist {
			position: absolute;
			bottom: 10px;
			text-align: center;
			font-size: 12px;
			color: #000;
			width: 100%;
		}
	}
}