.personal-banner-component {
	position: relative;
	.personal-banner {
		position: relative;

		&__title {
			> span {
				font-size: 26px !important;
				font-weight: normal !important;
				line-height: 1.8;
			}

			font-size: 40px;
			font-weight: bold;
			color: #fff;
			text-align: center;
		}

		&__bgImage {
			height: 475px;
			position: relative;
		}

		&__inner-content {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			.container {
				height: inherit;
			}

			.chat-button {
				font-size: 20px;
				color: #fff;
				margin-top: 35px;
				width: 240px;
				height: 65px;
				border-radius: 6px;
				background-color: #f5a623;
				box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.35);
			}

			.flex-box {
				position: relative;
				height: inherit;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 1rem;
				flex: 1 1 auto;
			}
		}

		&__info-box {
			width: 1030px;
			height: 140px;
			display: flex;
			flex-direction: row;
			flex: 0 1 auto;
			//flex-flow: row wrap;
			background-color: #fff;
			padding: 40px 0;
			margin-top: 35px;
			position: relative;

			.nick_name {
				position: absolute;
				right: 0;
				top: -20px;
				color: rgba(255, 255, 255, 0.7);
				font-size: 14px;
			}
		}

		&__info-box-item {
			flex: 0 1 calc(100% / 3);
			padding: 0 40px;
			border-left: 1px solid #dedede;
			display: flex;
			flex-direction: row;
			align-items: center;

			&:first-child {
				border-left: none;
			}

			.icon-side {
				margin-right: 20px;
			}

			.text-side {
				width: calc(100% - 40px);
				&__title {
					font-size: 18px;
					font-weight: bold;
					margin-bottom: 10px;
				}

				&__desc {
					font-size: 14px;
					font-weight: normal;
					color: #666;
					width: 100%;
					word-break: keep-all;
				}
			}
		}
	}

	.banner-button {
		color: #fff;
		width: 160px;
		height: 60px;
		position: absolute;
		right: 100px;
		top: 50%;
		transform: translateY(-50%);
	}

	.close-button {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 20px;
		right: 0;
		cursor: pointer
	}

	.p-button {
		color: #fff;
		font-size: 1rem;
		cursor: pointer;
		text-align: center;
		box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.35);
	}
	.p-button__round {
		border-radius: 6px;
	}
}