.is_login_alert.web {
	.is_login_alert__heading {
		margin-bottom: 30px;
		> p {
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			letter-spacing: -1px;
			text-align: center;
		}
	}
	.is_login_alert__describe {
		margin-bottom: 30px;
		> p {
			font-size: 14.5px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.55;
			letter-spacing: -0.7px;
			text-align: center;
			color: #969696;
		}
	}

	.is_login_alert__buttons {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
		> button {
			width: 200px;
			border: 1px solid #000;
			height: 60px;
			border-radius: 35px;
			cursor: pointer;
		}

		&-ok {
			margin-right: 10px;
		}
	}
}

.is_login_alert.mobile {
	width: 100%;
	.is_login_alert__heading {
		margin-bottom: 15px;
		> p {
			font-size: 1.2rem;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			letter-spacing: -1px;
			text-align: center;
		}
	}
	.is_login_alert__describe {
		margin-bottom: 15px;
		width: 100%;
		height: auto;
		> p {
			font-size: 0.9rem;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.55;
			letter-spacing: -0.7px;
			text-align: center;
			color: #969696;
		}
	}

	.is_login_alert__buttons {
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
		> button {
			width: 50%;
			border: 1px solid #000;
			height: 40px;
			border-radius: 25px;
			cursor: pointer;
		}

		&-ok {
			margin-right: 5px;
		}
	}
}