.event-recommend-product {
	padding: 35px 0;
}
.event-recommend-product__heading {
	text-align: center;
	&-title {
		font-weight: normal;
		letter-spacing: -1.5px;
	}

	&-description {
		font-size: 61px;
		letter-spacing: -4.3px;
	}
}

.event-recommend-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1 1 auto;
	margin-top: 35px;

	a {
		&:active,
		&:hover,
		&:visited,
		&:link {
			color: #000;
		}
	}

	.event-recommend-unit {
		width: 250px;
		height: 345px;
	}
	.unit-box {
		width: inherit;
		height: inherit;
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
		border: 1px solid #e1e1e1;
		background-color: #ffffff;

		&-imageSide {
			height: 250px;
		}

		&-contentSide {
			height: 95px;
			padding: 10px;
			position: relative;

			.title {
				font-size: 19px;
				word-wrap: break-word;
				word-break: keep-all;
			}
			.price {
				font-size: 14.5px;
				position: absolute;
				right: 10px;
				bottom: 10px;
			}
		}
	}
}

