$comment-padding: 20px;

.comment__item {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: $comment-padding 0;

    &:nth-child(n+2) {
        border-top: 1px solid #e1e1e1;
    }

    &:last-child {
        border-bottom: 1px solid #e1e1e1;
    }

    &__profile {
        flex: 0 0 75px;
        width: 75px;
        height: 75px;
        border-radius: 100%;
        overflow: hidden;
    }

    &__info {
        flex: 1 1 100%;
        padding: 0 $comment-padding;

        > .name {
            font-size: 1.25em;
            letter-spacing: -1px;
        }

        > .content {
            font-size: 0.938em;
            font-weight: 300;
            line-height: 1.86;
            letter-spacing: -0.75px;
            margin-top: 15px;
        }

        > .date {
            font-size: 0.75em;
            font-weight: 300;
            letter-spacing: normal;
            color: #969696;
            margin-top: 14px;
        }
    }
}
