.board__notice {
    &__list {
        &.studio__notice {
            .list__item {
                &__title {
                    align-items: center;

                    &.studio__detail {
                        > .title {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            flex: 0 0 120px;
                            background-color: #f1f1f1;
                            font-size: 0.906em;
                            font-weight: 500;
                            border-right: 1px solid #e1e1e1;
                        }

                        > .phone {
                            flex: 1 1 auto;
                            font-size: 0.906em;
                            text-align: left;
                        }

                        > .caption {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-end;
                            flex: 1 1 auto;
                            color: #969696;
                            font-size: 0.750em;
                            text-align: right;
                        }
                    }
                }

                .studio__attach {
                    display: flex;
                    flex-direction: row;

                    > .title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex: 0 0 120px;
                        background-color: #f1f1f1;
                        font-size: 0.906em;
                        font-weight: 500;
                        border-right: 1px solid #e1e1e1;
                    }

                    > .attach {
                        flex: 1 1 auto;
                        text-align: left;
                        padding: 18px 15px;
                        font-size: 0.906em;

                        > :nth-child(n+2) {
                            margin-top: 10px;
                        }

                        a {
                            text-decoration: underline;

                            &:link,
                            &:visited,
                            &:active {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    .studio__comment {
        &__more {
            margin-top: 20px;
        }
    }
}