$full-calendar-dayweek-height: 30px;

$full-calendar-bg-color: #fff;
$full-calendar-tool-bg-color: #fafafa;
$full-calendar-dayweek-bg-color: #f1f1f1;
$full-calendar-inquiry-bg: #00acf0;
$full-calendar-impossible-bg: #565656;

$full-calendar-border-color: #e1e1e1;
$full-calendar-today-color: #fff1cc;
$full-calendar-holiyday-color: #ff326c;
$full-calendar-nonmonth-color: #cbcbcb;
$full-calendar-inquiry-color: #fff;
$full-calendar-impossible-color: #fff;

$full-calendar-border: 1px solid $full-calendar-border-color;

.full__calendar {
  width: 100%;
  height: 100%;
  background-color: $full-calendar-bg-color;
  overflow: hidden;
  user-select: none;

  ::-moz-selection,
  ::selection {
    background: transparent;
  }

  table {
    width: 100%;
    table-layout: fixed;

    th, td {
      font-size: 14.6px;
      letter-spacing: -0.7px;
      color: #000;
      padding: 0;
      vertical-align: middle;

      &.holiyday {
        color: $full-calendar-holiyday-color;
      }
    }
  }

  &__schedule__info {
    position: relative;
    width: 470px;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.6px;

    .schedule__info__head {
      display: table;
      width: 100%;
      padding: 10px 16px;
      border-bottom: 1px solid #e1e1e1;

      .schedule__info__head__title {
        position: relative;
        display: table-cell;
        width: 270px;
        vertical-align: middle;
        padding-left: 24px;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 19px;
          height: 19px;
          border-radius: 100%;
          background-color: #000;
        }

        &.inquiry {
          &:before {
            background-color: $full-calendar-inquiry-bg;
          }
        }

        &.impossible {
          &:before {
            background-color: $full-calendar-impossible-bg;
          }
        }
      }

      .schedule__info__head__buttons {
        float: right;
      }
    }

    .schedule__info__body {
      padding: 16px;

      .info__body__line {
        position: relative;
        padding-left: 77px;

        > span {
          position: absolute;
          left: 0;
          top: 0;
          width: 60px;
          color: #969696;
        }

        > p {
          word-break: break-all;
        }

        &:nth-child(n+2) {
          margin-top: 17px;
        }
      }
    }
  }

  // 캘린더 도구
  &__tool {
    width: 100%;
    padding: 10px 20px;
    background-color: $full-calendar-tool-bg-color;
    border-bottom: $full-calendar-border;

    .full__calendar_current_date {
      font-size: 15.9px;
      font-weight: bold;
      vertical-align: middle;
      margin-right: 15px;
    }
  }

  // 캘린터
  &__container {
    position: relative;

    // 캘린더 월 라인
    .full__calendar__month {
      position: relative;
      height: 100%;
      white-space: nowrap;

      // 요일 라인
      .full__calendar__dayweek {
        background-color: $full-calendar-dayweek-bg-color;
        font-size: 13px;
        font-weight: bold;
        text-align: left;

        tr {
          height: $full-calendar-dayweek-height;
        }

        td {
          padding: 0 10px;
        }
      }

      // 캘린더 월 라인
      .full__calendar__weeks {
        position: absolute;
        top: $full-calendar-dayweek-height;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;

        // 캘린더 주 라인
        .full__calendar__week {
          position: absolute;
          width: 100%;
          overflow: hidden;

          tr {
          }

          td {
          }

          // 캘린터 틀
          .full__calendar__box {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            table-layout: fixed;

            tr {
              border-top: $full-calendar-border;
            }

            td {
              border-right: $full-calendar-border;

              &:last-child {
                border-right: none;
              }

              &.fc__td {
                background-color: $full-calendar-today-color;
              }
            }
          }

          // 캘린더 이벤트 틀
          .full__calendar__event {
            position: relative;
            width: 100%;
            table-layout: fixed;

            tr {

            }

            td {
              &.fc__evt {
                cursor: pointer;
                
                .fc__evt__ct {
                  padding: 2px 2px 0;

                  .fc__ct {
                    margin-right: 13px;

                    &.fc__m {
                      margin-right: 0;
                      border-radius: 5px;

                      .fc__p {
                        display: none;
                      }
                    }

                    //&.fc__end {
                    //  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%,rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
                    //  background-size: 0.5rem 0.5rem;
                    //}
                  }
                }

                .popdown-container {
                  width: 100%;
                }
              }

              &.fc__dt {
                padding: 10px 10px 0;

                &.fc__ex {
                  color: $full-calendar-nonmonth-color;
                }

                &.fc__hd {
                  color: $full-calendar-holiyday-color;
                }
              }

              .fc__ct {
                position: relative;
                height: 22px;
                padding: 2px 8px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

                &.inquiry {
                  background-color: $full-calendar-inquiry-bg;
                  color: $full-calendar-inquiry-color;

                  .fc__p {
                    border-color: transparent $full-calendar-inquiry-bg;
                  }
                }

                &.impossible {
                  background-color: $full-calendar-impossible-bg;
                  color: $full-calendar-impossible-color;

                  .fc__p {
                    border-color: transparent $full-calendar-impossible-bg;
                  }
                }

                .fc__t {
                  display: table;
                  width: 100%;
                  height: 100%;
                  font-size: 12px;
                  font-weight: 500;
                  letter-spacing: -0.6px;
                  overflow: hidden;
                  > span {
                    display: table-cell;
                    vertical-align: middle;
                    line-height: 0;
                  }
                }

                .fc__p {
                  position: absolute;
                  top:0;
                  right: -13px;
                  height: 100%;
                  border-width: 11px 0 11px 13px;
                  border-style: solid;
                }
              }
            }
          }
        }
      }
    }
  }
}