.about-artist-rightside_review {
	padding-bottom: 50px;
	> .title {
		font-size: 1.019em;
		font-weight: bold;
		letter-spacing: -0.9px;
		margin-bottom: 15px;
	}

	.about-artist-review-list_none {
		text-align: center;
		padding: 30px;
		.text {
			font-size: 20px;
			margin-bottom: 20px;
			font-weight: bold;
			color: #969696;
		}
		.image-wrap {
			width: 300px;
			height: 100%;
			display: inline-block;
		}
	}
}
