.charge-artist__pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	.pagination-button {
		cursor: pointer;

		&.active {
			> p {
				color: #000;
				border-bottom: 2px solid #000;
			}
		}

		&:hover {
			> p {
				color: #000;
				border-bottom: 2px solid #000;
			}
		}

		&:nth-child(n + 2) {
			margin-left: 20px;
		}
		> p {
			font-size: 12px;
			height: 18px;
			font-weight: bold;
			line-height: normal;
			letter-spacing: normal;
			color: #999;
		}
	}

	.next-button,
	.prev-button {
		cursor: pointer;
	}

	.pagination-button__box {
		display: flex;
		align-items: center;
		justify-content: center;

		margin: 0 30px;
	}
}