.addition__receipt {
    padding: 20px 10px;

    &__choose {

        &.disabled {
            opacity: 0.35;
        }

        .fors-dropdown {
            .fors-select-view {
                border-radius: 5px;
            }

            .fors-select-box {
                border-radius: 5px;

                .btn-name {
                    font-size: 0.806em !important;
                }
            }
        }

        .fors-dropdown-desktop {
            width: 100%;

            .fors-select {
                border-radius: 5px;
                font-size: 0.806em;
            }

            .fors-select-box {
                border-radius: 5px;

                .btn-name {
                    font-size: 0.806em !important;
                }
            }
        }
    }
}