.customer_consulting-desktop {
	.modal-content {
		width: 600px;
	}
}
.event-quick-menu {
	height: 250px;
	position: fixed;
	//right: 30px;
	//right: -75px;
	bottom: 90px;

	.quick-menu {
		cursor: pointer;
		width: 77px;
		height: 77px;
		&:nth-child(n + 2) {
			margin-top: 10px;
		}

		&__top {
			visibility: hidden;
		}
	}

	.button-wrap {
		width: 77px;
		height: 77px;
	}
}