$box_border: 1px solid #d8d8d8;

.dropdown__container {
    position: relative;
    width: 100%;
    height: 34px;
    font-size: 1em;
    line-height: 1;

    &.show {
        .dropdown__select {
            border-color: #666;
        }

        .dropdown__list {
            max-height: 170px;
            border-color: #666;
            opacity: 1;
        }
    };

    .dropdown__select {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 0.85em;
        background-color: #fff;
        border: $box_border;
        overflow: hidden;

        &.border-black {
            border-color: #000;
        }

        &.disabled {
            color: #666;
            background-color: #efefef;
        }

        > :first-child {
            flex: 1 1 auto;
        }

        > .icon {
            flex: 0 0 auto;
            margin-left: 0.85em;
        }
    }

    .dropdown__list {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0;
        margin-top: 5px;
        overflow: auto;
        background-color: #fff;
        opacity: 0;
        border: $box_border;
        z-index: 1;
        transition: all 0.4s;
    }

    .dropdown__item {
        width: 100%;
        padding: 0.45em 0.85em;
        color: #666;

        .required {
            color: #d0021b;
        }

        &:hover {
            color: #000;
            background-color: #f1f1f1;
        }

        &.active {
            color: #ffba00;
        }
    }
}