@import "../scss/consult.var";

.pop-consulting-component {
	position: relative;
	//background-color: $consult_main_color;

	.consulting-heading {
		padding: $consult_default_padding;
		text-align: center;
		&__title {
			font-size: $consult_title;
			margin-bottom: 10px;
		}
		&__description {
			font-size: $consult_description;
		}
	}

	.consulting-content {
		&__item {
			border-top: $consult_article_border;
			border-bottom: $consult_article_border;
			//margin-bottom: 10px;
		}

		&.dm {
			border-left: $consult_article_border;
			border-right: $consult_article_border;
		}
	}

	.consulting-content__item {
		background-color: $consult_article_content_color;

		&-heading {
			background-color: $consult_article_heading_color;
			border-bottom: $consult_article_border;
			padding: $consult_default_padding;

			&__wrapper {
				display: flex;
				justify-content: space-between;
			}
		}
		&-content {
			//background-color: $consult_article_content_color;
			padding: $consult_default_padding;
		}
	}

	.consulting-content__item-heading {
		&__title {
			font-size: $consult_article_title;
			text-align: left;
		}
	}


	.consulting-join {
		padding: 0;
	}

	.consulting__agree-button {
		display: flex;
		align-items: center;
		> span {
			font-size: 0.9rem;
		}
		.icon__round {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #e1e1e1;
			border-radius: 3px;
			width: 20px;
			height: 20px;
			background-color: #fff;
			margin-right: 3px;

			&.show {
				background-color: #ffba00;
				border-color: #ffba00;
			}
		}
	}

	.consulting__agree-button .agree-button {
		display: inline-flex;
		align-items: center;
		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;
			width: 15px;
			height: 15px;
			vertical-align: middle;
			border-radius: 100%;
			background-color: #fff;
			border: 1px solid #e1e1e1;
			margin-right: 5px;
		}

		&.is-active {
			&::before {
				background-color: #ffba00;
				border-color: #ffba00;
			}
		}
	}

	.consulting-buttons-container {
		display: flex;

		.orders_btn__hover {
			height: 52px;
			width: 100%;
			position: absolute;
			top: 0;
			background-color: rgba(0, 0, 0, 0.3);
			left: 0;
			display: none;
		}

		.orders {
			position: relative;
			&:hover {
				.orders_btn__hover {
					display: block;
				}
			}
		}

		&.dm {
			width: 220px;
			margin: 0 auto;
		}
		.button__theme__gray {
			background-color: #f1f1f1;

			&:hover,&:active {
				color: #fff;
				background-color: #969696;
				border-color: #969696;
			}
		}
		.button__theme__yellow {
			background-color: #f5a623;
			color: #fff;
		}

		.button__theme__dm {
			background-color: transparent;
			border: 2px solid #000 !important;
			color: #000;

			&:hover,&:active {
				background-color: #000;
				color: #fff
			}
		}
		.consulting-button {
			flex: 1 1 auto;
			border: none;
			padding: $consult_default_padding;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
			text-align: center;
		}

		.button-round {
			border-radius: 0.4em;
		}
		.button-circle {
			border-radius: 1.5em;
		}
	}

	.yellow_text {
		color: $consult_text_yellow_color;
	}

	.gray_text {
		color: $consult_text_gray_color;
	}

	.red-text {
		color: red;
	}

	.description {
		color: $consult_text_gray_color;
		font-size: 0.8rem;
		word-break: keep-all;
		line-height: 1.33;
		text-align: center;
	}

	.exclamation {
		display: inline-block;
		color: $consult_text_yellow_color;
		width: 16px;
		height: 16px;
		border: 1px solid #ffba00;
		border-radius: 100%;
		background-color: transparent;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		margin-right: 5px;
		text-indent: -1px;
	}

	@media screen and (max-width: 600px) {
		.consulting-able-time {
			flex-direction: column;
			.button__check {
				.counsel_msg {
					padding: 0.2rem 1rem !important;
				}
			}
			.button__check:nth-child(n + 1) {
				margin-bottom: 10px;
			}
		}
	}

	.consulting-able-time {
		width: 100%;
		display: flex;
		flex: 1 1 auto;
		justify-content: space-around;

		.button__check {
			display: flex;
			flex-direction: row;
			color: #969696;
			align-items: center;
			cursor: pointer;

			.content-row {
				width: 100%;
			}

			> span {
				font-size: 0.76rem;
				width: 70px;
				text-align: left;
			}

			.counsel_msg {
				border: 1px solid #e1e1e1;
				border-radius: 20px;
				padding: 0.5rem 1rem;
				font-size: 0.9rem;
				width: 100%;
			}

			&.active {
				color: #000;

				.icon__circle {
					border-color: #ffba00;
					background-color: #ffba00;
				}
			}

			.icon__circle {
				display: flex;
				flex: 0 0 auto;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				border: 1px solid #e1e1e1;
				border-radius: 100%;
				background-color: #fff;
				text-align: center;
				margin-right: 7px;
			}
		}
	}
}