$payment_column__margin: 20px;
$payment_column__padding: 20px;

.payment__page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 1080px;
    margin: auto;
    padding: 30px;

    &__main {
        flex: 0 0 680px;
    }

    &__side {
        flex: 0 0 328px;
        margin-left: 24px;
    }

    .payment__summary {
        .summary__content {
            border: 1px solid #e5e5e5;
            border-bottom: 0;

            .summary__row {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin: 0 $payment_column__padding;
                padding: $payment_column__margin 0;

                &:nth-child(n+2) {
                    border-top: 1px solid #e5e5e5;
                }

                &.highlight {
                    color: #ff326c;
                }

                > .title {
                    flex: 0 0 30%;
                    margin-right: $payment_column__margin;
                }

                > .content {
                    flex: 1 1 70%;
                    text-align: right;
                }
            }
        }

        ._button {
            height: 69px;
            font-size: 1.250em;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}
