@import "desktop/resources/scss/variables";

%tag-a-base {
    color: #333;
    text-decoration: none;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    &:link,
    &:visited,
    &:active,
    &:hover {
        @extend %tag-a-base;
    }
}

#demo-root {
    width: 100%;
    height: 100%;
}

.demo-left {
    position: fixed;
    background-color: #ddd;
    width: 15%;
    height:100%;
    margin: 0;
    padding: 25px;
    list-style: none;
    z-index: map_get($z-index, "fixed");
}

.demo-container {
    width: 85%;
    height:100%;
    float: right;

    .demo-content {
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        padding: 30px;

        section {
            margin-bottom: 35px;

            h4 {
                font-size: 1.5em;
                margin-bottom: 15px;
            }

            > div {
                margin: 10px 0;
            }
        }
    }
}

