.about-artist-review-item {
	padding: 20px 0;
	border-bottom: 1px solid #e1e1e1;
	.about-artist-artist_review {
		padding-left: 95px;
		.artist {
			padding-top: 30px;
			width: 80%;
		}
		.artist .name {
			color: #ffba00;
			font-size: 19.8px;
			letter-spacing: -1px;
			padding-bottom: 15px;
		}

		.artist .comment {
			font-size: 15px;
			font-weight: 300;
			letter-spacing: -0.8px;
			padding-bottom: 15px;
		}

		.artist .reg_dt {
			font-size: 12px;
			font-weight: 300;
			color: #969696;
		}
	}
	.about-artist-user_review {
		.review-img-swiper {
			//width: 680px;
			height: 385px;
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 20px;

			.navigation {
				position: absolute;
				//padding: 0 15px;
				transform: translateY(-50%);
				top: 50%;
				z-index: 1;
				width: 100%;

				.left-navigation {
					float: left;
					//padding: 20px;
					padding: 100px 20px;
					display: inline-block;
					cursor: pointer;
				}

				.right-navigation {
					float: right;
					//padding: 20px;
					padding: 100px 20px;
					display: inline-block;
					cursor: pointer;
				}

				.left-navigation,
				.right-navigation {
					&.hide {
						display: none;
					}
				}
			}
		}

		.review-img-swiper .count-wrap {
			width: 4.5rem;
			height: 1.8rem;
			font-size: 1rem;
			border-radius: 1rem;
			position: absolute;
			left: 50%;
			bottom: 1rem;
			z-index: 2;
			color: white;
			-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
			background-color: rgba(0, 0, 0, .5);
			text-align: center;
			line-height: 1.8rem;
			.current-count {
			}
			.total-count {
				&::before {
					content: "/";
					margin: 0 3px;
				}
			}
		}
	}

	.about-artist-user_review .user {
		display: flex;
		.user-profile {
			justify-content: flex-start;
			padding-right: 20px;
		}

		.user-content {
			word-break: break-all;
			width: 65%;
			.name {
				font-size: 19.8px;
				letter-spacing: -1px;
				padding-bottom: 15px;
			}
			.comment {
				font-size: 15px;
				font-weight: 300;
				line-height: 1.87;
				letter-spacing: -0.8px;
				padding-bottom: 15px;
				word-break: break-word;
			}

			.reg_dt {
				font-size: 12px;
				font-weight: 300;
				color: #969696;
			}
		}
	}
}