.event-recommend-header {
	height: 70px;
	background-color: #000;

	.category-list {
		color: #fff;
		display: flex;
		flex: 1 1 auto;

		.category-unit {
			cursor: pointer;
			height: 70px;
			//width: calc(100% / 9);
			display: flex;
			justify-content: center;
			align-items: center;

			&.active {
				color: #ffe429;
				border-bottom: 4px solid #ffe429;
			}

			> span {
				font-size: 1rem;
			}
		}
	}
}
