@import '../variables';

html {
    box-sizing: border-box;
    font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    width: 100%;
    font-family: $site-font-family;
    font-size: $site-font-size;
}

body {
    color: $site-color;
    line-height: $site-line-height;
    letter-spacing: $site-letter-spacing;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration:none;
    outline:none;
}

input,
textarea,
button,
a {
    font-family: inherit;
    outline: 0;
}

input,
textarea {
    &:-ms-input-placeholder { color: #969696; } // Internet Explorer 10 이상에 적용
    &::-webkit-input-placeholder { color: #969696; } //  Webkit, Blink, Edge에 적용
    &::-moz-placeholder { color: #969696; } // Mozilla Firefox 4 부터 18에 적용
    &::-moz-placeholder { color: #969696; } // Mozilla Firefox 19 이상에 적용
}

#_modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
}
