.product_display_bars_container {
	//height: 145px;
	display: inline-block;
	width: 100%;
	> div {
		display: flex;
		flex-direction: column;
		height: inherit;
		margin-bottom: 10px;
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		background-color: #fff;

		.title-style {
			font-size: 1.2rem;
			color: #000;
		}

		.description-style {
			font-size: 0.8rem;
			color: #acacac;
		}
	}
	.product_display_bars-info-area {
		display: flex;
		flex: 1 1 auto;
		flex-direction: row;
		border-bottom: 1px solid #e1e1e1;
		&-left {
			display: flex;
			height: 115px;
			flex-wrap: wrap;
			flex-direction: row;
			flex: 1 1 auto;
		}
		&-left__thumb {
			width: 115px;
			position: relative;
			&_more {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 30px;
				height: 30px;
				background-color: rgba(0, 0, 0, 0.5);
			}
		}

		&-left__info {
			flex: 1 0 50%;
			padding: 0.5rem;
			min-width: 0;
			position: relative;

			&-title {
				font-size: 1.1rem !important;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&-price {
				font-weight: bold;
			}

			&-nick_name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&-heart {
				display: flex;
				flex-direction: row;
				position: absolute;
				bottom: 10px;
				align-items: center;

				> span {
					margin: 0 5px;
				}
			}
		}

		&-right {
			display: flex;
			flex: 0 0 auto;
			padding: 0.5rem;
			align-items: flex-end;
			height: 115px;

			.select-like-box {
				width: 30px;
				height: 30px;
				border: 1px solid #e1e1e1;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.product_display_bars-tags-area {
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		padding: 0.5rem;

		&-tags {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			> :nth-child(n+2) {
				margin-left: 5px;
			}
		}
	}
}