// products - Item
.products {
    &__item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-bottom: 1px solid #e1e1e1;
        box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.2);
        text-align: left;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #000;
        }

        &__thumb {
        }

        &__info {
            display: flex;
            flex-direction: column;
            padding: 1.563em 1.250em;

            > div {
                display: flex;
                flex-direction: row;

                &:nth-child(n+2) {
                    padding-top: 0.688em;
                }
            }
        }

        .item {
            &__heart {
                flex: 0 0 auto;
            }
            &__price {
                flex: 1 1 auto;;
                text-align: right;
                font-size: 1.6rem;
                font-weight: bold;
                letter-spacing: -0.5px;

                .won {
                    font-size: 95%;
                    font-weight: normal;
                }
            }
            &__title {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                font-size: 1.5rem;
                font-weight: 500;
                overflow: hidden;
                margin-right: 20px;

                > p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;
                }

                .product__title {
                    flex: 0 0 auto;
                    overflow: hidden;
                }

                .artist__name {
                    flex: 0 0 auto;
                    color: #8b8b8e;
                    font-size: 1rem;
                    font-weight: normal;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-top: 5px;
                    line-height: 23px;
                }

                .badge__corp {
                    flex: 1 1 auto;
                    margin-right: 7px;
                    padding: 2px 5px;
                    font-size: 75%;
                    color: #969696;
                    background-color: #ececec;
                    border: 1px solid #e1e1e1;
                }
            }
            &__favorite {
                flex: 0 0 52px;
                height: 52px;
                border-radius: 100%;
                overflow: hidden;
                z-index: 1;
            }
        }
    }
}