.m-about-artist-review-item {
	.review-unit {
		border-bottom: 1px solid #e1e1e1;
		padding: 1rem 0;
		//padding: 1rem;
	}
	.about-artist-user_review {
		.review-img-swiper {
			margin-bottom: 10px;
			position: relative;

			.count-wrap {
				width: 4.5rem;
				height: 1.8rem;
				font-size: 1rem;
				border-radius: 1rem;
				position: absolute;
				left: 50%;
				bottom: 1rem;
				z-index: 2;
				color: white;
				-ms-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				background-color: rgba(0, 0, 0, .5);
				text-align: center;
				line-height: 1.8rem;
				.current-count {
				}
				.total-count {
					&::before {
						content: "/";
						margin: 0 3px;
					}
				}
			}

		}
		.user {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 2rem;

			.user-profile {
				width: 50px;
				height: 50px;
				border-radius: 100%;
				overflow: hidden;

				.image-content {
					border-radius: 100%;
				}
			}
		}

		.user .recommend-heart {
			display: flex;
			align-items: center;
			padding-top: 1rem;
			//.rating {
			//	font-size: 0.8rem;
			//	color: #ffba00;
			//	letter-spacing: 0.5px;
			//	margin-left: 5px;
			//}
			//.heart {
			//	position: relative;
			//	width: 16px;
			//	height: 12px;
			//	margin-right: 1px;
			//	&:before,
			//	&:after {
			//		position: absolute;
			//		content: "";
			//		left: 7px;
			//		top: 0;
			//		width: 8px;
			//		height: 12px;
			//		background-color: #e5e5e5;
			//		border-radius: 50px 50px 0 0;
			//		transform: rotate(-45deg);
			//		transform-origin: 0 100%;
			//	}
			//
			//	&:after {
			//		left: 0;
			//		transform: rotate(45deg);
			//		transform-origin :100% 100%;
			//	}
			//
			//	&.full {
			//		&:before,
			//		&:after {
			//			background: #ffba00;
			//		}
			//	}
			//
			//	&.half {
			//		&:before {
			//			background: #ffba00;
			//		}
			//	}
			//}
		}

		.user .user-content {
			text-align: center;
			width: 100%;
			.name {
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				word-wrap: normal;
			}

			.comment {
				padding: 1rem 0;
				word-break: break-word;
			}

			.reg_dt {
				color: #969696;
				font-weight: 300;
				font-size: 0.8rem;
			}
		}
	}

	.about-artist-artist_review {
		.artist {
			padding: 1rem 2rem 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			//padding-top: 1rem;

			.name {
				color: #ffba00;
			}

			.comment {
				padding: 0.5rem 0;
				word-break: break-word;
			}

			.reg_dt {
				color: #969696;
				font-weight: 300;
				font-size: 0.8rem;
			}
		}
	}
}