//// breadcrumb
.breadcrumb-box {
    display: inline-block;

    .breadcrumb-child {
        display: table;
        height: 110px;
        float: left;

        .breadcrumb-arrow {
            display: inline-block;
            float: left;
            margin: 35px 15px 0 15px;
        }

        .breadcrumb-content {
            display: table-cell;
            vertical-align: bottom;
            text-align: center;

            .breadcrumb-icon {
                text-align: center;
            }

            .breadcrumb-text {
                display: inline-block;
                margin-top: 10px;
                font-size: 12.9px;
                letter-spacing: -0.6px;
                font-weight: bold;
                color: #969696;

                &.badge {
                    &:after {
                        content: attr(data-count);
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin-left: 5px;
                        background-color: #e1e1e1;
                        border-radius: 100%;
                        text-align: center;
                        font-size: 12.9px;
                        line-height: 30px;
                        letter-spacing: -0.6px;
                    }
                }
            }

            &.active {
                .breadcrumb-text {
                    color: #000;
                }

                .badge {
                    &:after {
                        color: #fff;
                        background-color: #ff326c;
                    }
                }
            }
        }
    }
}
