// BASE
$toolbar-margin-bottom: 18px;
$toolbar-title-font-size: 19px;
$skeleton-header-padding-bottom: 10px;
$skeleton-header-font-size: 11px;
$skeleton-body-column-size: 34px;
$skeleton-body-font-size: 13px;
$label-size: 12px;

// LARGE
$toolbar-margin-bottom-lg: 25px;
$toolbar-title-font-size-lg: 27px;
$skeleton-header-padding-bottom-lg: 38px;
$skeleton-header-font-size-lg: 14px;
$skeleton-body-column-size-lg: 44px;
$skeleton-body-font-size-lg: 17px;
$label-size-lg: 12px;

// popup
$toolbar-margin-bottom-popup: 25px;
$toolbar-title-font-size-popup: 27px;
$skeleton-header-padding-bottom-popup: 38px;
$skeleton-header-font-size-popup: 14px;
$skeleton-body-column-size-popup: 44px;
$skeleton-body-font-size-popup: 17px;
$label-size-popup: 12px;

$has-event-color: #ffba00;
$disabled-color: #f3f3f3;
$selected-color: #ff326c;


.slim-calendar {
    position: relative;

    // BASE
    &-container,
    &-row,
    &-column {
        position: relative;
    }

    &-skeleton {
        position: relative;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        box-sizing: border-box;

        &__header {
            th {
                font-size: $skeleton-header-font-size;
                font-weight: normal;
                padding-bottom: $skeleton-header-padding-bottom;
            }
        }

        &__body {
            td {
                font-size: $skeleton-body-font-size;
            }
        }
    }

    &-column {
        text-align: center;
        vertical-align: middle;
        padding-top: 0.2em;
        padding-bottom: 0.2em;

        a {
            display: inline-block;
            width: $skeleton-body-column-size;
            height: $skeleton-body-column-size;
            line-height: $skeleton-body-column-size - 2;
            color: #000;
            text-align: center;
            letter-spacing: -0.6px;
            text-decoration: none;
            border: 2px solid transparent;
            border-radius: 50%;
        }

        &--selected {
            a {
                background-color: $selected-color;
                color: #fff;
            }
        }

        &--disabled {
            a {
                background-color: $disabled-color !important;
                color: #cbcbcb !important;
                border-color: $disabled-color !important;
                cursor: not-allowed;
            }
        }

        &--has-event {
            a {
                border-color: $has-event-color;
            }
        }
    }

    &-label {
        position: relative;
        padding-left: $label-size + 4;
        padding-right: 20px;

        &::before {
            content: " ";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: $label-size;
            height: $label-size;
            border-radius: 50%;
        }

        &--has-event {
            &::before {
                background-color: $has-event-color;
                border: 2px solid $has-event-color;
            }
        }

        &--disabled {
            &::before {
                background-color: $disabled-color;
                border: 2px solid $disabled-color;
            }
        }

        &--selected {
            &::before {
                background-color: $selected-color;
                border: 2px solid $selected-color;
            }
        }
    }


    // STRUCTURE
    &__view,
    &__view-container {
        position: relative;
    }

    &__toolbar {
        position: relative;
        text-align: center;
        margin-bottom: $toolbar-margin-bottom;
        padding-left: 0.5em;
        padding-right: 0.5em;

        &-container {
            position: relative;
        }

        .slim-calendar-title {
            font-size: $toolbar-title-font-size;
            font-weight: 500;
        }

        .slim-calendar-prev-btn {
            position: absolute;
            left: 0;
            top: 0;
        }

        .slim-calendar-next-btn {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__label {
        position: relative;
        margin-top: 10px;

        &-container {
            font-size: $label-size;
            letter-spacing: -0.6px;
            color: #000;
        }
    }
}

.slim-calendar-large {
    .slim-calendar {
        &__toolbar {
            margin-bottom: $toolbar-margin-bottom-lg;

            .slim-calendar-title {
                font-size: $toolbar-title-font-size-lg;
            }
        }
    }

    &-skeleton {
        &__header {
            th {
                font-size: $skeleton-header-font-size-lg;
                font-weight: normal;
                padding-bottom: $skeleton-header-padding-bottom-lg;
            }
        }

        &__body {
            td {
                font-size: $skeleton-body-font-size-lg;
            }
        }
    }

    &-column {
        a {
            width: $skeleton-body-column-size-lg;
            height: $skeleton-body-column-size-lg;
            line-height: $skeleton-body-column-size-lg - 2;
        }
    }

    &__label {
        &-container {
            font-size: $label-size-lg;
        }
    }
}

.slim-calendar-popup {
    .slim-calendar {
        &__toolbar {
            margin-bottom: $toolbar-margin-bottom-popup;

            .slim-calendar-title {
                font-size: $toolbar-title-font-size-popup;
            }
        }
    }

    &-skeleton {
        &__header {
            th {
                font-size: $skeleton-header-font-size-popup;
                font-weight: normal;
                padding-bottom: $skeleton-header-padding-bottom-popup;
            }
        }

        &__body {
            td {
                font-size: $skeleton-body-font-size-popup;
            }
        }
    }

    &-column {
        a {
            width: $skeleton-body-column-size-popup;
            height: $skeleton-body-column-size-popup;
            line-height: $skeleton-body-column-size-popup - 2;
        }
    }

    &__label {
        &-container {
            font-size: $label-size-popup;
        }
    }
}