////
/// @group mixins
////

/// float 형식을 사용하면 부모 요소가 자식 요소를 제대로 감싸지 못하는 현상을 해결한다.
@mixin clearfix() {
    &::before,
    &::after {
        content: " ";
        display: table;
    }

    &::after {
        clear: both;
    }
}
