////
/// @group mixins
////

/// 화면에는 보이지 않지만 스크린 리더기는 내용을 읽는다.
@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/// .sr-only와 함께 사용하며, 스크린 리더기만 읽는 컨텐츠가 포커스 되었을 때 화면에 보여준다.
@mixin sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}
