// =========== info type ==============
.ex_card__panel__type {
	&.info {
		position: relative;
		display: flex;
		flex: 1 1 auto;
		justify-content: space-between;
		padding: 0 40px;
		transform: translateY(-65px);
	}

	.info__title,
	.info__content {
		width: 50%;
		text-align: left;
	}

	.info__title {
		//font-family: "Nanum Myeongjo", Helvetica, AppleSDGothicNeo, Arial, sans-serif;
		position: relative;
		color: #fff;
		font-size: 32px;
		font-weight: bold;
		letter-spacing: -2px;

		&:after {
			display: inline-block;
			content: "";
			height: 2px;
			width: 154px;
			background-color: #fff;
			margin-left: 30px;
			position: relative;
			top: -14px;
		}
	}

	.info__content {
		&-key {
			display: flex;
			flex: 1 1 auto;
			flex-direction: row;
			margin-bottom: 15px;
			width: 100%;
		}

		&-key .name {
			flex: 0 0 90px;
		}

		&key .desc {
			flex: 0 0 auto;
		}
	}
	// =========== info type ./end ==============
}