@import "mobile/resources/scss/mixins";
.m-photoViewer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2001;
    overflow: hidden;

    &-wrap {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .moveArrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        top: 0;
        bottom: 0;
        color: #fff;
        z-index: 7100;
        width: 60px;
        height: 60px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.2);
        text-shadow: 2px 2px 5px #333;
        font-size: 40px;
        //display: block;

        &.hide {
            display: none;
        }

        &.btn_prev {
            transition: left 0.3s ease-out;
            left: -60px;
            cursor: pointer;

            .icon {
                transform: translateY(60%);
            }
        }
        &.btn_next {
            transition: right 0.3s ease-out;
            right: -60px;
            cursor: pointer;

            .icon {
                transform: translateY(60%);
            }
        }

        &.btn_prev,
        &.btn_next {
            z-index: 7100;
        }
    }
    .btn_area {
        display: block;

        &.is_show {
            .btn_prev {
                left: 0;
            }
            .btn_next {
                right: 0;
            }
        }
    }

    .viewer-header {
        position: absolute;
        transition: top 0.3s ease-out, background-color 0.3s ease-out;
        //top: -3.2rem;
        left: 0;
        right: 0;
        z-index: 7100;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, .2);

        .header-info-box {
            position: relative;
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .photo-counter {
                position: relative;
                padding-left: 20px;
                font-size: 14px;
                color: #fff;
            }

            .close {
                position: relative;
                margin-right: 15px;
                font-size: 1.5rem;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
                .close-btn {
                    color: white;
                    cursor: pointer;
                }
            }

            .total_photo {
                &::before {
                    content: "/";
                    margin: 0 3px;
                }
            }
        }
        .header-photo_thumbnail {
            padding: 0 1rem;
        }
    }

    p {
        color: white;
    }
    .pinkText {
        color: #ff326c;
    }
}

.swiper-photoSlider {
    .mSlider {
        .forsnap-loading-img {
            border-radius: 100%;
            overflow: hidden;

            width: 60px;
            height: 60px;
            animation: none;
            &:after {
                background-image: none;
            }
        }
        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 1;
        }
    }
}

.group_info {
    &.is_show {
        .viewer-header {
            top: 0;
        }
        .viewer-info {
            bottom: 0;
        }
    }
}

.viewer-info {
    position: absolute;
    transition: bottom 0.3s ease-out;
    bottom: -190px;
    left: 0;
    right: 0;
    z-index: 7100;
    font-size: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    .artistProfile {
        width: 52px;
        height: 52px;
        float: left;
        margin-right: 1rem;
        border-radius: 100%;
        overflow: hidden;
    }
    .artistContent {
        display: flex;
        flex-direction: column;
        line-height: 1.7;
        text-align: left;
        .title {
            @include ellipsis();
        }
    }
}

//#root {
//    overflow: hidden;
//}
