.pop-policy__modal {
    width: 95%;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
    border-radius: 9px;
    padding: 26px 18px 18px;

    .forsnap__logo {
        position: relative;
        text-align: center;

        ._button__close {
            position: absolute;
            bottom: 65%;
            right: 0;
            width: 23px;
            height: 23px;
        }
    }

    .pop__desc {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-top: 27px;
        word-break: keep-all;
    }

    .pop-bold {
        font-weight: bold;
    }

    .pop__content {
        margin-top: 10px;
        border-radius: 5px;
        background-color: #f1f1f1;

        padding: 14px 18px;
        text-align: left;

        p {
            font-size: 11px;
            font-weight: normal;
            line-height: 1.45;
            letter-spacing: normal;
            color: #666666;
        }
    }

    .pop__policy__row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &:first-child {
            border-top: 2px solid #000;
        }

        &:last-child {
            border-bottom: 1px solid #dedede;
            margin-bottom: 30px;
        }
    }

    .pop__policy__column {
        width: calc(100% / 3);
        font-size: 12px;
        font-weight: normal;
        letter-spacing: normal;
        padding: 10px 0;

        &:nth-child(n + 2) {
            border-left: 1px solid #dedede;
        }

        &.head {
            background-color: #efefef;
            color: #666666;
        }
    }

    .pop__button {
        margin-top: 15px;
        ._button {
            font-size: 14px;
            width: 60%;
            height: 45px;
            //font-size: 1.125em;
            font-weight: bold;
            background-color: #f7b500;
        }
    }
}