{% extends "template/public.twig" %}

{% block meta_data %}
{% endblock %}

{% block template %}
    <div>
        <h1>{{ category["name"] }} 포트폴리오</h1>
        {% if portfolio %}
            {% for o in portfolio["list"] %}
                <img alt="포트폴리오_{{ o.nick_name }}" src="{{ thumb_host }}/normal/resize/1400x1000{{ o.portfolio_img }}" />
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
