@import "mobile/resources/scss/variables";


.login-page {
    a,
    a:link,
    a:visited,
    a:active {
        color: #000;
    }

    .login__container {
        padding: 40px 20px 80px;
    }

    .login__logo {
        text-align: center;

        img {
            width: 50%;
            max-width: 100%;
        }
    }

    .email__login {
        margin-top: 35px;

        .login__error {
            margin-top: 10px;
            color: #d0021b;
            font-size: 0.938em;
            line-height: 1;
        }

        ._input {
            height: 60px;
            font-size: 1.125em;

            &:nth-child(n+2) {
                margin-top: 10px;
            }
        }

        ._button {
            $button_color: #b9b9b9;
            width: 100%;
            height: 60px;
            color: #fff;
            font-size: 1.25em;
            background-color: $button_color;
            border-color: $button_color;

            &:nth-child(n+2) {
                margin-top: 10px;
            }

            &:active,
            &:hover {
                background-color: darken($button_color, 15%);
                border-color: darken($button_color, 15%);
            }
        }

        .auto__login {
            margin-top: 20px;
            color: #333;

            .check__box {
                .check__icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    border-radius: 100%;
                }
            }
        }

        .login__options {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin-top: 20px;

            .find {
                flex: 0 0 auto;
                color: #888;
            }

            .join {
                flex: 0 0 auto;
                margin-left: 15px;
                padding-left: 15px;
                border-left: 1px solid #dadada;
                color: #888;
            }
        }
    }

    .social__login {
        margin-top: 20px;
        padding-top: 30px;
        border-top: 1px solid #dadada;

        &__buttons {
            display: flex;
            flex-flow: row nowrap;
        }

        .lead {
            color: #333;
            letter-spacing: -0.7px;
            margin-top: 20px;
            text-align: center;
        }

        ._button {
            flex: 1 1 auto;
            width: 100%;
            height: 90px;
            border: 0;
            color: #fff;
            font-size: 1.15em;
            font-weight: 500;
            line-height: 1.25;
            letter-spacing: -1px;

            &:nth-child(n+2) {
                margin-left: 10px;
            }

            &.social__naver {
                background-color: #59b836;

                &:hover,
                &:focus {
                    background-color: darken(#59b836, 10%);
                }
            }

            &.social__facebook {
                background-color: #39579a;

                &:hover,
                &:focus {
                    background-color: darken(#39579a, 10%);
                }
            }

            &.social__kakaotalk {
                background-color: #ffd403;

                &:hover,
                &:focus {
                    background-color: darken(#ffd403, 10%);
                }
            }
        }
    }
}

